@import './../../../../styles.scss';

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 8px;
}

::ng-deep dados-gerais-comprador label {
  font-weight: bold !important;
  color: #296075 !important;
  font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

.hr {
  position: absolute !important;
  height: 0px !important;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;

  border: 1px solid #cfdce0 !important;
}

.title-hr {
  padding-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #417185;
}

::ng-deep dados-gerais-comprador div.dados-gerais {
  select.form-control,
  input.form-control {
    background-color: rgba(255, 255, 255, 0);

    .disabled {
      background-color: #e9ecef !important;
    }

    border-radius: 8px !important;
    border: 1px solid #cfdce0 !important;
    .ng-placeholder {
      color: #588394 !important;
      font-weight: bold;
    }

    color: #417185 !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 13px !important;
  }

  color: #417185 !important;
}
::ng-deep dados-gerais-comprador input-number .input-group {
  background-color: rgba(255, 255, 255, 0) !important;
  border-radius: 8px !important;
  border: 1px solid #cfdce0 !important;
  padding: 0 1.25rem !important;

  .ng-placeholder {
    color: #588394 !important;
    font-weight: bold;
  }

  button i {
    color: #417185 !important;
  }

  select.form-control,
  input.form-control {
    border-radius: none !important;
    border: none !important;
  }
}

::ng-deep dados-gerais-comprador input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

::ng-deep dados-gerais-comprador div.dados-gerais {
  ng-select.ng-select-opened.ng-select-bottom > .ng-select-container,
  ng-select.ng-select.ng-select-single .ng-select-container,
  ng-dropdown-panel.ng-dropdown-panel.ng-select-bottom {
    background-color: rgba(255, 255, 255, 0) !important;
    border-radius: 8px !important;
    border: 1px solid #cfdce0 !important;
    .ng-placeholder {
      color: #588394 !important;
      font-weight: bold;
    }

    color: #417185 !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 13px !important;

    div.ng-option {
      color: #588394 !important;
    }
  }
}

::ng-deep dados-gerais-comprador div.justify-content-end sdk-rectangle-button {
  width: auto;

  button {
    padding: 0 30px !important;
    height: 32px !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 100% !important;
    display: flex !important;
    align-items: center !important;
    color: #ffffff !important;
    background: #588394 !important;
    flex: none !important;

    border-radius: 8px !important;

    &:hover {
      background-color: #114e66 !important;
      color: #ffffff;
    }
  }
}

::ng-deep dados-gerais-comprador div.form-group sdk-rectangle-button {
  button {
    color: #588394 !important;
    border-color: #588394 !important;

    &:hover {
      background-color: #588394 !important;
      color: #ffffff !important;
    }
  }
}

::ng-deep .modal-manter-usuario > div.modal-dialog > div.modal-content {
  width: 80%;
  margin-left: 10%;

  & > manter-usuario-modal {
    button.btn-outline-primary {
      border-radius: 8px;
      width: 9.7rem;
    }

    button.btn-primary {
      border-radius: 8px;
      width: 9.7rem;
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
  }
}
