.header {
  background-color: #00a2d2;
}

.text-white {
  color: white;
}

.background-dashboard-fornecedor {
  background-color: #f0f0f0;
}
.background-dashboard-fastEquote {
  background-color: #F0F0F0;
  height: 100vh;
}
