.container {
  display: flex;
}

.sidebar-header {
  border-bottom: 1px solid #e0e0e0;
  height: 88px;
}

.sidebar-title {
  padding-top: 15px;
  align-self: center;
  font-weight: bold;
}

.close-button {
  align-self: center;
}

.sidebar-body {
  height: 488px;
}

.sidebar-footer {
  height: 80px;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.action-button {
  height: 32px !important;
  align-self: center !important;
}
