<div class="custom-class">
  <div class="">
    <div class="container sidebar-header">
      <p class="sidebar-title col-11">{{ nameTitle }}</p>
      <a class="nav-link col-1 close-button" role="button" (click)="closeSideBar()"
        ><i class="fas fa-times"></i>
      </a>
    </div>
    <div class="container sidebar-body"></div>
    <div class="container sidebar-footer">
      <button
        class="
          btn
          footer-button
          btn-primary
          text-center
          btn-block
          button-border-radius
          action-button
        "
      >
        {{ nameButton }}
      </button>
    </div>
  </div>
</div>
