<sdk-modal [title]="criacao ? 'Incluir Usuário' : 'Editar Usuário'">
  <form class="d-flex flex-column w-100" [formGroup]="form">
    <div *ngIf="showEmail" class="form-group required">
      <label for="email" translate> Email </label>
      <div class="d-flex">
        <input
          class="form-control col-md-9 mr-4"
          [class.invalid]="form.controls.email.invalid && form.controls.email.dirty"
          type="text"
          name="email"
          formControlName="email"
          [(ngModel)]="email"
        />
        <input type="button" class="btn btn-primary col-md-2" (click)="buscar()" value="Buscar" />
      </div>
      <span
        class="invalid"
        *ngIf="
          form.controls.email.invalid &&
          form.controls.email.errors.email &&
          form.controls.email.dirty
        "
      >
        Email inválido
      </span>
      <span
        class="invalid"
        *ngIf="
          form.controls.email.invalid &&
          form.controls.email.errors.required &&
          form.controls.email.dirty
        "
      >
        Preenchimento obrigatório
      </span>
    </div>
    <div *ngIf="showInputs">
      <div class="form-row">
        <div class="form-group required col-md-8">
          <label for="nome" translate> Nome </label>
          <input
            class="form-control"
            [class.invalid]="form.controls.nome.invalid && form.controls.nome.dirty"
            type="text"
            name="nome"
            formControlName="nome"
          />
          <span class="invalid" *ngIf="form.controls.nome.invalid && form.controls.nome.dirty">
            Preenchimento obrigatório
          </span>
        </div>
        <div class="form-group required col-12 col-md-4">
          <label for="situacao" translate> Situação </label>
          <select
            id="situacao"
            class="form-control"
            [class.invalid]="form.controls.situacao.invalid && form.controls.situacao.dirty"
            name="situacao"
            formControlName="situacao"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="Situacao.Liberado" translate>Liberado</option>
            <option [ngValue]="Situacao.Bloqueado" translate>Bloqueado</option>
            <option [ngValue]="Situacao.BloqueadoPorExcessoTentativas" translate>
              Bloqueado por excesso de tentativas
            </option>
          </select>
          <span
            class="invalid"
            *ngIf="form.controls.situacao.invalid && form.controls.situacao.dirty"
          >
            Preenchimento obrigatório
          </span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="telefone" translate>Telefone</label>
          <input
            class="form-control"
            [textMask]="{ mask: maskTelefone, guide: false }"
            type="text"
            name="telefone"
            formControlName="telefone"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="ramal" translate>Ramal</label>
          <input
            class="form-control"
            type="text"
            name="ramal"
            formControlName="ramal"
            [value]="usuario?.ramal ? usuario?.ramal : ''"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="celular" translate>Celular</label>
          <input
            class="form-control"
            [textMask]="{ mask: maskCelular, guide: false }"
            type="text"
            name="celular"
            formControlName="celular"
          />
        </div>
      </div>

      <div class="form-row" *ngIf="!isUserSupplier">
        <div class="form-group required col-md-4">
          <label for="perfil" translate>Perfil</label>
          <select id="perfil" class="form-control" formControlName="perfil">
            <option *ngFor="let key of perfilList" [value]="key">
              {{ perfilUsuarioLabel.get(key).valueOf() }}
            </option>
          </select>
          <span class="invalid" *ngIf="form.controls.perfil.invalid && form.controls.perfil.dirty">
            Preenchimento obrigatório
          </span>
        </div>
      </div>
      
      <div class="d-flex justify-content-end pt-3">
        <input
          type="button"
          class="btn btn-outline-danger"
          value="Cancelar"
          style="margin-right: 2rem; width: 8rem"
          (click)="cancelar()"
        />
        <input
          type="button"
          class="btn btn-primary"
          value="Salvar"
          style="width: 8rem"
          (click)="salvar()"
        />
      </div>
    </div>
  </form>
</sdk-modal>
