@import '../../../../styles.scss';

.initials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $white;
  width: 4rem;
  height: 4rem;
  float: right;

  .initials {
    font-size: 26px;
    color: $white;
  }

  &.other-user {
    background-color: $primary;
  }

  &.current-user {
    background-color: $new-ux-smarkets-gray;
  }
}

.comment {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $input-color;
  background-color: $white;
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius;
  min-height: 117.5px;
}

textarea {
  resize: none;
}
