<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">
    Prazos de Atendimento
  </div>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="form-row" [formGroup]="form">
    <div class="form-group required  col-3">
      <label for="idEstado"> Estado </label>
      <ng-select
        [items]="estadosSelecionaveis"
        bindLabel="nome"
        bindValue="idEstado"
        [hideSelected]="false"
        name="idEstado"
        formControlName="idEstado">
      </ng-select>
      <span class="invalid" *ngIf="form.controls.idEstado.invalid && form.controls.idEstado.dirty">Preenchimento
        obrigatório</span>
    </div>
    <div class="form-group required  col-4">
      <label for="prazoEntrega"> Prazo de entrega (em dias)</label>
      <input-number
        name="prazoEntrega"
        formControlName="prazoEntregaDias"
        [class.invalid]="form.controls.prazoEntregaDias.invalid && form.controls.prazoEntregaDias.dirty"
        [min]="1"
        [max]="999999">
      </input-number>
      <div *ngIf="form.controls.prazoEntregaDias.dirty && form.controls.prazoEntregaDias.invalid">
        <span class="invalid" *ngIf="form.controls.prazoEntregaDias.errors.required">Preenchimento obrigatório</span>
        <span class="invalid" *ngIf="form.controls.prazoEntregaDias.errors.min">Prazo mínimo permitido é de 1 dia</span>
        <span class="invalid" *ngIf="form.controls.prazoEntregaDias.errors.max">Prazo máximo permitido é de 999999
          dias</span>
      </div>
    </div>
    <div class="form-group mt-1 col-2">
      <label for="idEstado"> </label>
      <button *ngIf="!modoEdicao" role=button class="btn btn-block btn-primary include" [class.disabled]="form.invalid"
        (click)="incluir()">
        <i class="fas fa-plus"></i> Incluir
      </button>
      <button *ngIf="modoEdicao" role=button class="btn btn-block btn-primary save" [class.disabled]="form.invalid"
        (click)="salvarAlteracao()">
        <i class="fas fa-save"></i> Salvar
      </button>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-0 pad-lef">
      <button role=button class="btn btn-block edition" [class.disabled]="!selecionados?.length || selecionados?.length > 1" ngbTooltip="Editar" (click)="editar()">
        <i class="fas fa-edit"></i>
      </button>
    </div>
    <div class="col-0 pad-lef">
      <button role=button ngbTooltip="Remover" class="btn btn-block btn-danger" [class.disabled]="!selecionados?.length"
        (click)="solicitarExclusao()">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="col-0 pad-lef" *ngIf="selecionados?.length && desabiliteBotaoQuandoInclusao">
          <button role=button ngbTooltip="Ativar" class="btn btn-block btn-success"
            (click)="alterarSituacao(Situacao.Ativo)">
            <i class="fas fa-check"></i>
          </button>
        </div>
        <div class="col-0 pad-lef" *ngIf="selecionados?.length && desabiliteBotaoQuandoInclusao">
          <button role=button ngbTooltip="Desativar" class="btn btn-block btn-danger"
            (click)="alterarSituacao(Situacao.Inativo)">
            <i class="fas fa-times"></i>
          </button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <custom-table classes="table-striped table-sm" [settings]="settings" [source]="estados" (select)="selecao($event)"
        not-found="Nenhum Estado foi configurado" [class.disabled]="modoEdicao"></custom-table>
      <pager [page]="pagina" [total-pages]="totalPaginas" [records-per-page]="itensPorPagina"
        (pagination)="paginacao($event)" [class.disabled]="modoEdicao"></pager>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cross click')">Fechar</button>
    <button type="button" class="btn btn-outline-primary" (click)="salvar()">Salvar</button>
  </div>
</div>
