<div
  class="infinite-scroll"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <div class="header">
    <div class="header-search row">
      <div class="col-lg-8 pt-5">
        <input-busca
          label="O que você procura?"
          placeholder="Buscar por nome da avaliação..."
          (buscar)="buscar($event)"
        ></input-busca>
      </div>
    </div>
  </div>

  <div class="custom-nav-tabs">
    <ul class="nav nav-tabs row bounds" id="avaliacoesTab" role="tablist">
      <li class="nav-item col-md-6 col-lg-3">
        <a
          class="nav-link nav-link-block active"
          id="avaliacoes-tab"
          data-toggle="tab"
          href="#avaliacoes"
          role="tab"
          aria-controls="avaliacoes"
          aria-selected="false"
        >
          Avaliações
        </a>
      </li>
    </ul>

    <div class="tab-content bounds" id="avaliacoesTabContent">
      <div
        class="tab-pane fade active show"
        id="avaliacoes"
        role="tabpanel"
        aria-labelledby="avaliacoes-tab"
      >
        <div class="no-content" *ngIf="!resultadosAvaliacaoFornecedor?.length" translate>
          GENERAL.NO_RECORDS_FOUND
        </div>
        <div
          class="card card-tab-content card-collapse"
          *ngFor="let resultado of resultadosAvaliacaoFornecedor; let i = index"
        >
          <a
            class="card-header collapsed"
            data-toggle="collapse"
            href="#resultado{{ i }}"
            id="collapse{{ i }}"
            (click)="mostrarAvaliacao('collapse' + i, i)"
            *ngIf="!_idAvaliacaoFornecedor"
          >
            <div class="d-inline-flex pr-1 w-25 text-truncate">
              Fornecedor:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ resultado.fornecedorAvaliado.razaoSocial }}
              </span>
            </div>
            <div
              class="d-inline-flex pr-3 text-truncate w-25"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Nome da Avaliação"
            >
              <span
                class="font-weight-bold pl-1 pr-3 text-truncate"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Nome da Avaliação"
              >
                {{ resultado.disparo.nomeAvaliacao }}</span
              >
            </div>
            <div class="d-inline-flex pr-1 w-25 text-truncate">
              Data Início:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ resultado.disparo.dataInicio | date: 'dd/MM/yyyy' }}
              </span>
            </div>
            <div class="d-inline-flex pr-1 w-20 text-truncate">
              Data Fim:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ resultado.disparo.dataFim | date: 'dd/MM/yyyy' }}
              </span>
            </div>
            <div class="d-inline-flex pr-1 w-25 text-truncate">
              Data Solicitação:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ resultado.disparo.dataDisparo | date: 'dd/MM/yyyy' }}
              </span>
            </div>
            <div class="d-inline-flex pr-1 w-25 text-truncate">
              Situação:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ SituacaoResposta[resultado.situacao] }}
              </span>
            </div></a
          >

          <a
            class="card-header collapsed"
            data-toggle="collapse"
            href="#resultado{{ i }}"
            id="collapse{{ i }}"
            (click)="mostrarAvaliacao('collapse' + i, i)"
            *ngIf="_idAvaliacaoFornecedor"
          >
            <div class="d-inline-flex pr-1 w-25 text-truncate">
              Avaliador:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ resultado.usuarioAvaliador?.pessoaFisica?.nome }}
              </span>
            </div>

            <div class="d-inline-flex pr-1 w-40 text-truncate">
              Fornecedor:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ resultado.fornecedorAvaliado.razaoSocial }}
              </span>
            </div>

            <div class="d-inline-flex pr-1 w-25 text-truncate">
              Situação:
              <span class="font-weight-bold pl-1 pr-2 text-truncate">
                {{ SituacaoResposta[resultado.situacao] }}
              </span>
            </div></a
          >

          <div class="card-body collapse" id="resultado{{ i }}">
            <div class="container-fluid">
              <div class="bg-white border-bottom row py-2">
                <div class="col-12">
                  <label class="mt-1 col-3 text-justify"
                    ><span class="font-weight-bold pl-1 pr-2 text-truncate">CNPJ: </span>
                    {{ resultado.fornecedorAvaliado.cnpj }}</label
                  >
                  <label class="mt-1 col-5 text-justify">
                    <span class="font-weight-bold pl-1 pr-2 text-truncate">Razão Social: </span>
                    {{ resultado.fornecedorAvaliado.razaoSocial }}</label
                  >
                  <label class="mt-1 col-4 text-justify">
                    <span class="font-weight-bold pl-1 pr-2 text-truncate">Nome Fantasia: </span>
                    {{ resultado.fornecedorAvaliado.pessoaJuridica?.nomeFantasia }}</label
                  >
                </div>
              </div>

              <div class="bg-lighter border-bottom row py-4">
                <div class="col-12">
                  <label class="mt-2 text-uppercase text-justify font-weight-bold">
                    {{ resultado.disparo.introducao }}</label
                  >
                </div>
              </div>

              <div
                class="row bg-white border-bottom"
                *ngFor="let resposta of resultado.respostas; let i2 = index"
              >
                <div class="col-12">
                  <div class="col-lg-12 text-justify mt-2">
                    <span class="text-uppercase text-primary font-weight-bold">{{
                      resposta.pergunta
                    }}</span>
                    <br />
                    <div class="mt-2">
                      <small class="font-italic">
                        {{ resposta.notaExplicativa }}
                      </small>
                    </div>
                  </div>
                </div>

                <div
                  class="my-4"
                  [ngClass]="resposta.permiteComentario ? 'col-lg-11' : 'col-lg-12'"
                >
                  <ng-select
                    *ngIf="resposta.tipo == 2"
                    [(ngModel)]="resposta.resposta"
                    [ngModelOptions]="{ standalone: true }"
                    [disabled]="
                      [SituacaoResposta.Respondida, SituacaoResposta['Não Respondida']].includes(
                        resultado.situacao
                      ) || _idAvaliacaoFornecedor
                    "
                  >
                    <ng-option *ngFor="let opcao of resposta.opcoes" [value]="opcao.descricao">
                      {{ opcao.descricao }}
                    </ng-option>
                  </ng-select>
                  <input
                    class="form-control"
                    type="text"
                    *ngIf="resposta.tipo == 1"
                    [(ngModel)]="resposta.resposta"
                    [ngModelOptions]="{ standalone: true }"
                    [disabled]="
                      [SituacaoResposta.Respondida, SituacaoResposta['Não Respondida']].includes(
                        resultado.situacao
                      ) || _idAvaliacaoFornecedor
                    "
                  />
                </div>

                <div class="col-lg-1 mt-4" *ngIf="resposta.permiteComentario">
                  <a
                    class="btn btn-icon"
                    data-toggle="collapse"
                    href="#comentarios{{ i }}-{{ i2 }}"
                    role="button"
                    aria-expanded="false"
                    aria-controls="comentarios"
                  >
                    <i class="far fa-comment-dots"></i>
                  </a>
                </div>

                <div class="col-12 p-0 collapse" id="comentarios{{ i }}-{{ i2 }}">
                  <div class="bg-white col-lg-12">
                    <div class="row">
                      <div class="col-12 bg-lighter">
                        <p class="my-2"><span class="font-weight-bold">Comentário</span></p>
                      </div>
                    </div>
                    <div
                      class="row my-3"
                      *ngIf="
                        !resposta.comentario &&
                        !_idAvaliacaoFornecedor &&
                        ![SituacaoResposta.Respondida, SituacaoResposta['Não Respondida']].includes(
                          resultado.situacao
                        )
                      "
                    >
                      <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
                        <div class="initials-container current-user">
                          <div class="initials">
                            {{ getInitials(usuarioLogado?.pessoaFisica?.nome) }}
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-11 col-xl-10">
                        <div class="input-group">
                          <textarea
                            class="form-control resize-none"
                            rows="5"
                            placeholder="Adcione um novo comentário"
                            [(ngModel)]="comentarios[i2]"
                            [ngModelOptions]="{ standalone: true }"
                          ></textarea>
                          <div class="input-group-append">
                            <button
                              class="btn btn-icon px-5"
                              type="button"
                              (click)="enviarComentario(i, i2)"
                            >
                              <i class="far fa-paper-plane"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row my-3" *ngIf="resposta.comentario">
                      <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
                        <div
                          class="initials-container"
                          [ngClass]="{
                            'other-user':
                              resposta.comentario.idUsuarioAutor == usuarioLogado.idUsuario,
                            'current-user':
                              resposta.comentario.idUsuarioAutor != usuarioLogado.idUsuario
                          }"
                        >
                          <div class="initials">
                            {{ getInitials(resposta.comentario?.usuarioAutor?.pessoaFisica?.nome) }}
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-11 col-xl-10">
                        <div class="container-fluid">
                          <div class="comment row">
                            <div
                              class="col-12 pl-0"
                              [ngClass]="{
                                'col-md-10':
                                  ![
                                    SituacaoResposta.Respondida,
                                    SituacaoResposta['Não Respondida']
                                  ].includes(resultado.situacao) &&
                                  usuarioLogado.idUsuario ==
                                    resposta.comentario.usuarioAutor.idUsuario &&
                                  !_idAvaliacaoFornecedor
                              }"
                            >
                              <p>
                                <span class="font-weight-bold text-uppercase">{{
                                  resposta.comentario.usuarioAutor?.pessoaFisica?.nome
                                }}</span>
                                comentado em
                                {{ resposta.comentario.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}
                              </p>
                              <p *ngIf="indexEdicaoComentario != i + '-' + i2">
                                {{ resposta.comentario.comentario }}
                              </p>
                              <textarea
                                rows="3"
                                class="form-control box-shadow-none py-0 pl-0"
                                [(ngModel)]="comentarioEditado"
                                [ngModelOptions]="{ standalone: true }"
                                *ngIf="indexEdicaoComentario == i + '-' + i2"
                              ></textarea>
                            </div>
                            <div
                              class="col-1 my-auto d-none d-md-block"
                              *ngIf="
                                ![
                                  SituacaoResposta.Respondida,
                                  SituacaoResposta['Não Respondida']
                                ].includes(resultado.situacao) &&
                                usuarioLogado.idUsuario ==
                                  resposta.comentario.usuarioAutor.idUsuario &&
                                !_idAvaliacaoFornecedor
                              "
                            >
                              <button
                                class="btn btn-icon"
                                type="button"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Editar"
                                (click)="
                                  editarComentario(i + '-' + i2, resposta.comentario.comentario)
                                "
                                *ngIf="indexEdicaoComentario != i + '-' + i2"
                              >
                                <i class="far fa-edit text-primary"></i>
                              </button>
                              <button
                                class="btn btn-icon"
                                type="button"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Salvar"
                                (click)="
                                  salvarEdicaoComentario(
                                    resposta.comentario.idRespostaAvaliacaoFornecedorComentario,
                                    i,
                                    i2
                                  )
                                "
                                *ngIf="indexEdicaoComentario == i + '-' + i2"
                              >
                                <i class="fas fa-save text-primary"></i>
                              </button>
                            </div>
                            <div
                              class="col-1 my-auto d-none d-md-block"
                              *ngIf="
                                ![
                                  SituacaoResposta.Respondida,
                                  SituacaoResposta['Não Respondida']
                                ].includes(resultado.situacao) &&
                                usuarioLogado.idUsuario ==
                                  resposta.comentario.usuarioAutor.idUsuario &&
                                !_idAvaliacaoFornecedor
                              "
                            >
                              <button
                                class="btn btn-icon"
                                type="button"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Apagar"
                                (click)="solicitarExclusaoComentario(i, i2)"
                                *ngIf="indexEdicaoComentario != i + '-' + i2"
                              >
                                <i class="far fa-trash-alt text-danger"></i>
                              </button>
                              <button
                                class="btn btn-icon"
                                type="button"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Cancelar"
                                (click)="cancelarEdicaoComentario()"
                                *ngIf="indexEdicaoComentario == i + '-' + i2"
                              >
                                <i class="fas fa-ban text-danger"></i>
                              </button>
                            </div>
                            <div
                              class="col-12 d-block d-md-none d-flex justify-content-around"
                              *ngIf="
                                ![
                                  SituacaoResposta.Respondida,
                                  SituacaoResposta['Não Respondida']
                                ].includes(resultado.situacao) &&
                                usuarioLogado.idUsuario ==
                                  resposta.comentario.usuarioAutor.idUsuario &&
                                !_idAvaliacaoFornecedor
                              "
                            >
                              <button
                                class="btn btn-icon"
                                type="button"
                                (click)="
                                  editarComentario(i + '-' + i2, resposta.comentario.comentario)
                                "
                                *ngIf="indexEdicaoComentario != i + '-' + i2"
                              >
                                <i class="far fa-edit text-primary"></i>
                              </button>
                              <button
                                class="btn btn-icon"
                                type="button"
                                (click)="solicitarExclusaoComentario(i, i2)"
                                *ngIf="indexEdicaoComentario != i + '-' + i2"
                              >
                                <i class="far fa-trash-alt text-danger"></i>
                              </button>
                              <button
                                class="btn btn-icon"
                                type="button"
                                (click)="
                                  salvarEdicaoComentario(
                                    resposta.comentario.idRespostaAvaliacaoFornecedorComentario,
                                    i,
                                    i2
                                  )
                                "
                                *ngIf="indexEdicaoComentario == i + '-' + i2"
                              >
                                <i class="fas fa-save text-primary"></i>
                              </button>
                              <button
                                class="btn btn-icon"
                                type="button"
                                (click)="cancelarEdicaoComentario()"
                                *ngIf="indexEdicaoComentario == i + '-' + i2"
                              >
                                <i class="fas fa-ban text-danger"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="no-content py-4"
                      *ngIf="
                        !resposta.comentario &&
                        (_idAvaliacaoFornecedor ||
                          [
                            SituacaoResposta.Respondida,
                            SituacaoResposta['Não Respondida']
                          ].includes(resultado.situacao))
                      "
                      translate
                    >
                      Nenhum comentário adicionado.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- botoes -->
            <div
              class="modal-footer pt-3 bg-white"
              *ngIf="
                ![SituacaoResposta.Respondida, SituacaoResposta['Não Respondida']].includes(
                  resultado.situacao
                ) && !_idAvaliacaoFornecedor
              "
            >
              <button type="button" class="btn btn-primary" (click)="salvar(i)">
                <i class="fas fa-save"></i> SALVAR
              </button>
              <button type="button" id="btnSalvar" class="btn btn-primary" (click)="finalizar(i)">
                <i class="fas fa-check"></i> FINALIZAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
