<ul class="nav bg-gray" style="top: 0;">
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="voltar()"><i class="fas fa-chevron-left"></i> Voltar</a>
  </li>
</ul>

<div class="container-fluid h-100 no-bounds">
  <div class="row align-items-center h-100">
    <div class="col">
      <div class="row">
        <div class="col-12">
          <div class="text-uppercase text-center display-1 text-primary">
            404
          </div>
        </div>
        <div class="col-12">
          <div class="font-weight-light text-center display-4 text-primary" translate>
            GENERAL.PAGE_NOT_FOUND
          </div>
        </div>
      </div>
    </div>
  </div>
</div>