<smk-modal
 [botaoSalvarHabilitado]="true"
 titulo="Editar"
 fecharLabel="Cancelar"
 (fechar)="cancelar()"
 (salvar)="salvar()"
>
  <form [formGroup]="form">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="numeroPedido">Número do Pedido</label>
        <input
        id="numeroPedido"
        class="form-control"
        type="text"
        formControlName="numeroPedido">
      </div>
      <div class="form-group col-lg-8">
        <label for="linha">Linha do Pedido</label>
        <input
          id="linha"
          class="form-control"
          type="text"
          formControlName="linha">
      </div>
      <div class="form-group col-lg-12">
        <label for="descricaoPedido">Descrição do Pedido</label>
        <input id="descricaoPedido"
        [title]="form.controls['descricaoPedido'].value"
        class="form-control"
        type="text"
        formControlName="descricaoPedido">
      </div>
      <div class="form-group col-lg-4">
        <label for="dataPedido">Data do Pedido</label>
        <input
          id="dataPedido"
          class="form-control"
          type="date"
          formControlName="dataPedido">
      </div>
      <div class="form-group col-lg-4">
        <label for="dataRecebimento"> Data de Recebimento</label>
        <input
          id="dataRecebimento"
          class="form-control"
          type="date"
          formControlName="dataRecebimento">
      </div>
      <div class="form-group col-lg-4">
        <label for="dataColetaImportacao">Data Coleta Importação</label>
        <input
          id="dataColetaImportacao"
          class="form-control"
          type="date"
          formControlName="dataColetaImportacao">
      </div>
      <div class="form-group col-lg-6">
        <label for="fornecedor">Fornecedor</label>
        <input
          id="fornecedor"
          class="form-control"
          type="text"
          formControlName="fornecedor">
      </div>
      <div class="form-group col-lg-6">
        <label for="responsavel">Responsavel</label>
        <input
          id="responsavel"
          class="form-control"
          type="text"
          formControlName="responsavel">
      </div>
      <div class="form-group col-lg-4">
        <label for="situacaoPedido">Situacao do Pedido</label>
        <ng-select
          labelForId="situacaoPedido"
          bindValue="index"
          bindLabel="name"
          clearAllText="Limpar"
          formControlName="situacaoPedido"
          [items]="opcoesSituacao"
          [hideSelected]="true">
        </ng-select>
      </div>
      <div class="form-group col-lg-4">
        <label for="aceitePedido">Aceite do Pedido</label>
        <ng-select
          labelForId="aceitePedido"
          bindValue="index"
          bindLabel="name"
          clearAllText="Limpar"
          formControlName="aceitePedido"
          [items]="opcoesAceite"
          [hideSelected]="true">
        </ng-select>
      </div>
      <div class="form-group col-lg-4">
        <label for="dataRemessa">Data de Remessa</label>
        <input
          id="dataRemessa"
          class="form-control"
          type="date"
          formControlName="dataRemessa">
      </div>
      <div class="form-group col-lg-4">
        <label for="dataRemessa2">Data de Remessa 2</label>
        <input
          id="dataRemessa2"
          class="form-control"
          type="date"
          formControlName="dataRemessa2">
      </div>
      <div class="form-group col-lg-4">
        <label for="motivo">Motivo</label>
        <input
          id="motivo"
          [title]="form.controls['motivo'].value"
          class="form-control"
          type="text"
          formControlName="motivo">
      </div>
      <div class="form-group col-lg-4">
        <label for="notaFiscal">Nota Fiscal</label>
        <input
          id="notaFiscal"
          class="form-control"
          type="text"
          formControlName="notaFiscal">
      </div>
      <div class="form-group col-lg-4">
        <label for="notificacao">Notificação</label>
        <ng-select
          labelForId="notificacao"
          bindValue="index"
          bindLabel="name"
          clearAllText="Limpar"
          formControlName="notificacao"
          [items]="opcoesNotificacao"
          [hideSelected]="true">
        </ng-select>
      </div>
      <div class="form-group col-lg-8">
        <label for="observacao">Observação</label>
        <input
          [title]="form.controls['observacao'].value"
          id="observacao"
          class="form-control"
          type="text"
          formControlName="observacao">
      </div>
    </div>
  </form>
</smk-modal>
