<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">{{ idAlcada?'Alterar':'Incluir' }} alçada</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fa fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="codigo"> Código </label>
        <input class="form-control" type="text" name="codigo" formControlName="codigo">
      </div>
      <div class="form-group col-lg-6">
        <label for="situacao"> Situação </label>
        <ng-select name="situacao" formControlName="situacao"
          [class.invalid]="form.controls.situacao.invalid && form.controls.situacao.dirty">
          <ng-option [value]="Situacao.Ativo">Ativo</ng-option>
          <ng-option [value]="Situacao.Inativo">Inativo</ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.situacao.invalid && form.controls.situacao.dirty">
          Preenchimento obrigatório
        </span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group required col">
        <label for="descricao"> Descrição </label>
        <input type="text" class="form-control" name="descricao" formControlName="descricao"
          [class.invalid]="form.controls.descricao.invalid && form.controls.descricao.dirty">
        <span class="invalid" *ngIf="form.controls.descricao.invalid && form.controls.descricao.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group required col-lg-6">
        <label for="moeda"> Moeda </label>
        <ng-select name="moeda" formControlName="moeda"
          [class.invalid]="form.controls.moeda.invalid && form.controls.moeda.dirty">
          <ng-option [value]="Moeda.Real">Real</ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.moeda.invalid && form.controls.moeda.dirty">Preenchimento
          obrigatório</span>
      </div>
      <div class="form-group required col-lg-6">
        <label for="valor"> Valor </label>
        <input class="form-control" [textMask]="{mask: maskValor, guide: false}" type="text" name="valor"
          formControlName="valor" [class.invalid]="form.controls.valor.invalid && form.controls.valor.dirty">
        <span class="invalid" *ngIf="form.controls.valor.invalid && form.controls.valor.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group required col">
        <label for="idAprovador" translate> Aprovador </label>
        <ng-select name="idAprovador" formControlName="idAprovador"
          [class.invalid]="form.controls.idAprovador.invalid && form.controls.idAprovador.dirty">
          <ng-option [value]="usuario.idUsuario" *ngFor="let usuario of usuarios">{{ usuario?.pessoaFisica?.nome }}
          </ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.idAprovador.invalid && form.controls.idAprovador.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <label>Categorias:</label>
        <ng-select [hideSelected]="true" [items]="categoriasProduto" bindLabel="nome" name="categoriasProduto"
          formControlName="categoriasProduto" [multiple]="true"
          [class.invalid]="form.controls.categoriasProduto.invalid && form.controls.categoriasProduto.dirty"
          [compareWith]="compareFn" (remove)="categoriaRemovida()" (clear)="categoriaRemovida()">
        </ng-select>
        <span><small>Caso nenhuma categoria seja selecionada, alçada será válida para todas as categorias.</small></span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Fechar</button>
  <button type="button" class="btn btn-outline-primary" (click)="salvar()">Salvar</button>
</div>