<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">{{ idNivel?'Alterar':'Incluir' }} nível</div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group required col-lg-6">
        <label for="descricao"> Descrição </label>
        <input type="text" class="form-control" name="descricao" formControlName="descricao"
          [class.invalid]="form.controls.descricao.invalid && form.controls.descricao.dirty">
        <span class="invalid" *ngIf="form.controls.descricao.invalid && form.controls.descricao.dirty">Preenchimento
          obrigatório</span>
      </div>
      <div class="form-group required col-lg-6">
        <label for="valor"> Valor </label>
        <input class="form-control" [textMask]="{mask: maskValor, guide: false}" type="text" name="valor"
          formControlName="valor" [class.invalid]="form.controls.valor.invalid && form.controls.valor.dirty">
        <span class="invalid" *ngIf="form.controls.valor.invalid && form.controls.valor.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
    <div class="form-row">

    </div>
  </form>
  <!-- #region Participantes -->
  <div class="card" *ngIf="idNivel">
    <a class="card-header" data-toggle="collapse" href="#collapseNiveisParticipantes"
      (click)="permitirExibirNiveisParticipantes()">
      Participantes
    </a>
    <div class="card-body">
      <div class="collapse show" id="collapseNiveisParticipantes">
        <listar-niveis-participantes [id-nivel]="idNivel" *ngIf="exibirNiveisParticipantes">
        </listar-niveis-participantes>
      </div>
    </div>
  </div>
</div>
<!-- #endregion -->
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Fechar</button>
  <button type="button" class="btn btn-outline-primary" (click)="salvar()">Salvar</button>
</div>