.tags {
  padding: 5px 0 10px 5em;
  min-height: 45px;
}

@media (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
    flex: 0 0 18.66666667%;
    max-width: 18.66666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    flex: 0 0 10.33333333%;
    max-width: 10.33333333%;
  }
}

.b-dark {
  background: #cfd8dc 0% 0% no-repeat padding-box;
  color: #ffffff;
  text-decoration: none;
}
.b-shaped {
  background-color: #d4effa;
  border: none;
  height: 80px !important;
  i {
    color: #5d899c;
  }
}
.fl-1 {
  flex: 1;
}
