<div class="clonar-produtos-empresa-base">
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">Associar Categoria e Unidade de Medida</div>
    <button type="button" class="close" aria-label="Close" (click)="cancelar()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div [formGroup]="form" class="container-xl">
      <div class="row">
        <div class="col-3">
          <label>Produto Selecionado</label>
        </div>
        <div class="col-2">
          <label>Código</label>
          &nbsp;
          <i
            class="fas fa-info-circle"
            data-toggle="tooltip"
            data-placement="top"
            ngbTooltip="Informe o Código do Produto na sua Empresa">
          </i>
        </div>
        <div class="col-3">
          <label class="required">Categoria</label>
          &nbsp;
          <i
            class="fas fa-info-circle"
            data-toggle="tooltip"
            data-placement="top"
            ngbTooltip="Selecione uma Categoria da sua Empresa">
          </i>
        </div>
        <div class="col-3">
          <label class="required">Unidade de Medida</label>
          &nbsp;
          <i
            class="fas fa-info-circle"
            data-toggle="tooltip"
            data-placement="top"
            ngbTooltip="Selecione uma Unidade de Medida da sua Empresa">
          </i>
        </div>
      </div>
      <ng-container formArrayName="produtos">
        <div *ngFor="let _ of formProdutos.controls; index as i" class="row">
          <ng-container [formGroupName]="i">
            <input type="hidden" formControlName="idProduto">
            <div class="col-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control field"
                  formControlName="descricao">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="codigo"
                  class="form-control field">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <ng-select
                  [clearable]="false"
                  [searchable]="true"
                  [items]="categorias"
                  bindValue="idCategoriaProduto"
                  bindLabel="nome"
                  [loading]="loadingCategorias"
                  [loadingText]="'buscando...'"
                  formControlName="idCategoriaProduto"
                  class="field"
                  [class.invalid]="formProdutos.controls[i].get('idCategoriaProduto').invalid && formProdutos.controls[i].get('idCategoriaProduto').dirty">
                </ng-select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <ng-select
                  [clearable]="false"
                  [searchable]="true"
                  [items]="unidadesDeMedida"
                  bindValue="idUnidadeMedida"
                  [loading]="loadingUnidadesDeMedida"
                  [loadingText]="'buscando...'"
                  formControlName="idUnidadeMedida"
                  class="field"
                  [class.invalid]="formProdutos.controls[i].get('idUnidadeMedida').invalid && formProdutos.controls[i].get('idUnidadeMedida').dirty">
                  <ng-template ng-label-tmp let-item="item">
                    {{ item && item.descricao ? item?.descricao + (item?.sigla ? ' - ' + item?.sigla : '') : '' }}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item">
                    {{ item && item.descricao ? item?.descricao + (item?.sigla ? ' - ' + item?.sigla : '') : '' }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-1">
              <div class="form-group">
                <button
                  type="button"
                  class="btn btn-remover"
                  [class.disabled]="formProdutos.controls.length === 1"
                  (click)="removaProduto(i)"
                  data-toggle="tooltip"
                  data-placement="top"
                  ngbTooltip="Remover Produto">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="cancelar()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="cloneProdutos()">Incluir</button>
  </div>
</div>
