<sdk-header-default [showShadow]="true" [ngStyle]="{ 'z-index': '102' }" heightValue="64px">
  <div class="col-md-6 pl-4">
    <span class="page-title text-large">Gestão de Empresas &nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
      <span class="subtitle">&nbsp;&nbsp; Alçada de Aprovação</span></span>
  </div>
</sdk-header-default>

<sdk-header-default heightValue="64px" topValue="10.2em">
  <sdk-input-icon
    name="descricao"
    style="margin: 10px"
    [placeHolder]="'Descrição'"
    [icon]="'fas fa-search'"
    [inputClass]="'input-icon-right-md'"
    [(ngModel)]="alcadaFiltro.descricao"
    (keyup.enter)="getAlcadas()"
    ngDefaultControl></sdk-input-icon>

  <sdk-input-icon
    name="codigo"
    style="margin: 10px"
    [placeHolder]="'Código'"
    [icon]="'fas fa-search'"
    [inputClass]="'input-icon-right-sm'"
    [(ngModel)]="alcadaFiltro.codigo"
    (keyup.enter)="getAlcadas()"
    ngDefaultControl></sdk-input-icon>

  <sdk-select
    name="statusOptions"
    style="margin: 10px"
    [class]="'select-sm'"
    [placeHolder]="'Status'"
    [items]="statusOptions"
    (event)="alcadaFiltro._status = $event"></sdk-select>

  <div class="col-1">
    <sdk-rectangle-button
      class="custom-rectangule-button"
      [leftIconClass]="'fas fa-search'"
      [leftIconColor]="'#FFFFFF'"
      [label]="'Buscar'"
      (buttonClick)="getAlcadas()">
    </sdk-rectangle-button>
  </div>

  <div class="col d-flex justify-content-end pr-0">
    <div class="d-flex border-left pr-3" style="height: 100%">
      <div class="pl-3">
        <sdk-rectangle-button
          class="custom-rectangule-button-include"
          [class.disabled]="!usuarioPodeIncluirAlcada()"
          [label]="'Incluir Alçada de Aprovação'"
          [leftIconClass]="'fas fa-plus'"
          [leftIconColor]="'#FFFFFF'"
          (buttonClick)="incluirAlcada()">
        </sdk-rectangle-button>
      </div>
    </div>
  </div>

</sdk-header-default>


<p
  class="semListagem d-flex text-truncate w-100"
  *ngIf="!alcadas?.length; else alcadaList"
  data-toggle="tooltip"
  data-placement="bottom"
  title="Nenhuma alçada encontrada">
  <a class="text-center font-weight-bold text-primary">Nenhuma alçada de aprovação foi encontrada.</a>
</p>

<div class="col-12">
  <div class="w-100">
    <ng-template #alcadaList>
      <div class="listagem">
        <div class="row justify-content-right">
          <p
            class="col-xl-1 ml-xl-5 pl-xl-5 pr-xl-2 mr-xl-2 text-xl-center col-lg-1 ml-lg-5 pl-lg-5 pr-lg-0 text-lg-right col-md-1 ml-md-5 pl-md-1 text-md-right">
            Id</p>
          <p class="col-xl-4 ml-xl-5 pl-xl-5 col-lg-4 ml-lg-5 pl-lg-5 col-md-3 ml-md-5 pl-md-4 pr-md-1">
            Descrição</p>
          <p class="col-xl-2 ml-xl-1 mr-xl-5 col-lg-2 ml-lg-0 col-md-3 ml-md-5 pl-md-5">Código</p>
          <p
            class="col-xl-2 ml-xl-1 pl-xl-3 text-xl-right col-lg-2 ml-lg-5 pl-lg-5 text-lg-right col-md-2 mr-md-2 pr-md-5 text-md-right">
            Status</p>
          <p
            class="col-xl-1 ml-xl-3 pr-xl-4 text-xl-right col-lg-1 ml-lg-3 pr-lg-2 text-lg-center col-md-1 mr-md-2 pl-md-1">
            Ações</p>
        </div>

        <sdk-list-view [items]="alcadas">
          <ng-template sdkListViewItem let-alcada>
            <app-item-alcada
              [alcada]="alcada"
              (reloadList)="getAlcadas($event)">
            </app-item-alcada>
          </ng-template>
        </sdk-list-view>
      </div>

    </ng-template>

    <div class="row" *ngIf="alcadas?.length">
      <div class="col-12">
        <div class="paging">
          <pager
            [page]="alcadaFiltro.pagina"
            [total-pages]="alcadaFiltro.totalPaginas"
            [records-per-page]="alcadaFiltro.itensPorPagina"
            (pagination)="page($event)"></pager>
        </div>
      </div>
    </div>
