<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Selecionar Ícone</div>
  <button type="button" class="close" aria-label="Close" (click)="fechar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <!-- <div class="row">
    <div class="input-group col col-8">
      <input #inputTermo type="text" class="form-control truncate" id="termo" placeholder="Buscar por nome, categoria, unidade de medida"
        (keyup.enter)="buscarIcones(inputTermo.value)" (keyup)="campoBuscaChanged()">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="button-addon2" (click)="buscarIcones(inputTermo.value)">
          <i class="fas fa-search"></i></button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div *ngFor="let iconeItem of iconesExibicao" class="col-6 col-lg-2">
      <a class="btn btn-icon" [class.selecionado]="iconeSelecionado == iconeItem" role="button"
        (click)="selecionarIcone(iconeItem)">
        <i class="{{iconeItem}}"></i>
      </a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="fechar()">Fechar</button>
</div>