<div class="row mb-3">
  <div class="col-md-4 col-lg-2">
    <button role=button class="btn btn-block btn-primary" (click)="obterContas(content)">
      <i class="fas fa-plus"></i> Incluir
    </button>
  </div>
  <div class="col-md-4 col-lg-2">
    <button role=button class="btn btn-block btn-danger" [class.disabled]="!contasExclusao?.length" (click)="solicitarExclusao()">
      <i class="fas fa-trash-alt"></i> Remover
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <custom-table classes="table-striped table-sm" [settings]="settings" [source]="contas" (select)="selecaoExclusao($event)"></custom-table>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">Contas contábeis</div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <tree-root [nodes]="nodes" [(state)]="state">
          <ng-template #treeNodeTemplate let-node let-index="index">
            <div class="custom-control custom-checkbox" [class.disabled]="node.data.disabled">
              <input type="checkbox" class="custom-control-input" id="select{{node.data.id}}" (change)="selecionarConta(node, $event)"
                [checked]="node.data.checked" >
              <label class="custom-control-label" for="select{{node.data.id}}">{{ node.data.name }}</label>
            </div>
          </ng-template>
        </tree-root>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">Voltar</button>
    <button type="button" class="btn btn-outline-primary" [class.disabled]="!contasInclusao?.length" (click)="incluir()">Incluir</button>
  </div>
</ng-template>