<!-- Cotacão -->
<div class="bg-white row py-4 py-md-1 d-md-flex">
  <div class="col-6 col-lg-1">
    <label for="" class="font-weight-bold d-block d-lg-none">Cotação</label>
    <p title="{{ cotacao.idCotacao }}">
      {{ cotacao.idCotacao }}
    </p>
  </div>

  <div
    class="col-6 col-lg-1 mb-3 mb-lg-0 pr-lg-0"
    *ngIf="getPerfilUsuarioLogado != PerfilUsuario.Fornecedor"
  >
    <label for="" class="font-weight-bold d-block d-lg-none">Participantes</label>
    <div class="d-inline-block pr-2 pr-xl-1" data-placement="bottom" title="Participantes">
      <i class="fas fa-users"></i>
      <span class="font-weight-bold d-inline-block block d-sm-block d-xl-inline-block text-center">
        {{ cotacao.quantidadeParticipantes < 9999 ? cotacao.quantidadeParticipantes : +9999 }}
      </span>
    </div>
    <div class="d-inline-block pr-2 pr-xl-1" data-placement="bottom" title="Propostas Recebidas">
      <i class="fas fa-check-square"></i>
      <span class="font-weight-bold d-inline-block block d-sm-block d-xl-inline-block text-center">
        {{ cotacao.propostasRecebidas < 9999 ? cotacao.propostasRecebidas : +9999 }}
      </span>
    </div>
    <div
      class="d-inline-block pr-2 pr-xl-1"
      data-placement="bottom"
      title="Visualizações da Cotação"
    >
      <i class="fas fa-eye"></i>
      <span class="font-weight-bold d-inline-block block d-sm-block d-xl-inline-block text-center">
        {{ cotacao.visualizacoes < 9999 ? cotacao.visualizacoes : +9999 }}
      </span>
    </div>
  </div>

  <div
    [ngClass]="{
      'col-lg-2': getPerfilUsuarioLogado != PerfilUsuario.Fornecedor,
      'col-lg-3': getPerfilUsuarioLogado == PerfilUsuario.Fornecedor
    }"
  >
    <label for="" class="font-weight-bold d-block d-lg-none">Descrição</label>
    <p title="{{ cotacao.descricao }}">
      {{ cotacao.descricao }}
    </p>
  </div>

  <div class="col-6 col-lg-1">
    <label for="" class="font-weight-bold d-block d-lg-none">Abertura</label>
    <p class="mb-0">
      <span class="d-block d-sm-none d-xl-block">
        {{
          cotacao.rodadaAtual?.dataInicio | date: 'dd/MM/yyyy' | noContent
        }}
      </span>
      <span class="d-none d-sm-block d-xl-none">{{
        cotacao.rodadaAtual?.dataInicio | date: 'dd/MM/yy'
      }}</span>
    </p>
    <p class="mb-3 mb-lg-0">
      {{
        cotacao.rodadaAtual?.dataInicio| date: 'HH:mm'
      }}
    </p>
  </div>

  <div class="col-lg-1 col-6">
    <label for="" class="font-weight-bold d-block d-lg-none">Encerramento</label>
    <p class="mb-0">
      <span class="d-block d-sm-none d-xl-block">
        {{
          cotacao.rodadaAtual?.dataEncerramento| date: 'dd/MM/yyyy' | noContent
        }}
      </span>
      <span class="d-none d-sm-block d-xl-none">{{
        cotacao.rodadaAtual?.dataEncerramento | date: 'dd/MM/yy'
      }}</span>
    </p>
    <p class="mb-3 mb-lg-0">
      {{
        cotacao.rodadaAtual?.dataEncerramento | date: 'HH:mm'
      }}
    </p>
  </div>

  <div [ngClass]="{ 'col-lg-1': flagPermitirExibirSla, 'col-lg-2': !flagPermitirExibirSla }">
    <label for="" class="font-weight-bold d-block d-lg-none">Responsável</label>
    <p
      class="d-inline-block mb-3"
      data-placement="bottom"
      title="{{ cotacao.usuarioResponsavel?.pessoaFisica?.nome }}"
    >
      {{ cotacao.usuarioResponsavel?.pessoaFisica?.nome }}
    </p>
  </div>

  <div
    [ngClass]="{ 'col-lg-1 text-truncate': !flagPermitirExibirSla }"
    *ngIf="getPerfilUsuarioLogado == PerfilUsuario.Fornecedor"
  >
    <label for="" class="font-weight-bold d-block d-lg-none">Cliente</label>
    <p
      class="d-inline-block mb-3 line-clamp line-clamp-2"
      data-toggle="tooltip"
      data-placement="bottom"
      title="{{ cotacao?.razaoSocial }}"
    >
      {{ cotacao?.nomeFantasia != null ? cotacao?.nomeFantasia : cotacao?.razaoSocial }}
    </p>
  </div>

  <div class="col-lg-1 col-6">
    <div class="row">
      <div
        [ngClass]="{
          'col-lg-12 pl-lg-0': getPerfilUsuarioLogado == PerfilUsuario.Fornecedor,
          'col-lg-5 pl-lg-0': getPerfilUsuarioLogado != PerfilUsuario.Fornecedor
        }"
      >
        <label for="" class="font-weight-bold d-block d-lg-none">Rodada</label>
        <p title="{{ cotacao.rodadaAtual?.ordem }}">
          {{ cotacao.rodadaAtual?.ordem }}
        </p>
      </div>
      <div class="col-lg-7" *ngIf="getPerfilUsuarioLogado != PerfilUsuario.Fornecedor">
        <label for="" class="font-weight-bold d-block d-lg-none">I.Cot./I.Fec.</label>
        <p title="Itens cotados / Itens fechados">
          {{ cotacao.quantidadeItensCotados }}/
          {{ cotacao.quantidadeItensFechados }}
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-1 col-6 px-md-2" *ngIf="flagPermitirExibirSla">
    <label for="" class="font-weight-bold d-block d-lg-none">SLA</label>
    <contador-sla
      *ngIf="
        [SituacaoCotacao['Em configuração'], SituacaoCotacao.Agendada].includes(cotacao.situacao) &&
        ultimoRegistroInicioSla
      "
      [tempoSla]="tempoSla"
      [unidadeMedidaTempoSla]="unidadeMedidaTempoSla"
      [ultimoRegistroInicioSla]="ultimoRegistroInicioSla"
      [tempoDecorrido]="tempoDecorrido"
    >
    </contador-sla>
  </div>

  <div class="col-lg-1 col-6 pr-lg-0">
    <label for="" class="font-weight-bold d-block d-lg-none">Situação</label>
    <p title="{{ situacao() }}">
      {{ situacao() }}
    </p>
  </div>

  <div
    class="col-lg-2 col-12 col-md-5 d-flex align-itens-center justify-content-between"
    *ngIf="flagExibirBotoesGestor"
  >
    <button
      class="btn btn-sm btn-icon text-primary"
      data-placement="bottom"
      title="Relatório de Análise"
      (click)="gerarRelatorioAnalise(cotacao.idCotacao)"
      *ngIf="flagPermitirRelatorioAnalise"
    >
      <i class="far fa-file-excel"></i>
    </button>
    <button
      class="btn btn-sm btn-icon text-primary"
      data-placement="bottom"
      title="{{ this.flagPermiteEdicao ? 'Editar' : 'Visualizar' }}"
      [routerLink]="['cotacoes', cotacao.idCotacao]"
    >
      <i
        class="far"
        [ngClass]="{ 'fa-edit': this.flagPermiteEdicao, 'fa-eye': !this.flagPermiteEdicao }"
      ></i>
    </button>
    <button
      class="btn btn-sm btn-icon text-primary"
      data-placement="bottom"
      title="Agendar"
      *ngIf="flagPermiteAgendar"
      (click)="agendar(cotacao.idCotacao)"
    >
      <i class="far fa-calendar-alt"></i>
    </button>
    <button
      class="btn btn-sm btn-icon text-primary"
      data-placement="bottom"
      title="Análise"
      [routerLink]="['cotacoes', cotacao.idCotacao, 'mapa-comparativo-item']"
      *ngIf="flagPermitirAnalise"
    >
      <i class="fas fa-search-dollar"></i>
    </button>
    <button
      class="btn btn-sm btn-icon text-primary"
      data-placement="bottom"
      title="Auditoria"
      (click)="auditar(cotacao.idCotacao)"
    >
      <i class="fas fa-history"></i>
    </button>
    <button
      class="btn btn-sm btn-icon text-danger"
      data-placement="bottom"
      title="Cancelar"
      (click)="cancelar(cotacao.idCotacao)"
      *ngIf="exibirBotaoCancelar(cotacao)"
    >
      <i class="far fa-times-circle"></i>
    </button>
    <a
      class="btn btn-sm btn-icon text-primary mt-md-2 mt-lg-1"
      title="Expandir"
      data-toggle="collapse"
      href="#itens{{ cotacao.idCotacao }}"
      role="button"
      aria-expanded="false"
      aria-controls="itens"
      (click)="carregarCotacao()"
    >
      <i
        class="fas"
        [ngClass]="{ 'fa-angle-double-down': collapsed, 'fa-angle-double-up': !collapsed }"
      ></i>
    </a>
  </div>
  <!-- class="col-lg-2 col-12 col-md-5 d-flex align-itens-center justify-content-start" -->

  <div
    [ngClass]="{
      'col-lg-2 col-12 col-md-5 d-flex align-itens-center justify-content-start':
        getPerfilUsuarioLogado != PerfilUsuario.Fornecedor,
      'col-lg-1 col-12 col-md-5 d-flex align-itens-center justify-content-start':
        getPerfilUsuarioLogado == PerfilUsuario.Fornecedor
    }"
    *ngIf="flagExibirBotoesFornecedor"
  >
    <a
      class="btn btn-sm btn-icon text-primary mt-lg-1"
      title="Expandir"
      data-toggle="collapse"
      href="#itens{{ cotacao.idCotacao }}"
      role="button"
      aria-expanded="false"
      aria-controls="itens"
      (click)="carregarCotacao()"
    >
      <i
        class="fas"
        [ngClass]="{ 'fa-angle-double-down': collapsed, 'fa-angle-double-up': !collapsed }"
      ></i>
    </a>
    <button
      class="btn btn-sm btn-icon text-primary"
      *ngIf="flagPermitirProposta"
      (click)="manterProposta()"
    >
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </div>
</div>
<!-- End Cotacação -->

<!-- Itens -->
<div class="col-12 px-0">
  <div class="collapse" id="itens{{ cotacao.idCotacao }}">
    <div class="row bg-lighter d-none d-lg-flex px-lg-0 pt-1 d-none d-lg-block border-bottom">
      <div class="col-lg-1">
        <label class="font-weight-bold" data-placement="bottom" title="Requisição"
          >Requisição</label
        >
      </div>
      <div class="col-lg-2">
        <label class="font-weight-bold" data-placement="bottom" title="Código do Produto"
          >Código do Produto</label
        >
      </div>
      <div class="col-lg-3">
        <label class="font-weight-bold" data-placement="bottom" title="Descrição do Produto"
          >Descrição do Produto</label
        >
      </div>
      <div class="col-lg-2">
        <label class="font-weight-bold" data-placement="bottom" title="Categoria">Categoria</label>
      </div>
      <div class="col-lg-2">
        <label class="font-weight-bold" data-placement="bottom" title="Marca">Marca</label>
      </div>
      <div class="col-lg-2">
        <label class="font-weight-bold" data-placement="bottom" title="Quantidade"
          >Quantidade</label
        >
      </div>
    </div>

    <div class="row" *ngIf="cotacaoItemVisivel(cotacao)">
      <cotacao-item class="col-12" [item]="item" *ngFor="let item of cotacao.itens"></cotacao-item>
    </div>
  </div>
</div>
<!-- End Itens -->
