::ng-deep {
  sdk-list-view > div {
    & .list-item {
      &:first-child {
        & sdk-menu-item .menu-item {
          border-radius: 8px 8px 0px 0px;
        }
      }

      &:last-child {
        & sdk-menu-item .menu-item {
          border-radius: 0px 0px 8px 8px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  & .menuClickable {
    div.sdk-item-card {
      cursor: default !important;
    }
  }
}
