<div class="card">
  <div class="card-body">
    <div class="col-12 d-flex justify-content-end">
      <sdk-rectangle-button
        [leftIconClass]="'fas fa-plus'"
        [leftIconColor]="'#FFFFFF'"
        [label]="'Incluir Usuário'"
        [class.disabled]="!usuarioSolicitante"
        (buttonClick)="criarUsuario()"></sdk-rectangle-button>
    </div>

    <div class="w-100">
      <div class="bg-white border-bottom py-4" *ngIf="!users?.length; else listUsers">
        <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
      </div>

      <ng-template #listUsers>
        <div class="listagem pt-5">
          <div class="row justify-content-center">
            <div class="header">
              <p class="col-2 pl-0">Status</p>
              <p class="col-3 pl-0">Nome</p>
              <p class="col-4 pl-0">E-mail</p>
              <p class="col-2 pl-0">Cargo</p>
              <p class="col-1 pl-0">Ações</p>
            </div>
          </div>

          <sdk-list-view [items]="users">
            <ng-template sdkListViewItem let-item>
              <div class="list-users">
                <sdk-item-card
                  (clickEmitter)="usuarioSolicitante && !disabled && editaUsuarario(item)"
                  [iconClass]="getIconClass(item?.status)"
                  [showStatusBar]="false"
                  [hasMarginBottom]="true"
                  [borderWidth]="'1px'"
                  [borderStyle]="'solid'"
                  [borderColor]="'#B8CAD1'"
                  [borderColorHover]="getColorOnHover(item?.status)"
                  [iconSpotColor]="getIconSpotColor(item?.status)"
                  [iconSpotColorHover]="getColorOnHover(item?.status)"
                  [repositionOnHover]="true"
                  [disabled]="!usuarioSolicitante"
                  [ngClass]="{
                    blocked: userSituation.Bloqueado === item?.status,
                    braided: userSituation.BloqueadoPorExcessoTentativas === item?.status,
                    released: userSituation.Liberado === item?.status
                  }">
                  <div class="d-flex w-100 justify-content-around align-items-center">
                    <div class="col-2">
                      <a class="situation-label">{{ getStausLabel(item?.status) }}</a>
                    </div>
                    <div class="col-3 crop-text-2">
                      <a>{{ item?.nome }}</a>
                    </div>
                    <div class="col-4 crop-text-2">
                      <a data-toggle="tooltip" data-placement="bottom" title="">{{ item?.email }}</a>
                    </div>
                    <div class="col-2 crop-text-2">
                      <a data-toggle="tooltip" data-placement="bottom" title="">Fornecedor</a>
                    </div>

                    <div
                      class="col-1 d-flex-justify-end desvincular-usuario"
                      (click)="usuarioSolicitante && solicitarRemocaoVinculo(item)"
                      [class.disabled]="!usuarioSolicitante">
                      <span
                        class="icon-custom w-100"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Desvincular Usuário">
                        <i class="fas fa-unlink"></i>
                      </span>
                    </div>
                  </div>
                </sdk-item-card>
              </div>
            </ng-template>
          </sdk-list-view>
        </div>
      </ng-template>
    </div>
  </div>
</div>
