<div class="container-fluid-xl manter-alcada">
  <div class="w-100" [ngStyle]="{ 'padding-bottom': '64px' }">
    <div
      class="col-12 identification-bar-fixed w-100"
      [ngStyle]="{ top: '80px', background: '#ffffff' }">
      <div class="col-1 d-flex" style="height: 100%"></div>
      <div class="col-11 d-flex align-items-center" style="height: 100%">
        <span class="identification-font identification-color"> Gestão de Empresas </span>
        <i class="fas fa-greater-than identification-color mx-2"></i>
        <span class="identification-font identification-color"> Alçada de Aprovação </span>
        <i class="fas fa-greater-than identification-color mx-2"></i>
        <span class="current-page-font"> {{ idAlcada ? 'Editar' : 'Incluir' }} </span>
      </div>
    </div>
  </div>
  <sdk-header [heightValue]="'64px'" [topValue]="'144px'">
    <div
      *ngIf="idAlcada"
      class="col-1 d-flex justify-content-center align-items-center border-right identificacao"
      style="height: 100%">
      <span>
        {{ alcada?.idAlcada }}
      </span>
    </div>
    <div *ngIf="!isCreate" class="col-7 d-flex align-items-center descricao">
      <span>
        {{ alcada?.descricao }}
      </span>
    </div>
    <div *ngIf="isCreate" class="col-8 d-flex align-items-center descricao">
      <span> Nova Alçada </span>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-end header-action">
      <sdk-rectangle-button
        label='Salvar'
        leftIconClass='fas fa-check'
        leftIconColor='#FFFFFF'
        (buttonClick)="salvar()">
      </sdk-rectangle-button>
    </div>
  </sdk-header>

  <sdk-two-columns>
    <div class="w-100" tc-1>
      <sdk-menu
        id="menu"
        [itens]="itens"
        [showMenu]="true"
        [menuIcon]="getMenuIcon()"
        [menuIconColor]="getMenuIconColor(alcada?.tipo)"
        [statusBarColor]="getStatusColor(alcada?.status)"
        [isNavigationOn]="false"
        (menuItemActivated)="setAbaAtual($event)">
        <div class="px-3 py-4 w-100 align-items-center">
          <div class="col-12" *ngIf="!isCreate">
            <p class="title my-2">Tipo</p>
          </div>
          <div class="col-12" *ngIf="!isCreate">
            <p class="text text-capitalize">{{ tipoAlcadaDisplay.get(alcada?.tipo)?.valueOf() }}</p>
          </div>
          <div class="col-12">
            <p class="title my-2">Status</p>
          </div>
          <div class="col-12">
            <p
              class="text"
              [ngStyle]="{ color: getStatusColor(alcada?.status) }">
              {{ getStatusMessage(alcada?.status) }}
            </p>
          </div>
        </div>
      </sdk-menu>
    </div>
    <div class="scroll-y w-100" tc-2>
      <div class="card">
        <div class="card-body">
          <div id="dados-gerais" *ngIf="abaAtual === labelDadosGerais">
            <div class="col-12 title-hr pt-0">
              Dados da Alcada de Aprovação
              <hr />
            </div>
            <form [formGroup]="form">
              <div class="col-12 dados-gerais">
                <div class="row">
                  <div class="col-4">
                    <div class="form-group">
                      <label>ID</label>
                      <input
                        class="form-control"
                        type="text"
                        name="idAlcada"
                        formControlName="idAlcada" />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label>Código</label>
                      <input
                        class="form-control"
                        type="text"
                        name="codigo"
                        formControlName="codigo" />
                    </div>
                  </div>
                  <div class="form-group col-4">
                    <label class="required"> Tipo </label>
                    <ng-select
                      [clearable]="false"
                      formControlName="tipo"
                      [items]="opcoesTipoAlcada"
                      required>
                      <ng-template ng-label-tmp let-item="item">
                        {{ tipoAlcadaDisplay.get(item)?.valueOf() }}
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        {{ tipoAlcadaDisplay.get(item)?.valueOf() }}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col">
                    <label class="required"> Descricao </label>
                    <textarea
                      class="form-control"
                      rows="3"
                      name="descricao"
                      formControlName="descricao"
                      required>
                    </textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div id="categorias" *ngIf="abaAtual === labelCategorias">
            <smk-dual-list
              [config]="dualListConfig"
              [source]="categorias"
              [selected]="form.get('alcadaCategorias').value"
              (selectedChange)="categoriasSelecionadasChange($event)"></smk-dual-list>
          </div>
          <div id="niveis" *ngIf="abaAtual === labelNiveis">
            <div>
              <div class="col-12 d-flex justify-content-end mb-4">
                <sdk-rectangle-button
                  label="Incluir Nível"
                  type="secondary"
                  leftIconClass="fas fa-plus"
                  [leftIconColor]="rectangleButtonColor"
                  (click)="adicionarNivel()">
                </sdk-rectangle-button>
              </div>
              <div class="col-12">
                <div class="w-100">
                  <div class="bg-white border-bottom py-4"
                    *ngIf="!form.get('alcadaNiveis').value?.length; else niveisList">
                    <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
                  </div>
                </div>
                <ng-template #niveisList>
                  <div class="listagem">
                    <div class="row header-margins">
                      <div class="header">
                        <p class="col-6 pl-3">Descrição</p>
                        <div class="col-5">
                          <div class="row">
                            <p class="col-6 pl-3">Usuários</p>
                            <p class="col-6 pl-3">Valor</p>
                          </div>
                        </div>
                        <p class="col-1 pl-2">Ações</p>
                      </div>
                    </div>
                    <sdk-list-view [items]="form.get('alcadaNiveis').value">
                      <ng-template sdkListViewItem let-item>
                        <div class="level-item">
                          <sdk-item-card
                            iconClass="fas fa-signal"
                            [showStatusBar]="false"
                            [iconSpotColor]="iconSpotColor"
                            [iconSpotColorHover]="iconSpotColorHover"
                            [hasMarginBottom]="true"
                            [borderColor]="borderColor"
                            [borderWidth]="borderWidth"
                            [borderStyle]="borderStyle"
                            [borderColorHover]="borderColorHover"
                            [repositionOnHover]="true"
                            (click)="editarNivel(item)">
                            <div
                              class="d-flex w-100 justify-content-around align-items-center"
                              style="margin-left: 1rem">
                              <div class="col-6">
                                <a>{{ item.descricao }}</a>
                              </div>
                              <div class="col-5">
                                <div class="row">
                                  <div class="col-6">
                                    <a>{{ item.alcadaNivelUsuarios?.length }}</a>
                                  </div>
                                  <div class="col-6 crop-text-2">
                                    <a
                                      data-toggle="tooltip"
                                      data-placement="bottom"
                                      title="{{ item.valor }}">{{ item.valor | currency: 'BRL':'symbol':'1.2':'pt-BR'
                                      }}</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-1">
                                <i class="fas fa-2x fa-circle circle-icon"></i>
                                <button
                                  class="btn btn-sm btn-icon delete-action" type="button"
                                  (click)="solicitarExclusao(item)" click-stop-propagation>
                                  <i class="fas fa-trash-alt"></i>
                                </button>
                              </div>
                            </div>
                          </sdk-item-card>
                        </div>
                      </ng-template>
                    </sdk-list-view>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sdk-two-columns>
</div>
