.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 8px;
  min-height: 450px;
}

.title,
.text {
  font-family: Open Sans !important;
  font-style: normal !important;
  font-size: 12px !important;
  line-height: 100% !important;

  &.title {
    font-weight: bold !important;
    color: #296075 !important;
  }

  &.text {
    font-size: 14px !important;
    font-weight: normal;
    color: #588394;

    &.text-active {
      color: #ff9800 !important;
    }

    &.text-inactive {
      color: #ff9800 !important;
    }
  }
}

// Region Scroll Y
.scroll-y {
  height: 860px;
  overflow-y: auto;
  padding: auto;
  // padding-right: 0.5rem !important;

  scroll-behavior: auto !important;
}

::-webkit-scrollbar {
  width: 0.5em !important;
  scroll-behavior: auto !important;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  border-radius: 10px !important;
}
// END Region Scroll Y

.manter-alcada {
  background-color: #e7edf0;
}

::ng-deep sdk-two-columns {
  .two-columns {
    div.two-columns-row {
      padding-top: 2em;
    }
  }
}

::ng-deep .header-action sdk-rectangle-button {
  width: auto;

  button {
    padding: 0 30px !important;
    height: 32px !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 100% !important;
    display: flex !important;
    align-items: center !important;
    color: #ffffff !important;
    background: #588394 !important;
    flex: none !important;

    border-radius: 8px !important;

    &:hover {
      background-color: #114e66 !important;
      color: #ffffff;
    }
  }
}

::ng-deep sdk-header {
  color: #417185;
  .identificacao {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }

  .descricao {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }
}

::ng-deep sdk-menu > sdk-item-card > div.sdk-item-card {
  div.icon-spot {
    width: 5.5rem;
  }
}

// Região tooltip

::ng-deep .tooltip-inner {
  background-color: #d4effa;
  color: #417185;
  font-weight: 600;
  font-size: 12px;
}

::ng-deep .arrow::before {
  border-bottom-color: #d4effa !important;
}
// END Região tooltip

.identification-bar-fixed {
  position: fixed;
  z-index: 102;
  display: flex;
  height: 64px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.identification-color {
  color: #88a6b2;
}

.identification-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
}

.current-page-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #27ade4;
}

.hr {
  position: absolute !important;
  height: 0px !important;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;

  border: 1px solid #cfdce0 !important;
}

.title-hr {
  padding-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #417185;
}

::ng-deep app-manter-alcada div.dados-gerais {
  label {
    font-weight: bold !important;
    color: #296075 !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
  }

  ng-select.ng-select-opened.ng-select-bottom > .ng-select-container,
  ng-select.ng-select.ng-select-single .ng-select-container,
  ng-dropdown-panel.ng-dropdown-panel.ng-select-bottom,
  input.form-control,
  textarea.form-control {
    border-radius: 8px !important;
    border: 1px solid #cfdce0 !important;
    .ng-placeholder {
      color: #588394 !important;
      font-weight: bold;
    }

    color: #417185 !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 13px !important;
  }

  ng-select.ng-select-opened.ng-select-bottom > .ng-select-container,
  ng-select.ng-select.ng-select-single .ng-select-container,
  ng-dropdown-panel.ng-dropdown-panel.ng-select-bottom {
    div.ng-option {
      color: #588394 !important;
    }
  }

  color: #417185 !important;
}

#niveis {
  .min-h {
    min-height: 80vh;
  }

  .crop-text-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .listagem {
    .header {
      display: flex;
      color: #417185;
      font-weight: bold;
    }

    .header-margins {
      margin-left: 3.7rem;
      margin-right: 0rem;
    }

    a {
      color: #417185;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
    }
  }

  sdk-rectangle-button ::ng-deep {
    width: auto;

    button {
      padding: 0 30px !important;
      height: 32px !important;
      font-family: Open Sans !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 12px !important;
      line-height: 100% !important;
      display: flex !important;
      color: #ffffff !important;
      flex: none !important;
      border: none !important;

      background: #588394 !important;

      &:hover {
        background-color: #588394 !important;
        color: #ffffff;
      }
    }
  }

  ::ng-deep div.level-item {
    a {
      color: #417185;
    }
  }

  .crop-text-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .delete-action {
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: 1.5px;
    right: 0.5px;

    i {
      color: #417185 !important;
    }
  }

  .circle-icon {
    position: absolute;
    color: #d4effa;
  }

  ::ng-deep .modal-manter-endereco>div.modal-dialog>div.modal-content {
    width: 80%;
    margin-left: 10%;

    &>manter-endereco-modal {
      button.btn-outline-primary {
        border-radius: 8px;
        width: 9.7rem;
      }

      button.btn-primary {
        border-radius: 8px;
        width: 9.7rem;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
      }
    }
  }
}
