<div *ngIf="pedido" class="manter-pedido">
  <smk-funcionalidade [titulo]="titulo" [tituloComplementar]="tituloComplementar">
    <ng-container acoes-barra>
      <button
        *ngIf="permitirSalvar() && !integracaoRequisicaoErp && !integracaoRequisicaoErpComPermissaoDeEditar &&
              (!pedido?.idIntegracaoPedidoERP || pedido?.situacao !== Situacao['Aguardando Integração']) &&
              (flagPermiteSalvarCodigo || flagPermiteSelecionarTransportadora)"
        class="btn btn-primary"
        ngbTooltip="Salvar"
        container="body"
        (click)="salvarCodigo()">
        <i class="fas fa-save"></i>
      </button>
      <button
        *ngIf="permitirCancelamento()"
        class="btn btn-outline-primary"
        ngbTooltip="Cancelar"
        container="body"
        (click)="solicitarCancelarPedido()">
        <i class="fas fa-ban"></i>
      </button>
      <button
        *ngIf="permitirAnalise()"
        class="btn btn-primary"
        ngbTooltip="Concluir análise"
        container="body"
        (click)="solicitarEncerrarAnalise()">
        <i class="fas fa-check-circle"></i>
      </button>
      <button
        *ngIf="permitirAlteracao()"
        class="btn btn-primary"
        ngbTooltip="Concluir revisão"
        container="body"
        (click)="solicitarEncerrarRevisao()">
        <i class="fas fa-check-circle"></i>
      </button>
      <button
        *ngIf="permitirPreparo()"
        class="btn btn-outline-primary"
        ngbTooltip="Preparar"
        container="body"
        (click)="tramitarPedido(Situacao.Preparado)">
        <i class="fas fa-box-open"></i>
      </button>
      <button
        *ngIf="permitirFaturar()"
        class="btn btn-outline-primary"
        ngbTooltip="Faturar"
        container="body"
        (click)="tramitarPedido(Situacao.Faturado)">
        <i class="fas fa-hand-holding-usd"></i>
      </button>
      <button
        *ngIf="permitirEnvio()"
        class="btn btn-outline-primary"
        ngbTooltip="Enviar"
        container="body"
        (click)="tramitarPedido(Situacao.Enviado)">
        <i class="fas fa-truck"></i>
      </button>
      <button
        *permissionsOnly="{
            permissions: ['Administrador', 'Gestor', 'Requisitante', 'Recebimento', 'Comprador'],
            opts: {
              extra:
                (pedido?.situacao == Situacao['Aguardando fornecedor'] ||
                 pedido?.situacao == Situacao.Confirmado ||
                 pedido?.situacao == Situacao.Aprovado ||
                 pedido?.situacao == Situacao.Preparado ||
                 pedido?.situacao == Situacao.Faturado ||
                 pedido?.situacao == Situacao.Enviado ||
                 pedido?.situacao == Situacao['Entregue Parcialmente']) && permitirReceber()
            }
          }"
        class="btn btn-outline-primary"
        ngbTooltip="Receber"
        container="body"
        (click)="solicitarReceberPedido()">
        <i class="fas fa-home"></i>
      </button>
      <button
        *permissionsOnly="{
            permissions: ['Administrador', 'Gestor', 'Requisitante', 'Recebimento'],
            opts: {
              extra:
                pedido?.situacao == Situacao.Enviado ||
                pedido?.situacao == Situacao['Entregue Parcialmente'] ||
                pedido?.situacao == Situacao.Entregue
            }
          }"
        class="btn btn-outline-primary"
        ngbTooltip="Recebimento"
        container="body"
        (click)="exibirHistoricoRecebimento()">
        <i class="fas fa-scroll"></i>
      </button>
      <button
        class="btn btn-outline-primary"
        ngbTooltip="Gerar PDF"
        container="body"
        (click)="gerePdf()">
        <i class="fas fa-print"></i>
      </button>
      <button
        *ngIf="permiteAuditoria()"
        class="btn btn-outline-primary"
        ngbTooltip="Auditoria"
        container="body"
        (click)="abrirAuditoria()">
        <i class="fas fa-history"></i>
      </button>
      <button
        class="btn btn-outline-primary"
        ngbTooltip="Observação"
        container="body"
        (click)="vizualizarObservacaoNoPedido()">
        <i class="fas fa-comment-dots"></i>
      </button>
    </ng-container>
    <ng-container titulo-customizado>
      <span
        class="situacao-pedido-item"
        smkSituacaoPedidoItem
        [situacaoPedidoItem]="pedido.situacao">
        {{ pedido.situacao | situacaoPedido }}
      </span>
    </ng-container>
    <smk-card-funcionalidade titulo="Configurações Gerais" class="mb-4 pb-2">
      <div class="row">
        <div class="form-group col-md-3">
          <label for="pedido">ID Pedido</label>
          <input id="pedido" class="form-control" type="text" disabled [ngModel]="pedido?.idPedido">
        </div>
        <div class="origem form-group col-md-3">
          <label for="origem">Origem</label>
          <p class="valor m-0 d-block text-left" [class.disabled]="!isLinkHabilitado">
            <span
              [ngClass]="isLinkHabilitado ? 'link-origem cursor-pointer btn-link' : null"
              (click)="isLinkHabilitado && navegarOrigem()">
              {{ origem }}
            </span>
          </p>
        </div>
        <ng-container
          *ngIf="exibirCodigoIntegracao; then (integracaoRequisicaoErp ? idRequisicaoErp : idPedidoErp); else codigoPedido">
        </ng-container>
        <ng-template #idRequisicaoErp>
          <div class="form-group col-md-3">
            <label for="requisicaoErp">Requisição ERP</label>
            <input id="requisicaoErp" class="form-control" type="text" disabled
              [ngModel]="pedido?.idIntegracaoRequisicaoERP">
          </div>
        </ng-template>
        <ng-template #idPedidoErp>
          <div class="form-group col-md-3">
            <label for="pedidoErp">Pedido ERP</label>
            <input id="pedidoErp" class="form-control" type="text" disabled [ngModel]="pedido?.idIntegracaoPedidoERP">
          </div>
        </ng-template>
        <ng-template #codigoPedido>
          <div class="form-group col-md-3" [formGroup]="form">
            <label for="codigo"> {{ integracaoSapHabilitada ? 'Pedido ERP' : 'Código' }} </label>
            <input
              id="codigo"
              class="form-control"
              type="text"
              [attr.disabled]="!flagPermiteSalvarCodigo ? 'disabled' : null"
              formControlName="codigo">
          </div>
        </ng-template>
        <div class="form-group col-md-3">
          <label for="totalPedido">Total do pedido</label>
          <input
            id="totalPedido"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.valor | customCurrency: pedido?.moeda:'1.2-4':'symbol'">
        </div>
      </div>
    </smk-card-funcionalidade>
    <smk-card-funcionalidade titulo="Dados gerais - Empresa Compradora" class="mb-4 pb-2">
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="cnpjCompradora">CNPJ</label>
          <input id="cnpjCompradora" class="form-control" type="text" disabled [ngModel]="pedido?.comprador?.cnpj">
        </div>
        <div class="form-group col-lg-8">
          <label for="razaoSocialCompradora">Razão Social</label>
          <input
            id="razaoSocialCompradora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.comprador?.razaoSocial">
        </div>
        <div class="form-group col-lg-12">
          <label for="enderecoCompradora">Endereço</label>
          <input id="enderecoCompradora" class="form-control" type="text" disabled [ngModel]="enderecoComprador">
        </div>
        <div class="form-group col-lg-4">
          <label for="contatoCompradora">Contato</label>
          <input
            id="contatoCompradora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.comprador?.contato">
        </div>
        <div class="form-group col-lg-4">
          <label for="telefoneCompradora">Telefone Contato</label>
          <input
            id="telefoneCompradora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.comprador?.telefone">
        </div>
        <div class="form-group col-lg-4">
          <label for="emailCompradora">Email Contato</label>
          <input id="emailCompradora" class="form-control" type="text" disabled [ngModel]="pedido?.comprador?.email">
        </div>
        <div class="form-group col-lg-4">
          <label for="compradorCompradora">Comprador</label>
          <input
            id="compradorCompradora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.usuario?.pessoaFisica?.nome">
        </div>
        <div class="form-group col-lg-4">
          <label for="telefoneCompradorCompradora">Telefone Comprador</label>
          <input
            id="telefoneCompradorCompradora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.usuario?.telefone">
        </div>
        <div class="form-group col-lg-4">
          <label for="emailCompradorCompradora">Email Comprador</label>
          <input
            id="emailCompradorCompradora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.usuario?.email">
        </div>
      </div>
    </smk-card-funcionalidade>
    <smk-card-funcionalidade titulo="Dados gerais - Empresa Fornecedora" class="mb-4 pb-2">
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="cnpjFornecedora">CNPJ</label>
          <input id="cnpjFornecedora" class="form-control" type="text" disabled [ngModel]="pedido?.fornecedor?.cnpj">
        </div>
        <div class="form-group col-lg-8">
          <label for="razaoSocialFornecedora">Razão Social</label>
          <input
            id="razaoSocialFornecedora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.fornecedor?.razaoSocial">
        </div>
        <div class="form-group col-lg-12">
          <label for="enderecoFornecedora">Endereço</label>
          <input id="enderecoFornecedora" class="form-control" type="text" disabled [ngModel]="enderecoFornecedor">
        </div>
        <div class="form-group col-lg-4">
          <label for="contatoFornecedora">Contato</label>
          <input
            id="contatoFornecedora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.fornecedor?.contato">
        </div>
        <div class="form-group col-lg-4">
          <label for="telefoneFornecedora">Telefone Contato</label>
          <input
            id="telefoneFornecedora"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.fornecedor?.telefone">
        </div>
        <div class="form-group col-lg-4">
          <label for="emailFornecedora">Email Contato</label>
          <input id="emailFornecedora" class="form-control" type="text" disabled [ngModel]="pedido?.fornecedor?.email">
        </div>
      </div>
    </smk-card-funcionalidade>
    <smk-card-funcionalidade titulo="Dados do Pedido" class="mb-4 pb-2">
      <div class="row">
        <div class="form-group col-lg-4">
          <label for="dataDeAprovacao">Data de Aprovação</label>
          <input id="dataDeAprovacao" class="form-control" type="text" disabled [ngModel]="dataAprovacao">
        </div>
        <div class="form-group col-lg-4">
          <label for="condicaoDePagamento">Condição de Pagamento</label>
          <input
            id="condicaoDePagamento"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.condicaoPagamento?.descricao">
        </div>
        <div class="form-group col-lg-4">
          <label for="faturamentoMinimo">Faturamento Mínimo</label>
          <input id="faturamentoMinimo" class="form-control" type="text" disabled [ngModel]="faturamentoMinimo">
        </div>
        <div class="form-group col-lg-4">
          <label for="organizacaoDeCompra">Organização de Compra</label>
          <input id="organizacaoDeCompra" class="form-control" type="text" disabled [ngModel]="organizacaoDeCompra">
        </div>
        <div class="form-group col-lg-4">
          <label for="grupoDeCompradores">Grupo de Compradores</label>
          <input id="grupoDeCompradores" class="form-control" type="text" disabled [ngModel]="grupoDeCompradores">
        </div>
        <div class="form-group col-lg-4">
          <label for="alcadaDeAprovacao">Alçada de Aprovação</label>
          <input id="alcadaDeAprovacao" class="form-control" type="text" disabled [ngModel]="alcadaDeAprovacao">
        </div>
        <div class="form-group col-lg-4">
          <label for="tipoDePedido">Tipo de Pedido</label>
          <input
            id="tipoDePedido"
            class="form-control"
            type="text"
            disabled
            [ngModel]="pedido?.tipoPedido?.nomeTipoPedido">
        </div>
        <div class="form-group col-lg-4">
          <label for="dataDeEntrega">Data de Entrega</label>
          <input id="dataDeEntrega" class="form-control" type="text" disabled [ngModel]="dataDeEntrega">
        </div>
        <div class="form-group col-lg-4">
          <label for="frete">Frete</label>
          <input id="frete" class="form-control" type="text" disabled [ngModel]="Frete[pedido?.frete]">
        </div>
        <div class="form-group col-lg-12">
          <label for="enderecoDeEntrega">Endereço de Entrega</label>
          <input id="enderecoDeEntrega" class="form-control" type="text" disabled [ngModel]="enderecoEntrega">
        </div>
        <ng-container *ngIf="pedido?.frete === Frete.Fob">
          <div class="form-group col-lg-8">
            <label for="transportadora">Transportadora</label>
            <ng-select
              bindValue="idTransportadora"
              labelForId="transportadora"
              clearAllText="Limpar"
              [items]="transportadorasHomologadas"
              [hideSelected]="true"
              [disabled]="!flagPermiteSelecionarTransportadora"
              [(ngModel)]="pedido.idTransportadora"
              (change)="changeTransportadora($event)">
              <ng-template ng-label-tmp let-item="item">
                {{ item.cnpj }} - {{ item.nomeFantasia }}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                {{ item.cnpj }} - {{ item.nomeFantasia }}
              </ng-template>
            </ng-select>
          </div>
          <div class="form-group col-lg-4">
            <label for="contatoDaTransportadora">Contato Transportadora</label>
            <input
              id="contatoDaTransportadora"
              class="form-control"
              type="text"
              disabled
              [ngModel]="contatoTransportadora">
          </div>
          <div class="form-group col-lg-12">
            <label for="enderecoDaTransportadora">Endereço Transportadora</label>
            <input
              id="enderecoDaTransportadora"
              class="form-control"
              type="text"
              disabled
              [ngModel]="enderecoTransportadora">
          </div>
        </ng-container>
        <div *ngIf="pedido?.pedidoObservacaoPadrao" class="form-group col-lg-12">
          <label>Observações Padrão</label>
          <div class="observacao-padrao p-2">
            <div class="valor overflow-y-scroll" [innerHTML]="pedido.pedidoObservacaoPadrao.descricao | safe: 'html'">
            </div>
          </div>
        </div>
      </div>
    </smk-card-funcionalidade>
    <smk-card-funcionalidade titulo="Itens do Pedido">
      <!--Material-->
      <smk-table-funcionalidade
        *ngIf="estaPreenchido(pedido.itensProduto)"
        [configuracaoDaTable]="configuracaoDaTableDeItens"
        [itensDaTable]="pedido?.itensProduto"
        [configuracaoColunasUsuario]="configuracaoColunasDosItens"
        [configuracaoFerramentasDaTable]="configuracaoFerramentasDaTable"
        (selectedChange)="selecionePedidoProdutoItem($event)">
        <div class="titulo text-uppercase">Material</div>
        <br>
        <ng-container acoes-table>
          <button
            *ngIf="itemIndividualSelecionado(pedidoItemProdutosSelecionados)"
            class="btn btn-outline-primary"
            ngbTooltip="Visualizar"
            (click)="visualizeItem(pedidoItemProdutosSelecionados[0])">
            <i class="fas fa-eye"></i>
          </button>
          <button
            *ngIf="itemIndividualSelecionado(pedidoItemProdutosSelecionados)"
            class="btn btn-outline-primary"
            ngbTooltip="Observações"
            (click)="visualizeObservacoesItem(pedidoItemProdutosSelecionados[0])">
            <i class="far fa-comment-dots"></i>
          </button>
          <button
            *ngIf="permiteExibirProgramacaoEntrega(pedidoItemProdutosSelecionados)"
            class="btn btn-outline-primary"
            ngbTooltip="Programação de entrega"
            (click)="visualizeProgramacaoDeEntrega(pedidoItemProdutosSelecionados[0])">
            <i class="fas fa-clock"></i>
          </button>
          <button
            *ngIf="permiteExibirAlterarObservacao(pedidoItemProdutosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Alterar observações"
            (click)="alterarObservacao(pedidoItemProdutosSelecionados[0], true)">
            <i class="fas fa-comment-dots"></i>
          </button>
          <button
            *ngIf="exibirBotaoDataEntregaPrevista(pedidoItemProdutosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Alterar Data Entrega Prevista"
            (click)="altereDataEntregaPrevistaItens(pedidoItemProdutosSelecionados)">
            <i class="fas fa-calendar"></i>
          </button>
          <button
            *ngIf="permiteExibirBotoesAnalise(pedidoItemProdutosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Aprovar"
            [attr.disabled]="!permiteAprovarPedidoItens(pedidoItemProdutosSelecionados) ? 'disabled' : null"
            (click)="solicitarAprovarItens(pedidoItemProdutosSelecionados, true)">
            <i class="fas fa-check-circle"></i>
          </button>
          <button
            *ngIf="permiteExibirBotoesAnalise(pedidoItemProdutosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Reprovar"
            [attr.disabled]="!permiteReprovarPedidoItens(pedidoItemProdutosSelecionados) ? 'disabled' : null"
            (click)="reprovarItem(pedidoItemProdutosSelecionados, true)">
            <i class="fas fa-times-circle"></i>
          </button>
          <button
            *ngIf="permiteAbrirObservacao(pedidoItemProdutosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Comentários"
            (click)="abrirObservacao(pedidoItemProdutosSelecionados[0])">
            <i class="fas fa-comments"></i>
          </button>
          <button
            *ngIf="permiteExibirAlteracaoItem(pedidoItemProdutosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Editar"
            (click)="editarItem(pedidoItemProdutosSelecionados[0], true)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button
            *ngIf="permiteExibirAlteracaoItem(pedidoItemProdutosSelecionados)"
            class="btn btn-danger"
            ngbTooltip="Excluir"
            (click)="solicitarRemoverItem(pedidoItemProdutosSelecionados[0], true)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <span *ngIf="permiteExibirBotoesAnalise(pedidoItemProdutosSelecionados)" class="separador mr-3"></span>
          <button
            *ngIf="permitirAnalise()"
            class="aprovar-todos btn btn-success"
            [attr.disabled]="existemItensAnalisar(pedido.itensProduto) ? null : 'disabled'"
            (click)="solicitarAprovarTodos(pedido.itensProduto)">
            <i class="fas fa-check mr-2"></i>
            {{ permiteAnalisarTodos(pedido.itensProduto) ? 'Aprovar todos' : 'Aprovar itens restantes' }}
          </button>
          <button
            *ngIf="permitirAnalise()"
            class="reprovar-todos btn btn-outline-danger"
            [attr.disabled]="existemItensAnalisar(pedido.itensProduto) ? null : 'disabled'"
            (click)="reprovarTodos(pedido.itensProduto)">
            <i class="fas fa-times mr-2"></i>
            {{ permiteAnalisarTodos(pedido.itensProduto) ? 'Reprovar todos' : 'Reprovar itens restantes' }}
          </button>
        </ng-container>
        <ng-container column-templates>
          <ng-template customColumn="origem" let-item="item">
            <span>
              {{
              item.idItemSolicitacaoCompra && item.itemSolicitacaoCompra
              ? 'SC: ' + item.itemSolicitacaoCompra.codigoSolicitacaoCompra + '/' + item.itemSolicitacaoCompra.codigo
              : item.idRequisicaoItem ? 'RC: ' + item.idRequisicaoItem : ''
              }}
            </span>
          </ng-template>
          <ng-template customColumn="id" let-item="item">
            <span>
              {{
              integracaoSapHabilitada && !integracaoRequisicaoErp && !integracaoRequisicaoErpComPermissaoDeEditar &&
              !pedido?.idIntegracaoPedidoERP
              ? item.produto?.codigo
              : integracaoRequisicaoErp || integracaoRequisicaoErpComPermissaoDeEditar || pedido?.idIntegracaoPedidoERP
              ?
              obtenhaCodigoDeIntegracaoErpDoProduto(pedido, item) : item.idProduto
              }}
            </span>
          </ng-template>
          <ng-template customColumn="produto" let-item="item">
            <div
              class="coluna produto text-truncate"
              [title]="pedido.origemPedido === OrigemPedido['Sem Negociação'] && !item.produto ? item.descricao : item.produto?.descricao">
              {{
              pedido.origemPedido === OrigemPedido['Sem Negociação'] && !item.produto
              ? item.descricao
              : item.produto?.descricao
              }}
            </div>
          </ng-template>
          <ng-template customColumn="situacao" let-item="item">
            <span
              *ngIf="item.solicitacaoItem?.analise"
              class="badge"
              [ngClass]="
              {
                'badge-danger': item.solicitacaoItem?.analise?.situacao == SituacaoAnalise.Rejeitado,
                'badge-success': item.solicitacaoItem?.analise?.situacao == SituacaoAnalise.Aprovado
              }">
              {{ SituacaoAnalise[item.solicitacaoItem?.analise?.situacao] }}
            </span>
          </ng-template>
          <ng-template customColumn="marca" let-item="item">
            <span>{{ item.marca ? item.marca.nome : 'Sem preferência' }}</span>
          </ng-template>
          <ng-template customColumn="unidadeDeMedida" let-item="item">
            <span>
              {{
              pedido.origemPedido == OrigemPedido['Sem Negociação']
              ? 'Sem preferência'
              : item.produto?.unidadeMedida?.sigla
              }}
            </span>
          </ng-template>
          <ng-template customColumn="quantidade" let-item="item">
            <span>
              {{
              item.produto?.unidadeMedida?.permiteQuantidadeFracionada
              ? (item.quantidade | number: '1.0-10':'pt-BR')
              : item.quantidade
              }}
            </span>
          </ng-template>
          <ng-template customColumn="valorUnitario" let-item="item">
            <span>{{ item.valor | customCurrency: item.moeda:'1.2-4':'symbol' }}</span>
          </ng-template>
          <ng-template customColumn="prazoDeEntrega" let-item="item">
            <span *ngIf="item.prazoEntrega">{{ item.prazoEntrega + ' ' }} dia(s) útil(eis)</span>
          </ng-template>
          <ng-template customColumn="dataDeEntrega" let-item="item">
            <span *ngIf="!item.prazoEntrega">
              {{ item.dataEntrega | date: 'dd/MM/yyyy' }}
              <span *ngIf="item.entregaProgramada" class="icone-programacao-de-entrega">
                <i
                  class="icone far fa-clock"
                  [ngbTooltip]="'Entrega Programada ' + item.entregaProgramadaUltimaDataDto?.ultimaDataEntregaDias">
                </i>
              </span>
            </span>
          </ng-template>
          <ng-template customColumn="dataEntregaPrevista" let-item="item">
            <span *ngIf="item.dataEntregaPrevista">
              {{ item.dataEntregaPrevista | date: 'dd/MM/yyyy' }}
            </span>
          </ng-template>
          <ng-template customColumn="valorTotal" let-item="item">
            <span>{{ item.valorTotal | customCurrency: item.moeda:'1.2-4':'symbol' }}</span>
          </ng-template>
          <ng-template customColumn="ipiAliquota" let-item="item">
            <span>{{ item.ipiAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="pisAliquota" let-item="item">
            <span>{{ item.pisAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="cofinsAliquota" let-item="item">
            <span>{{ item.cofinsAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="icmsAliquota" let-item="item">
            <span>{{ item.icmsAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="stAliquota" let-item="item">
            <span>{{ item.stAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
        </ng-container>
      </smk-table-funcionalidade>
      <br>
      <!--Serviço-->
      <smk-table-funcionalidade
        *ngIf="estaPreenchido(pedido.itensServico)"
        [configuracaoDaTable]="configuracaoDaTableDeItens"
        [itensDaTable]="pedido?.itensServico"
        [configuracaoColunasUsuario]="configuracaoColunasDosItensService"
        [configuracaoFerramentasDaTable]="configuracaoFerramentasDaTable"
        (selectedChange)="selecionePedidoServicoItem($event)">
        <div class="titulo text-uppercase">Serviço</div>
        <br>
        <ng-container acoes-table>
          <button
            *ngIf="itemIndividualSelecionado(pedidoItemServicosSelecionados)"
            class="btn btn-outline-primary"
            ngbTooltip="Visualizar"
            (click)="visualizeItem(pedidoItemServicosSelecionados[0])">
            <i class="fas fa-eye"></i>
          </button>
          <button
            *ngIf="itemIndividualSelecionado(pedidoItemServicosSelecionados)"
            class="btn btn-outline-primary"
            ngbTooltip="Observações"
            (click)="visualizeObservacoesItem(pedidoItemServicosSelecionados[0])">
            <i class="far fa-comment-dots"></i>
          </button>
          <button
            *ngIf="permiteExibirProgramacaoEntrega(pedidoItemServicosSelecionados)"
            class="btn btn-outline-primary"
            ngbTooltip="Programação de entrega"
            (click)="visualizeProgramacaoDeEntrega(pedidoItemServicosSelecionados[0])">
            <i class="fas fa-clock"></i>
          </button>
          <button
            *ngIf="permiteExibirAlterarObservacao(pedidoItemServicosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Alterar observações"
            (click)="alterarObservacao(pedidoItemServicosSelecionados[0], false)">
            <i class="fas fa-comment-dots"></i>
          </button>
          <button
            *ngIf="exibirBotaoDataEntregaPrevista(pedidoItemServicosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Alterar Data Entrega Prevista"
            (click)="altereDataEntregaPrevistaItens(pedidoItemServicosSelecionados)">
            <i class="fas fa-calendar"></i>
          </button>
          <button
            *ngIf="permiteExibirBotoesAnalise(pedidoItemServicosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Aprovar"
            [attr.disabled]="!permiteAprovarPedidoItens(pedidoItemServicosSelecionados) ? 'disabled' : null"
            (click)="solicitarAprovarItens(pedidoItemServicosSelecionados, false)">
            <i class="fas fa-check-circle"></i>
          </button>
          <button
            *ngIf="permiteExibirBotoesAnalise(pedidoItemServicosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Reprovar"
            [attr.disabled]="!permiteReprovarPedidoItens(pedidoItemServicosSelecionados) ? 'disabled' : null"
            (click)="reprovarItem(pedidoItemServicosSelecionados, false)">
            <i class="fas fa-times-circle"></i>
          </button>
          <button
            *ngIf="permiteAbrirObservacao(pedidoItemServicosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Comentários"
            (click)="abrirObservacao(pedidoItemServicosSelecionados[0])">
            <i class="fas fa-comments"></i>
          </button>
          <button
            *ngIf="permiteExibirAlteracaoItem(pedidoItemServicosSelecionados)"
            class="btn btn-primary"
            ngbTooltip="Editar"
            (click)="editarItem(pedidoItemServicosSelecionados[0], false)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button
            *ngIf="permiteExibirAlteracaoItem(pedidoItemServicosSelecionados)"
            class="btn btn-danger"
            ngbTooltip="Excluir"
            (click)="solicitarRemoverItem(pedidoItemServicosSelecionados[0], false)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <span *ngIf="permiteExibirBotoesAnalise(pedidoItemServicosSelecionados)" class="separador mr-3"></span>
          <button
            *ngIf="permitirAnalise()"
            class="aprovar-todos btn btn-success"
            [attr.disabled]="existemItensAnalisar(pedido.itensServico) ? null : 'disabled'"
            (click)="solicitarAprovarTodos(pedido.itensServico)">
            <i class="fas fa-check mr-2"></i>
            {{ permiteAnalisarTodos(pedido.itensServico) ? 'Aprovar todos' : 'Aprovar itens restantes' }}
          </button>
          <button
            *ngIf="permitirAnalise()"
            class="reprovar-todos btn btn-outline-danger"
            [attr.disabled]="existemItensAnalisar(pedido.itensServico) ? null : 'disabled'"
            (click)="reprovarTodos(pedido.itensServico)">
            <i class="fas fa-times mr-2"></i>
            {{ permiteAnalisarTodos(pedido.itensServico) ? 'Reprovar todos' : 'Reprovar itens restantes' }}
          </button>
        </ng-container>
        <ng-container column-templates>
          <ng-template customColumn="origem" let-item="item">
            <span>
              {{
              item.idItemSolicitacaoCompra && item.itemSolicitacaoCompra
              ? 'SC: ' + item.itemSolicitacaoCompra.codigoSolicitacaoCompra + '/' + item.itemSolicitacaoCompra.codigo
              : item.idRequisicaoItem ? 'RC: ' + item.idRequisicaoItem : ''
              }}
            </span>
          </ng-template>
          <ng-template customColumn="id" let-item="item">
            <span>
              {{
              integracaoSapHabilitada && !integracaoRequisicaoErp && !integracaoRequisicaoErpComPermissaoDeEditar &&
              !pedido?.idIntegracaoPedidoERP
              ? item.produto?.codigo
              : integracaoRequisicaoErp || integracaoRequisicaoErpComPermissaoDeEditar || pedido?.idIntegracaoPedidoERP
              ?
              obtenhaCodigoDeIntegracaoErpDoProduto(pedido, item) : item.idProduto
              }}
            </span>
          </ng-template>
          <ng-template customColumn="servico" let-item="item">
            <div
              class="coluna produto text-truncate"
              [title]="pedido.origemPedido === OrigemPedido['Sem Negociação'] && !item.produto ? item.descricao : item.produto?.descricao">
              {{
              pedido.origemPedido === OrigemPedido['Sem Negociação'] && !item.produto
              ? item.descricao
              : item.produto?.descricao
              }}
            </div>
          </ng-template>
          <ng-template customColumn="situacao" let-item="item">
            <span
              *ngIf="item.solicitacaoItem?.analise"
              class="badge"
              [ngClass]="
              {
                'badge-danger': item.solicitacaoItem?.analise?.situacao == SituacaoAnalise.Rejeitado,
                'badge-success': item.solicitacaoItem?.analise?.situacao == SituacaoAnalise.Aprovado
              }">
              {{ SituacaoAnalise[item.solicitacaoItem?.analise?.situacao] }}
            </span>
          </ng-template>
          <ng-template customColumn="unidadeDeMedida" let-item="item">
            <span>
              {{
              pedido.origemPedido == OrigemPedido['Sem Negociação']
              ? 'Sem preferência'
              : item.produto?.unidadeMedida?.sigla
              }}
            </span>
          </ng-template>
          <ng-template customColumn="quantidade" let-item="item">
            <span>
              {{
              item.produto?.unidadeMedida?.permiteQuantidadeFracionada
              ? (item.quantidade | number: '1.0-10':'pt-BR')
              : item.quantidade
              }}
            </span>
          </ng-template>
          <ng-template customColumn="valorUnitario" let-item="item">
            <span>{{ item.valor | customCurrency: item.moeda:'1.2-4':'symbol' }}</span>
          </ng-template>
          <ng-template customColumn="prazoDeEntrega" let-item="item">
            <span *ngIf="item.prazoEntrega">{{ item.prazoEntrega + ' ' }} dia(s) útil(eis)</span>
          </ng-template>
          <ng-template customColumn="dataDeEntrega" let-item="item">
            <span *ngIf="!item.prazoEntrega">
              {{ item.dataEntrega | date: 'dd/MM/yyyy' }}
              <span *ngIf="item.entregaProgramada" class="icone-programacao-de-entrega">
                <i
                  class="icone far fa-clock"
                  [ngbTooltip]="'Entrega Programada ' + item.entregaProgramadaUltimaDataDto?.ultimaDataEntregaDias">
                </i>
              </span>
            </span>
          </ng-template>
          <ng-template customColumn="dataEntregaPrevista" let-item="item">
            <span *ngIf="item.dataEntregaPrevista">
              {{ item.dataEntregaPrevista | date: 'dd/MM/yyyy' }}
            </span>
          </ng-template>
          <ng-template customColumn="valorTotal" let-item="item">
            <span>{{ item.valorTotal | customCurrency: item.moeda:'1.2-4':'symbol' }}</span>
          </ng-template>
          <ng-template customColumn="pisAliquota" let-item="item">
            <span>{{ item.pisAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="cofinsAliquota" let-item="item">
            <span>{{ item.cofinsAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="csllAliquota" let-item="item">
            <span>{{ item.csllAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="issAliquota" let-item="item">
            <span>{{ item.issAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="irAliquota" let-item="item">
            <span>{{ item.irAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
          <ng-template customColumn="inssAliquota" let-item="item">
            <span>{{ item.inssAliquota | porcentagem: '1.2-10':'pt-BR' }}</span>
          </ng-template>
        </ng-container>
      </smk-table-funcionalidade>
    </smk-card-funcionalidade>
    <smk-card-funcionalidade *ngIf="exibirSecaoAnexos" titulo="Anexos" class="mt-4">
      <div class="row">
        <div class="col-lg-6">
          <app-manter-anexos
            [anexos]="pedidosAnexos"
            [readOnly]="!permiteManterAnexos()"
            (anexarArquivos)="inserirPedidoAnexos($event)"
            (excluirAnexo)="excluirAnexo($event)">
          </app-manter-anexos>
        </div>
      </div>
    </smk-card-funcionalidade>
    <smk-card-funcionalidade *ngIf="exibirSecaoFluxoIntegracaoErp" titulo="Fluxo de Integração ERP" class="mt-4">
      <app-listar-fluxo-integracao-erp
        *ngIf="pedido?.idPedido"
        [id]="pedido?.idPedido"
        [origem]="origemFluxoIntegracaoErp.pedido">
      </app-listar-fluxo-integracao-erp>
    </smk-card-funcionalidade>
  </smk-funcionalidade>
</div>