.dual-list-wrapper {

  display: flex;

  .source, .destination {
    flex: 1;

    .header {
      margin-bottom: 16px;

      .title {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 16px;
        color: #417185;
      }

      .subtitle {
        margin-bottom: 8px;
        font-size: 10px;
        color: #417185;
      }

      .input-wrapper {
        display: flex;
        align-items: center;

        input.form-control {
          border-radius: 8px !important;
          border: 1px solid #cfdce0 !important;
          .ng-placeholder {
            color: #588394 !important;
            font-weight: bold;
          }

          color: #417185 !important;
          font-family: Open Sans !important;
          font-style: normal !important;
          font-weight: 600 !important;
          font-size: 13px !important;
        }

        button {
          min-width: 0;
        }
      }
    }
  }

  .source {
    margin-right: 16px;
    .actions {
      i {
        margin-right: 5px;
      }
    }
  }

  .destination {
    margin-left: 16px;
    .actions {
      i {
        margin-left: 5px;
      }
    }
  }

  .list-wrapper, .actions {
    border-radius: 8px 8px 0 0;
  }

  .actions {
    display: flex;
    button {
      padding-top: 8px;
      padding-bottom: 8px;
      flex: 1;
      border-radius: 8px 0 0 0;
      border: 1px solid #CFDCE0;
      text-decoration: none;

      &:not(:first-child) {
        border-radius: 0 8px 0 0;
      }

      &:hover {
        transform: none;
      }
    }
  }

  .table-wrapper {
    height: 300px;
    overflow-y: scroll;
    padding: 8px;
    border: 1px solid #CFDCE0;
    border-top: none;
  }
}

