<div *ngFor="let comentario of pendenciaFornecedorComentarios">
  <div class="row mx-0">
    <textarea
      class="form-control col-12 mb-3"
      [ngClass]="{
        'col-lg-10': comentario.anexos.length > 0,
        'col-lg-12': comentario.anexos.length == 0
      }"
      [disabled]="true"
      rows="3"
      name="descricao"
    >
    {{ comentario.usuario.pessoaFisica.nome }} comentado em {{
        comentario.dataCadastro | date: 'dd/MM/yyyy HH:mm'
      }} 
    {{ comentario.descricao }}
  </textarea
    >
    <div class="col-12 col-lg-2 pr-1" *ngIf="comentario.anexos.length > 0">
      <galeria-arquivos
        [fileClasses]="'col-6 col-lg-12 mx-1'"
        [arquivos]="comentario.anexos"
        [disabled]="true"
      >
      </galeria-arquivos>
    </div>
  </div>
</div>
