<div
  class="infinite-scroll"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()">
  <div class="header">
    <div *ngIf="tabAtiva !== 'acompanhamentos'" class="header-search row align-items-center">
      <div class="col-lg-8">
        <input-busca
          label="O que você procura?"
          placeholder="Buscar por código, descrição, requisitante, entre outras informações..."
          (buscar)="buscar($event)"
          (campoVazio)="buscar('')"
          [disabled]="buscaAvancada"></input-busca>
      </div>
      <div class="col-lg-3 pt-lg-4">
        <button
          class="btn btn-primary"
          *ngIf="!buscaAvancada; else esconderBuscaAvancada"
          (click)="exibirBuscaAvancada(true)">
          <i class="fas fa-search-plus"></i> Busca Avançada
        </button>
        <ng-template #esconderBuscaAvancada>
          <button class="btn btn-outline-primary" (click)="exibirBuscaAvancada(false)">
            <i class="fas fa-search-minus"></i> Busca Avançada
          </button>
        </ng-template>
      </div>
    </div>

    <div class="container-fluid filtroAvancadoSemAcompanhamento" *ngIf="tabAtiva == 'acompanhamentos'">
      <form [formGroup]="formAcomp">
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label> Número RC </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoNumeroRc"
              formControlName="termoNumeroRc"
              placeholder="Código"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Número Pedido </label>
            <input
              class="form-control with-shadow"
              type="number"
              id="termoNumeroPedido"
              formControlName="termoNumeroPedido"
              placeholder="Código"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Centro </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCodigoFilialEmpresa"
              formControlName="termoCodigoFilialEmpresa"
              placeholder="Centro"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Nome do Fornecedor </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoNomeFornecedor"
              formControlName="termoNomeFornecedor"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Cod. Fornecedor (SAP) </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCodigoFornecedorSap"
              formControlName="termoCodigoFornecedorSap"
              placeholder="Código"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Num. Pedido SAP </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCodigoPedidoSap"
              formControlName="termoCodigoPedidoSap"
              placeholder="Código"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Comprador do Pedido</label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoComprador"
              formControlName="termoComprador"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Mapa de Cotação / Origem </label>
            <input
              class="form-control with-shadow"
              type="number"
              id="termoOrigem"
              formControlName="termoOrigem"
              placeholder="Código"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Valor (Menor) </label>
            <input
              [textMask]="{ mask: maskValor, guide: false }"
              type="text"
              class="form-control with-shadow"
              name="termoValorMenor"
              formControlName="termoValorMenor"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Valor (Maior) </label>
            <input
              [textMask]="{ mask: maskValor, guide: false }"
              type="text"
              class="form-control with-shadow"
              name="termoValorMaior"
              formControlName="termoValorMaior"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Data de Criação</label>
            <input
              class="form-control with-shadow"
              type="date"
              id="termoDataCriacao"
              formControlName="termoDataCriacao"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Data de Liberação</label>
            <input
              class="form-control with-shadow"
              type="date"
              id="termoDataLiberacao"
              formControlName="termoDataLiberacao"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Etapa:</label>
            <ng-select
              class="full-width with-shadow"
              bindValue="termoEtapa"
              bindLabel="nome"
              formControlName="termoEtapa"
              (change)="etapaAlterada($event)">
              <ng-option [value]="null"></ng-option>
              <ng-option
                *ngFor="let item of acompanhamentoFiltroEtapa.etapas"
                [value]="item.value">{{ item.etapa }}</ng-option>
            </ng-select>
          </div>
          <div class="form-group col-lg-4">
            <label> Situação da Etapa Selecionada:</label>
            <ng-select
              class="full-width with-shadow"
              name="termoSituacaoEtapa"
              formControlName="termoSituacaoEtapa">
              <ng-option [value]="null"></ng-option>
              <ng-option *ngFor="let item of enumSituacaoAtual | enumToArray" [value]="item.index">
                {{
                enumSituacaoAtual == situacaoPedido ? (item.index | situacaoPedido) : item.name
                }}
              </ng-option>
            </ng-select>
          </div>
          <div class="form-group col-lg-4">
            <label> Comprador da RC</label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCompradorSc"
              formControlName="termoCompradorSc"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
        </div>
      </form>
      <div class="row mb-3">
        <div class="col">
          <button class="btn btn-outline-primary float-right" (click)="buscarFiltroAvancado()">
            <i class="fas fa-search"></i> Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid" *ngIf="buscaAvancada && tabAtiva == 'solicitacoes-compra'">
      <form [formGroup]="formSol">
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label> Categoria </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCategoriaSolicitacao"
              formControlName="termoCategoriaSolicitacao"
              placeholder="Código ou descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Grupo de Compradores </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoGrupoCompradores"
              formControlName="termoGrupoCompradores"
              placeholder="Código ou descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Tipo de RC </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoTipoRC"
              formControlName="termoTipoRC"
              placeholder="Código ou descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Código RC </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCodigoRCSolicitacao"
              formControlName="termoCodigoRCSolicitacao"
              placeholder="Código"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Situação </label>
            <select
              id="termoStatusRequisicao"
              class="form-control with-shadow"
              formControlName="termoSituacaoSolicitacao">
              <option [value]="null"></option>
              <option *ngFor="let key of opcoesSituacaoSolicitacaoItemCompra" [value]="key">
                {{ enumSituacaoSolicitacaoItemCompra[key] }}
              </option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <label> Requisitante </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoRequisitante"
              formControlName="termoRequisitante"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Descrição do Produto </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoDescricaoSolicitacao"
              formControlName="termoDescricaoSolicitacao"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label for="dataInicial"> Data inicial: </label>
            <input
              name="dataInicial"
              id="dataInicial"
              type="date"
              class="form-control with-shadow"
              formControlName="dataInicial" />
          </div>
          <div class="form-group col-lg-4">
            <label for="dataFinal"> Data final: </label>
            <input
              name="dataFinal"
              id="dataFinal"
              type="date"
              class="form-control with-shadow"
              formControlName="dataFinal" />
          </div>
          <div class="form-group col-lg-4">
            <label> Categoria da Demanda </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCategoriaDemanda"
              formControlName="termoCategoriaDemanda"
              placeholder="Categoria da Demanda"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Centro </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCodigoFilialEmpresa"
              formControlName="termoCodigoFilialEmpresa"
              placeholder="Centro"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Tipo Documento </label>
            <input
              oninput="this.value = this.value.toUpperCase()"
              class="form-control with-shadow"
              type="text"
              id="tipoDocumento"
              formControlName="tipoDocumento"
              placeholder="Tipo Documento"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Comprador da RC </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoComprador"
              formControlName="termoComprador"
              placeholder="Comprador"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
        </div>
      </form>
      <div class="row mb-3">
        <div class="col">
          <button class="btn btn-outline-primary float-right" (click)="buscarFiltroAvancado()">
            <i class="fas fa-search"></i> Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid" *ngIf="buscaAvancada && tabAtiva == 'cotacoes'">
      <form [formGroup]="formCot">
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label> Id Cotação </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="idCotacao"
              formControlName="idCotacao"
              placeholder="Id Cotação"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Descrição </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoDescricaoCotacao"
              formControlName="termoDescricaoCotacao"
              placeholder="Descrição"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Comprador </label>
            <input
              class="form-control with-shadow"
              type="text"
              id="termoCompradorResponsavel"
              formControlName="termoCompradorResponsavel"
              placeholder="Nome"
              (keyup.enter)="buscarFiltroAvancado()" />
          </div>
          <div class="form-group col-lg-4">
            <label> Status </label>
            <select id="termoStatus" class="form-control with-shadow" formControlName="termoStatus">
              <option [value]="null"></option>
              <option
                *ngFor="let opcaoStatusCotacao of opcoesStatusCotacao"
                [value]="opcaoStatusCotacao">
                {{ opcaoStatusCotacao }}
              </option>
            </select>
          </div>
        </div>
      </form>
      <div class="row mb-3">
        <div class="col">
          <button class="btn btn-outline-primary float-right" (click)="buscarFiltroAvancado()">
            <i class="fas fa-search"></i> Buscar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-nav-tabs">
    <ul class="nav nav-tabs row bounds" id="acompanhamentoTab" role="tablist">
      <li class="nav-item col-lg-3" *ngIf="flagExibirAcompanhamentos">
        <a
          class="nav-link nav-link-block text-"
          [class.active]="tabAtiva == 'acompanhamentos'"
          id="acompanhamentos-tab"
          data-toggle="tab"
          href="#acompanhamentos"
          role="tab"
          aria-controls="acompanhamentos"
          aria-selected="false"
          (click)="selectTab('acompanhamentos')">
          <span class="d-block d-sm-none d-xl-block">Acompanhamentos</span>
          <span
            class="d-none d-sm-block d-xl-none"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Acompanhamentos">Acompanhamentos</span>
        </a>
      </li>

      <li class="nav-item col-lg-3" *ngIf="flagExibirAcompanhamentoSolicitacoesCompra">
        <a
          class="nav-link nav-link-block text-"
          [class.active]="tabAtiva == 'solicitacoes-compra'"
          id="solicitacoes-compra-tab"
          data-toggle="tab"
          href="#solicitacoes-compra"
          role="tab"
          aria-controls="solicitacoes-compra"
          aria-selected="false"
          (click)="selectTab('solicitacoes-compra')">
          <span class="d-block d-sm-none d-xl-block">Solicitações de Compra</span>
          <span
            class="d-none d-sm-block d-xl-none"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Solicitações de Compra">Solicitações Compra</span>
        </a>
      </li>
      <li class="nav-item col-lg-3" *ngIf="flagExibirAcompanhamentoCotacoes">
        <a
          class="nav-link nav-link-block"
          [class.active]="tabAtiva == 'cotacoes'"
          id="cotacoes-tab"
          data-toggle="tab"
          href="#cotacoes"
          role="tab"
          aria-controls="cotacoes"
          aria-selected="false"
          (click)="selectTab('cotacoes')">Cotações</a>
      </li>
    </ul>
    <div
      class="tab-content bounds"
      [class.bounds]="
        tabAtiva != 'solicitacoes-compra' && tabAtiva != 'acompanhamentos' && tabAtiva != 'cotacoes'
      "
      id="acompanhamentoTabContent">
      <div
        class="tab-pane fade"
        [ngClass]="{ 'active show': tabAtiva == 'acompanhamentos' }"
        id="acompanhamentos"
        role="tabpanel"
        aria-labelledby="acompanhamentos-tab">
        <acompanhamentos #acompanhamentos *ngIf="tabAtiva == 'acompanhamentos'"> </acompanhamentos>
      </div>

      <div
        class="tab-pane fade"
        [ngClass]="{ 'active show': tabAtiva == 'solicitacoes-compra' }"
        id="solicitacoes-compra"
        role="tabpanel"
        aria-labelledby="solicitacoes-compra-tab"
        *ngIf="flagExibirAcompanhamentoSolicitacoesCompra">
        <acompanhamento-solicitacao-compra
          #acompanhamentoSolicitacaoCompra
          *ngIf="tabAtiva == 'solicitacoes-compra'">
        </acompanhamento-solicitacao-compra>
      </div>
      <div
        class="tab-pane fade"
        [ngClass]="{ 'active show': tabAtiva == 'cotacoes' }"
        id="cotacoes"
        role="tabpanel"
        aria-labelledby="cotacoes-tab"
        *ngIf="flagExibirAcompanhamentoCotacoes">
        <acompanhamento-cotacao #acompanhamentoCotacao *ngIf="tabAtiva == 'cotacoes'">
        </acompanhamento-cotacao>
      </div>
    </div>
  </div>
</div>
