label {
  padding-left: 16px;
  padding-right: 16px;
}

.input-group {
  border-radius: 0.25rem;
  border: 1px solid #cfdce0 !important;
  border-radius: 8px;

  input {
    padding-left: 16px;
    padding-right: 16px;

    border: none;

    &.form-control:focus {
      box-shadow: none;
      background-color: #ffffff;
    }
  }

  .input-group-append {
    button {
      background-color: #ffffff;
      border: none !important;
      border-radius: 8px;
      min-width: unset;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      i {
        color: gray;
      }
      &:hover {
        transform: none;
      }
      &:focus,
      &:active {
        box-shadow: none;
      }
    }
  }
}

::ng-deep sdk-user-select div.input-group {
  ng-select.ng-select-opened.ng-select-bottom > .ng-select-container,
  ng-select.ng-select.ng-select-single .ng-select-container {
    border: none !important;
    box-shadow: none !important;
  }

  ng-select .ng-arrow-wrapper .ng-arrow {
    display: none;
  }
}

.icon-font-size {
  font-size: 14px;
}

.icon-color-gray {
  color: #cfdce0 !important;
}

.icon-color-blue {
  color: #417185 !important;
}
