<div class="header">
  <div class="header-search row">
    <div class="col-12 align-self-center">
      <h3 class="mb-0 text-uppercase text-primary font-weight-bold">
        {{ idCampanha ? 'Alterar' : 'Nova' }} campanha
      </h3>
    </div>
  </div>
</div>
<div class="custom-nav-tabs">
  <ul class="nav nav-tabs row bounds" id="campanhaTab" role="tablist">
    <li class="nav-item col-lg-3">
      <a
        class="nav-link nav-link-block active"
        id="dados-campanha-tab"
        data-toggle="tab"
        href="#dados-campanha"
        role="tab"
        aria-controls="dados-campanha"
        aria-selected="false"
        >Dados da Campanha</a
      >
    </li>
  </ul>
  <div class="tab-content bounds" id="campanhaTabContent">
    <div
      class="tab-pane fade active show"
      id="dados-campanha"
      role="tabpanel"
      aria-labelledby="dados-campanha-tab"
    >
      <div class="card card-tab-content tab-content">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row bg-white pt-4">
              <div class="col">
                <form [formGroup]="form">
                  <div class="form-row">
                    <div
                      class="form-group required col-md-8"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Somente letras minúsculas, '_' e '-'"
                    >
                      <label>URL:</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text font-weight-bold" id="basic-addon3">
                            {{ campanhaBaseUrl }}
                          </span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="url"
                          [class.invalid]="form.controls.url.invalid && form.controls.url.dirty"
                        />
                      </div>
                      <div *ngIf="form.controls.url.invalid && form.controls.url.dirty">
                        <span class="invalid" *ngIf="form.controls.url.errors.required">
                          Preenchimento obrigatório
                        </span>
                        <span class="invalid" *ngIf="form.controls.url.errors.pattern">
                          Preencher somente com letras minúsculas, números e os caracteres especiais
                          '_' e '-' são permitidos
                        </span>
                      </div>
                    </div>
                    <div class="form-group required col-md-4">
                      <label>Situação:</label>
                      <ng-select
                        formControlName="situacao"
                        [class.invalid]="
                          form.controls.situacao.invalid && form.controls.situacao.dirty
                        "
                      >
                        <ng-option [value]="SituacaoCampanha['Em Configuração']"
                          >Em Configuração</ng-option
                        >
                        <ng-option [value]="SituacaoCampanha['Ativa']">Ativa</ng-option>
                        <ng-option [value]="SituacaoCampanha['Inativa']">Inativa</ng-option>
                      </ng-select>
                      <span
                        class="invalid"
                        *ngIf="form.controls.situacao.invalid && form.controls.situacao.dirty"
                      >
                        Preenchimento obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group required col-md-8">
                      <label for="nome">Nome:</label>
                      <input
                        class="form-control"
                        type="text"
                        name="nome"
                        formControlName="nome"
                        [class.invalid]="form.controls.nome.invalid && form.controls.nome.dirty"
                      />
                      <span
                        class="invalid"
                        *ngIf="form.controls.nome.invalid && form.controls.nome.dirty"
                        >Preenchimento obrigatório</span
                      >
                    </div>
                    <div class="form-group required col-md-2">
                      <label for="dataInicio">Data Início:</label>
                      <input-date formControlName="dataInicio" [min]="minDataInicio"></input-date>
                      <span
                        class="invalid"
                        *ngIf="form.controls.dataInicio.invalid && form.controls.dataInicio.dirty"
                        >Preenchimento obrigatório</span
                      >
                    </div>
                    <div class="form-group required col-md-2">
                      <label for="dataFim">Data Fim:</label>
                      <input-date
                        formControlName="dataFim"
                        [min]="form.getRawValue().dataInicio"
                      ></input-date>
                      <span
                        class="invalid"
                        *ngIf="form.controls.dataFim.invalid && form.controls.dataFim.dirty"
                        >Preenchimento obrigatório</span
                      >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group required col">
                      <label>Apresentação:</label>
                      <ck-editor
                        formControlName="apresentacao"
                        [class.invalid]="
                          form.controls.apresentacao.invalid && form.controls.apresentacao.dirty
                        "
                      >
                      </ck-editor>
                      <span
                        class="invalid"
                        *ngIf="
                          form.controls.apresentacao.invalid && form.controls.apresentacao.dirty
                        "
                      >
                        Preenchimento obrigatório
                      </span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group required col">
                      <label>Termos e Condições:</label>
                      <ck-editor
                        formControlName="termos"
                        [class.invalid]="form.controls.termos.invalid && form.controls.termos.dirty"
                      >
                      </ck-editor>
                      <span
                        class="invalid"
                        *ngIf="form.controls.termos.invalid && form.controls.termos.dirty"
                      >
                        Preenchimento obrigatório
                      </span>
                    </div>
                  </div>

                  <div class="divisor">
                    <div class="title">Imagem</div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input-file
                        [multiple]="false"
                        accept=".png,.jpeg,.jpg"
                        (select)="imagemSelecionada($event)"
                      ></input-file>
                    </div>
                    <div class="form-group col-md-2" *ngIf="form.controls.imagem.value">
                      <button class="btn btn-danger" (click)="removerImagem()">
                        <i class="fas fa-trash-alt"></i>
                        Remover
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" *ngIf="form.controls.imagem.value">
                      <img
                        class="d-block img-fluid img-thumbnail"
                        [src]="form.getRawValue().imagem.url"
                        alt="{{ form.getRawValue().imagem.nome }}"
                      />
                    </div>
                  </div>

                  <!-- #region Contratos -->
                  <div class="divisor mb-0">
                    <div class="title">Contratos</div>
                  </div>
                  <div class="bg-white border-bottom row py-2 mx-0">
                    <div class="col">
                      <a
                        class="btn btn-icon d-flex align-items-center text-primary p-0"
                        (click)="incluirContrato()"
                      >
                        <i class="fas fa-plus-circle"></i>
                        <p class="d-inline-block mb-0 ml-2">Incluir contrato</p>
                      </a>
                    </div>
                  </div>
                  <div class="bg-lighter border-bottom row py-2 mx-0 d-none d-md-flex">
                    <div class="col-md-1">
                      <label class="font-weight-bold">ID:</label>
                    </div>
                    <div class="col-md-4">
                      <label class="font-weight-bold">Contrato:</label>
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold">Data Início:</label>
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold">Data Fim:</label>
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold">Situação:</label>
                    </div>
                    <div class="col-md-1">
                      <label class="font-weight-bold">Ações:</label>
                    </div>
                  </div>
                  <div
                    class="bg-white border-bottom row py-2 mx-0"
                    *ngIf="!form.getRawValue().contratos?.length"
                  >
                    <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
                  </div>

                  <div
                    class="bg-white border-bottom row py-2 mx-0"
                    *ngFor="let contrato of form.getRawValue().contratos; let i = index"
                  >
                    <div class="col-md-1 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">ID:</label>
                      <p class="mb-3 mb-lg-0">{{ contrato.idContratoCatalogo }}</p>
                    </div>
                    <div class="col-md-4 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">Contrato:</label>
                      <p class="mb-3 mb-lg-0">{{ contrato.titulo }}</p>
                    </div>
                    <div class="col-6 col-md-2 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">Data Início:</label>
                      <p class="mb-3 mb-lg-0">{{ contrato.dataInicio | date: 'dd/MM/yyyy' }}</p>
                    </div>
                    <div class="col-6 col-md-2 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">Data Fim:</label>
                      <p class="mb-3 mb-lg-0">{{ contrato.dataFim | date: 'dd/MM/yyyy' }}</p>
                    </div>
                    <div class="col-md-2 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">Situação:</label>
                      <p class="mb-3 mb-lg-0">{{ SituacaoContratoCatalogo[contrato.situacao] }}</p>
                    </div>
                    <div class="col-md-1 d-flex justify-content-center align-self-center">
                      <button
                        class="btn btn-icon"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Excluir"
                        (click)="solicitarRemocaoContrato(contrato.idContratoCatalogo)"
                      >
                        <i class="far fa-trash-alt text-danger"></i>
                      </button>
                    </div>
                  </div>
                  <!-- #endregion -->

                  <!-- #region Participantes -->
                  <div class="divisor mb-0 mt-5">
                    <div class="title">Participantes</div>
                  </div>
                  <div class="bg-lighter border-bottom row py-2 mx-0 d-none d-md-flex">
                    <div class="col-md-1">
                      <label class="font-weight-bold">ID:</label>
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold">CNPJ:</label>
                    </div>
                    <div class="col-md-4">
                      <label class="font-weight-bold">Razão Social:</label>
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold">Data da Adesão:</label>
                    </div>
                    <div class="col-md-2">
                      <label class="font-weight-bold">Situação:</label>
                    </div>
                    <div class="col-md-1">
                      <label class="font-weight-bold">Ações:</label>
                    </div>
                  </div>
                  <div
                    class="bg-white border-bottom row py-2 mx-0"
                    *ngIf="!form.getRawValue().participantes?.length"
                  >
                    <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
                  </div>

                  <div
                    class="bg-white border-bottom row py-2 mx-0"
                    *ngFor="let participante of form.getRawValue().participantes; let i = index"
                  >
                    <div class="col-md-1 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">ID:</label>
                      <p class="mb-3 mb-lg-0">{{ participante.pessoaJuridica.idPessoaJuridica }}</p>
                    </div>
                    <div class="col-md-2 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">CNPJ:</label>
                      <p class="mb-3 mb-lg-0">{{ participante.pessoaJuridica.cnpj }}</p>
                    </div>
                    <div class="col-md-4 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">Razão Social:</label>
                      <p class="mb-3 mb-lg-0">{{ participante.pessoaJuridica.razaoSocial }}</p>
                    </div>
                    <div class="col-md-2 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none"
                        >Data de Adesão:</label
                      >
                      <p class="mb-3 mb-lg-0">{{ participante.dataAdesao | date: 'dd/MM/yyyy' }}</p>
                    </div>
                    <div class="col-md-2 col-sm-3 align-self-center">
                      <label for="" class="font-weight-bold d-block d-md-none">Situação:</label>
                      <p class="mb-3 mb-lg-0">{{ Situacao[participante.situacao] }}</p>
                    </div>
                    <div class="col-md-1 d-flex justify-content-center align-self-center">
                      <button
                        *ngIf="participante.situacao == Situacao.Ativo; else botaoAtivar"
                        class="btn btn-icon"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Desativar"
                        (click)="inativarParticipante(participante)"
                      >
                        <i class="fas fa-toggle-on text-success"></i>
                      </button>
                      <ng-template #botaoAtivar>
                        <button
                          class="btn btn-icon"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="Ativar"
                          (click)="ativarParticipante(participante)"
                        >
                          <i class="fas fa-toggle-off"></i>
                        </button>
                      </ng-template>
                    </div>
                  </div>
                  <!-- #endregion -->
                </form>
              </div>
            </div>
            <div class="row bg-white py-3">
              <div class="col">
                <button type="button" class="btn btn-primary float-right" (click)="salvar()">
                  <i class="fas fa-save"></i> Salvar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary float-right mx-2"
                  (click)="voltar()"
                >
                  <i class="fas fa-arrow-left"></i> Voltar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
