<ul class="nav bg-gray">
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="salvar()"><i class="fas fa-save"></i> Salvar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="cancelar()"><i class="fas fa-ban"></i> Cancelar</a>
  </li>
  <li class="nav-item" *ngIf="idDepartamento">
    <a class="nav-link" role="button" [routerLink]="['../', 'novo']"><i class="fas fa-plus"></i> Incluir novo</a>
  </li>
</ul>
<header>
  <h1 class="title" translate>{{ idDepartamento?'Alterar':'Incluir' }} Departamento</h1>
</header>
<div class="container-fluid no-bounds">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-row" *ngIf="idDepartamento">
          <div class="form-group col-12 col-md-1">
            <label for="idDepartamento" translate> Id </label>
            <input class="form-control" type="text" readonly name="idDepartamento" formControlName="idDepartamento">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <label for="idDepartamentoPai"> Departamento pai </label>
            <input-tree [source]="centrosCusto" value-property="descricao" key-property="idDepartamento"
              children-property="filhos" name="idDepartamentoPai" formControlName="idDepartamentoPai"
              (empty-tree)="naoExistemDepartamentosDisponiveis($event)"></input-tree>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-2">
            <label for="codigo" translate> Código </label>
            <input class="form-control" type="text" name="codigo" formControlName="codigo">
          </div>
          <div class="form-group required col-lg-10">
            <label for="descricao" translate> Descrição </label>
            <input class="form-control"
              [class.invalid]="form.controls.descricao.invalid && form.controls.descricao.dirty"
              type="text" name="descricao" formControlName="descricao">
            <span class="invalid" *ngIf="form.controls.descricao.invalid && form.controls.descricao.dirty">Preenchimento
              obrigatório</span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- #region Níveis -->
  <div class="card"
    *ngIf="idDepartamento && this.usuarioAtual.permissaoAtual.pessoaJuridica.tipoAlcadaAprovacao !== this.tipoAlcadaAprovacaoEnum.unificada">
    <a class="card-header collapsed" data-toggle="collapse" href="#collapseNiveis" (click)="permitirExibirNiveis()">
      Níveis
    </a>
    <div class="card-body">
      <div class="collapse" id="collapseNiveis">
        <listar-niveis [id-departamento]="idDepartamento" *ngIf="exibirNiveis"></listar-niveis>
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>
