<ul class="nav bg-gray">
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="salvar()"><i class="fas fa-save"></i> Salvar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="cancelar()"><i class="fas fa-ban"></i> Cancelar</a>
  </li>
  <li class="nav-item" *ngIf="idProduto">
    <a class="nav-link" role="button" [routerLink]="['../', 'novo']"><i class="fas fa-plus"></i> Incluir novo</a>
  </li>
</ul>
<header>
  <h1 class="title" translate>{{ idProduto?'Alterar':'Incluir' }} Produto</h1>
</header>
<div class="container-fluid no-bounds">
  <!-- #region Dados Gerais -->
  <div class="card">
    <a class="card-header" data-toggle="collapse" href="#collapsedFormDadosGerais">
      Dados gerais
    </a>
    <div class="card-body">
      <form class="collapse show" id="collapsedFormDadosGerais" [formGroup]="form">
        <div class="form-row">
          <div class="form-group required col-md-6 col-lg-3" *ngIf="idProduto">
            <label for="situacao"> Situação </label>
            <ng-select name="situacao" id="situacao" formControlName="situacao"
              [class.invalid]="form.controls.situacao.invalid && form.controls.situacao.dirty">
              <ng-option [value]="SituacaoProduto.Ativo">Ativo</ng-option>
              <ng-option [value]="SituacaoProduto.Inativo">Inativo</ng-option>
              <ng-option [value]="SituacaoProduto['Solicitação']">Solicitação</ng-option>
            </ng-select>
          </div>
          <div class="form-group col-md-6 col-lg-3">
            <label for="codigo"> Código </label>
            <input class="form-control" type="text" name="codigo" formControlName="codigo">
          </div>
          <div class="form-group required col-md-6 col-lg-3">
            <label for="codigoUnico"> Código único </label>
            <i
              class="fas fa-info-circle ml-1"
              data-toggle="tooltip"
              data-placement="right"
              ngbTooltip="O maior valor é {{ maiorCodigoUnico }}
              ">
            </i>
            <input
              class="form-control"
              type="text"
              name="codigoUnico"
              formControlName="codigoUnico"
              [textMask]="{ mask: maskCodigoUnico, guide: false }">
          </div>
          <div *ngIf="!idProduto" class="gerar-codigo-unico form-check mt-4 pt-2 ml-2 mb-3">
            <input
              id="gerarCodigoUnicoAutomatico"
              type="checkbox"
              class="gerar-codigo-unico-check form-check-input"
              formControlName="gerarCodigoUnicoAutomatico">
            <label for="gerarCodigoUnicoAutomatico" class="gerar-codigo-unico-label form-check-label">
              Gerar código único automaticamente
            </label>
          </div>
          <div *ngIf="precificacaoProduto != undefined" class="form-group col-md-6 col-lg-3">
            <div class="row justify-content-end">
              <div class="col-0 button-align">
                <button data-toggle="dropdown" role="button" class="btn btn-block btn-primary">
                  <i class="fas fa-tags"></i>
                </button>
                <div class="dropdown-menu dropdown-precificacao">
                  <h6>Precificação</h6>
                  <tr>
                    <td class="table-first-column">Data Consulta</td>
                    <td class="table-info-column">{{precificacaoProduto.dataOutput}}</td>
                  </tr>
                  <tr>
                    <td class="table-first-column bac-col-sec-line-col1">Preço Médio</td>
                    <td class="table-info-column bac-col-sec-line-col2">{{precificacaoProduto.precoMedio}}</td>
                  </tr>
                  <tr>
                    <td class="table-first-column text-price">Preço Mínimo</td>
                    <td class="table-info-column text-price">{{precificacaoProduto.precoMinimo}}</td>
                  </tr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col">
            <label for="idCategoriaProduto"> Categoria de produto </label>
            <input-tree value-property="nome" key-property="idCategoriaProduto" children-property="filhos"
              [source]="categorias"
              [class.invalid]="form.controls.idCategoriaProduto.invalid && form.controls.idCategoriaProduto.dirty"
              name="idCategoriaProduto" formControlName="idCategoriaProduto"
              (empty-tree)="naoExistemCategoriasDisponiveis($event)"></input-tree>
            <span class="invalid"
              *ngIf="form.controls.idCategoriaProduto.invalid && form.controls.idCategoriaProduto.dirty">
              Preenchimento obrigatório </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col-md-6 col-lg-3">
            <label for="idUnidadeMedida"> Unidade de medida </label>
            <ng-select name="idUnidadeMedida" formControlName="idUnidadeMedida">
              <ng-option *ngFor="let unidade of unidadesMedida" [value]="unidade.idUnidadeMedida">{{unidade.descricao}}
                - {{unidade.sigla}}</ng-option>
            </ng-select>
            <span class="invalid" *ngIf="form.controls.idUnidadeMedida.invalid && form.controls.idUnidadeMedida.dirty">
              Preenchimento obrigatório </span>
          </div>
          <div class="form-group required col-md-6 col-lg-3">
            <label for="tipo"> Tipo produto </label>
            <ng-select name="tipo" id="tipo" formControlName="tipo"
              [class.invalid]="form.controls.tipo.invalid && form.controls.tipo.dirty">
              <ng-option [value]="TipoProduto.Produto">Produto</ng-option>
              <ng-option [value]="TipoProduto.Servico">Serviço</ng-option>
            </ng-select>
            <span class="invalid" *ngIf="form.controls.tipo.invalid && form.controls.tipo.dirty">
              Preenchimento obrigatório </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col" [class.required]="codigoNcmObrigatorio">
            <label for="codigoNcm"> Código de controle NCM </label>
            <input class="form-control" type="text" name="codigoNcm" formControlName="codigoNcm">
            <div *ngIf="form.controls.codigoNcm.invalid && form.controls.codigoNcm.dirty">
              <span class="invalid" *ngIf="form.controls.codigoNcm.errors?.required">
                Preenchimento obrigatório
              </span>
              <span class="invalid" *ngIf="form.controls.codigoNcm.errors?.invalidNcm">
                NCM Inválido (Digite NCM com 8 dígitos e apenas números)
              </span>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col">
            <label for="descricao"> Descrição </label>
            <input class="form-control"
              [class.invalid]="form.controls.descricao.invalid && form.controls.descricao.dirty" type="text"
              name="descricao" formControlName="descricao">
            <span class="invalid" *ngIf="form.controls.descricao.invalid && form.controls.descricao.dirty">
              Preenchimento obrigatório </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="descricaoDetalhada"> Descrição detalhada </label>
            <textarea class="form-control" rows="3" name="descricaoDetalhada"
              formControlName="descricaoDetalhada"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="especificacao"> Especificações saneadas </label>
            <textarea class="form-control" rows="18" name="especificacao"
              formControlName="especificacao"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col-md-4 col-lg-3">
            <label for="moeda"> Moeda </label>
            <ng-select name="moeda" id="moeda" formControlName="moeda"
              [class.invalid]="form.controls.moeda.invalid && form.controls.moeda.dirty">
              <ng-option [value]="Moeda.Real">Real</ng-option>
            </ng-select>
            <span class="invalid" *ngIf="form.controls.moeda.invalid && form.controls.moeda.dirty">
              Preenchimento obrigatório </span>
          </div>
          <div class="form-group col-md-4 col-lg-3">
            <label for="valorReferencia"> Valor de referência </label>
            <input class="form-control" [textMask]="{mask: maskValor, guide: false}" type="text" name="valorReferencia"
              [min]="0" [max]="999999999.9999" formControlName="valorReferencia">
            <span class="invalid"
              *ngIf="form.controls.valorReferencia.invalid && form.controls.valorReferencia.errors.min && form.controls.valorReferencia.dirty">
              O valor de referência deve ser maior que zero
            </span>
            <span class="invalid"
              *ngIf="form.controls.valorReferencia.invalid && form.controls.valorReferencia.errors.max && form.controls.valorReferencia.dirty">
              O valor de referência deve ser no máximo <br> R$ 999.999.999.999,99.
            </span>
          </div>
          <div class="form-group col-md-4 col-lg-3">
            <label for="consumoMedio"> Consumo médio </label>
            <input class="form-control" [textMask]="{mask: maskValor, guide: false}" type="text" name="consumoMedio"
              [min]="0" [max]="999999999.9999" formControlName="consumoMedio">
            <span class="invalid"
              *ngIf="form.controls.consumoMedio.invalid && form.controls.consumoMedio.errors.min && form.controls.consumoMedio.dirty">
              O consumo médio deve ser maior que zero
            </span>
            <span class="invalid"
              *ngIf="form.controls.consumoMedio.invalid && form.controls.consumoMedio.errors.max && form.controls.consumoMedio.dirty">
              O consumo médio deve ser no máximo <br> R$ 999.999.999,99.
            </span>
          </div>
        </div>
        <div class="form-row" *ngIf="idProduto">
          <div class="form-group col-md-6 col-lg-3" *ngIf="form.controls.dataUltimaCompra.value">
            <label for="dataUltimaCompra"> Data da última compra </label>
            <input class="form-control" type="text" name="dataUltimaCompra" formControlName="dataUltimaCompra" readonly>
          </div>
          <div class="form-group col-md-6 col-lg-3" *ngIf="form.controls.valorUltimaCompra.value">
            <label for="valorUltimaCompra"> Valor da última compra </label>
            <input class="form-control" type="text" name="valorUltimaCompra" formControlName="valorUltimaCompra"
              readonly>
          </div>
        </div>
        <div class="form-row" *ngIf="idProduto">
          <div class="form-group col-12">
            <label for="descricao"> Solicitante </label>
            <input class="form-control" type="text" name="nomeSolicitante" formControlName="nomeSolicitante" readonly>
          </div>
        </div>
        <div class="divisor">
          <div class="title">Imagens do Produto</div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input-file [multiple]="true" accept=".png,.jpeg,.jpg" (select)="imagensSelecionadas($event)"></input-file>
          </div>
        </div>
        <div class="row">
          <div class="col-2" *ngFor="let imagem of form.controls.imagens.value; let i = index;">
            <img class="d-block img-fluid img-thumbnail" style="max-height: 150px;" [src]="imagem.url"
              alt="{{ imagem.nome }}">
            <button class="btn btn-danger position-absolute"
              style="top: 0; left: 0; margin-left: 1.5rem; margin-top: 0.5rem;" (click)="removerImagem(i)"><i
                class="fas fa-trash-alt"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card" *ngIf="parametrosIntegracaoSapHabilitado">
    <a class="card-header" data-toggle="collapse" href="#collapsedFormIntegracaoSap">
      Parâmetros de Integração - SAP
    </a>
    <div class="card-body">
      <form class="collapse show" id="collapsedFormIntegracaoSap" [formGroup]="form">
        <div class="form-row">
          <div class="form-group col-lg-3" [class.required]="origemMaterialObrigatorio">
            <label for="idOrigemMaterial"> Origem do Material </label>
            <ng-select class="full-width" [items]="origensMaterial$ | async" bindValue="idOrigemMaterial"
              [loading]="origensMaterialLoading" formControlName="idOrigemMaterial"
              (open)="openOrigemMaterial()" *ngIf="form.controls.idOrigemMaterial.enabled"
              [class.invalid]="form.controls.idOrigemMaterial.invalid && form.controls.idOrigemMaterial.dirty">
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.codigo + ' - ' + item.descricao }}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.codigo + ' - ' + item.descricao }}</span>
              </ng-template>
            </ng-select>
            <span class="invalid"
              *ngIf="form.controls.idOrigemMaterial.invalid && form.controls.idOrigemMaterial.dirty">
              Preenchimento obrigatório </span>
          </div>
          <div class="form-group col-lg-3" [class.required]="utilizacaoMaterialObrigatorio">
            <label for="idUtilizacaoMaterial"> Utilização do Material </label>
            <ng-select class="full-width" [items]="utilizacaoMateriais$ | async" bindValue="idUtilizacaoMaterial"
              [loading]="utilizacaoMateriaisLoading" formControlName="idUtilizacaoMaterial"
              (open)="openUtilizacaoMaterial()" *ngIf="form.controls.idUtilizacaoMaterial.enabled"
              [class.invalid]="form.controls.idUtilizacaoMaterial.invalid && form.controls.idUtilizacaoMaterial.dirty">
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.codigo + ' - ' + item.descricao }}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.codigo + ' - ' + item.descricao }}</span>
              </ng-template>
            </ng-select>
            <span class="invalid"
              *ngIf="form.controls.idUtilizacaoMaterial.invalid && form.controls.idUtilizacaoMaterial.dirty">
              Preenchimento obrigatório </span>
          </div>
          <div class="form-group col-lg-3" [class.required]="categoriaMaterialObrigatorio">
            <label for="idCategoriaMaterial"> Categoria do Material </label>
            <ng-select class="full-width" [items]="categoriasMaterial$ | async" bindValue="idCategoriaMaterial"
              [loading]="categoriasMaterialLoading" formControlName="idCategoriaMaterial"
              (open)="openCategoriaMaterial()" *ngIf="form.controls.idCategoriaMaterial.enabled"
              [class.invalid]="form.controls.idCategoriaMaterial.invalid && form.controls.idCategoriaMaterial.dirty">
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.codigo + ' - ' + item.descricao }}</span>
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.codigo + ' - ' + item.descricao }}</span>
              </ng-template>
            </ng-select>
            <span class="invalid"
              *ngIf="form.controls.idCategoriaMaterial.invalid && form.controls.idCategoriaMaterial.dirty">
              Preenchimento obrigatório </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region Integração EPR -->
  <div class="card" *ngIf="disponibilizarIntegracaoErp && idProduto">
    <a class="card-header collapsed" data-toggle="collapse" href="#collapseIntegracoesErp">
      Integração ERP
    </a>
    <div class="card-body">
      <div class="collapse" id="collapseIntegracoesErp">
        <app-manter-integracoes-erp
          [idVinculo]="idProduto"
          [tipoIntegracaoErp]="tipoIntegracaoErp">
        </app-manter-integracoes-erp>
      </div>
    </div>
  </div>
  <!-- #endregion Integração EPR -->

  <!-- #region Marcas -->
  <div class="card" *ngIf="idProduto">
    <a class="card-header collapsed" data-toggle="collapse" href="#collapseMarcas">
      Marcas
    </a>
    <div class="card-body">
      <div class="collapse" id="collapseMarcas">
        <manter-produto-marca [marcas]="form.controls.marcas.value" [id-produto]="idProduto"
          (atualizacao)="atualizarMarcas($event)"></manter-produto-marca>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region Contas Contábeis -->
  <div class="card" *ngIf="idProduto">
    <a class="card-header collapsed" data-toggle="collapse" href="#collapseContasContabeis">
      Contas Contábeis
    </a>
    <div class="card-body">
      <div class="collapse" id="collapseContasContabeis">
        <manter-produto-conta-contabil [id-produto]="this.idProduto"
          [contas-contabeis]="form.controls.contasContabeis.value" (atualizacao)="atualizarContas($event)">
        </manter-produto-conta-contabil>
      </div>
    </div>
  </div>
  <!-- #endregion -->

  <!-- #region Anexos -->
  <div class="card" *ngIf="idProduto">
    <a class="card-header collapsed" data-toggle="collapse" href="#collapseAnexos">
      Anexos
    </a>
    <div class="card-body">
      <div class="collapse" id="collapseAnexos">
        <manter-produto-anexo [id-produto]="idProduto" [anexos]="form.controls.anexos.value"
          (atualizacao)="atualizarAnexos($event)"></manter-produto-anexo>
      </div>
    </div>
  </div>
  <!-- #endregion -->

</div>