<sdk-three-columns class="style-fornecedor-novo">
  <div tc-1>
    <sdk-vertical-header-left>
      <div sh-head>
        <a class="nav-link px-0 mx-0" role="button" (click)="voltar()"
          ><i class="fas fa-arrow-left pr-3"></i> Voltar</a
        >
      </div>
      <p sh-title>Meu cadastro</p>
      <p sh-subtitle1>{{ infosFornecedor.razaoSocial | uppercase }}</p>
      <p sh-subtitle2>{{ infosFornecedor.cnpj }}</p>
      <div sh-body>
        <p class="my-0">Cadastro</p>
        <p class="body-item">{{ infosFornecedor.dataCadastro | date: 'dd/MM/yyyy' | noContent }}</p>
      </div>
    </sdk-vertical-header-left>
  </div>
  <div class="p-4 m-0" tc-2>
    <sdk-list-view [items]="itens">
      <ng-template sdkListViewItem let-item>
        <a
          class="menu-item h-100 d-block"
          [routerLink]="item.url"
          [routerLinkActive]="['is-active']"
          (click)="verificarFormulario(item.url)"
        >
          <strong>
            {{ item.label }}
          </strong>
        </a>
      </ng-template>
    </sdk-list-view>
  </div>
  <div class="p-4" [ngClass]="{ form: isForm }" tc-3>
    <router-outlet></router-outlet>
  </div>
</sdk-three-columns>
