<header>
  <h1 class="title" translate>CNAES Cadastrados</h1>
</header>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <custom-table classes="table-striped" [settings]="settings" [source]="cnaes"></custom-table>
          <pager [page]="pagina" [total-pages]="totalPaginas" [records-per-page]="registrosPorPagina"
            (pagination)="paginacao($event)"></pager>
        </div>
      </div>
    </div>
  </div>
</div>