.min-h {
  min-height: 80vh;
}

.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.listagem {
  .header {
    display: flex;
    color: #417185;
    font-weight: bold;
  }

  .header-margins {
    margin-left: 3.7rem;
    margin-right: 0rem;
  }

  a {
    color: #417185;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }
}

sdk-rectangle-button ::ng-deep {
  width: auto;

  button {
    padding: 0 30px !important;
    height: 32px !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 100% !important;
    display: flex !important;
    color: #ffffff !important;
    flex: none !important;
    border: none !important;

    background: #588394 !important;
    &:hover {
      background-color: #588394 !important;
      color: #ffffff;
    }
  }
}

::ng-deep div.address-item {
  a {
    color: #417185;
  }
}

.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.delete-action {
  background: transparent;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  top: 1.5px;
  right: 0.5px;

  i {
    color: #417185 !important;
  }
}

.circle-icon {
  position: absolute;
  color: #d4effa;
}

::ng-deep .modal-manter-endereco > div.modal-dialog > div.modal-content {
  width: 80%;
  margin-left: 10%;

  & > manter-endereco-modal {
    button.btn-outline-primary {
      border-radius: 8px;
      width: 9.7rem;
    }

    button.btn-primary {
      border-radius: 8px;
      width: 9.7rem;
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
  }
}
