<div class="col-12">
  <div class="row">

    <sdk-item-card
      [iconClass]="'fas fa-clipboard-list'"
      [showStatusBar]="false"
      [hasMarginBottom]="true"
      [borderColor]="'none'"
      [borderWidth]="'1px'"
      [ngClass]="{
        'status-active': solicitacaoCadastroFornecedor.status == status.Aprovado,
        'status-disapproved-or-called-off': solicitacaoCadastroFornecedor.status == status.Cancelado || solicitacaoCadastroFornecedor.status == status.Reprovado,
        'status-in-configuration': solicitacaoCadastroFornecedor.status == status.EmConfiguracao,
        'status-requested': solicitacaoCadastroFornecedor.status == status.Solicitado,
        'status-awaiting-integration': solicitacaoCadastroFornecedor.status == status.AguardandoIntegracao
      }"
      (clickEmitter)="editionEnabled() && editar(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">
      <div class="d-flex w-100 justify-content-around align-items-center">
        <div class="col-1 ml-3 pl-4">
          <a>{{ solicitacaoCadastroFornecedor.idSolicitacaoFornecedor }}</a>
        </div>

        <div class="col-3 pl-4 crop-text-2">
          <a data-toggle="tooltip" data-placement="bottom" title="{{ solicitacaoCadastroFornecedor.cnpj }}">{{
            solicitacaoCadastroFornecedor.cnpj
            }}</a>
        </div>


        <div class="col-3 pl-5 crop-text-2">
          <a
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ solicitacaoCadastroFornecedor.razaoSocial }}">{{ solicitacaoCadastroFornecedor.razaoSocial }}</a>
        </div>

        <div class="col-2 pl-4 crop-text-2">
          <a
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ solicitacaoCadastroFornecedor.empresa }}">{{ solicitacaoCadastroFornecedor.empresa }}</a>
        </div>

        <div class="col-1 pl-1">
          <a class="status-text"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ statusLabel.get(solicitacaoCadastroFornecedor.status) }}">
            {{ statusLabel.get(solicitacaoCadastroFornecedor.status) }}</a>
        </div>

        <div class="col-1">
          <sdk-suspense-menu-button class="suspense-menu-sla-solicitacao" [icon]="'fa fa-ellipsis-h'" title="...">
            <ng-template sdkSuspenseMenu>
              <button
                class="btn btn-sm btn-icon text-dark"
                title="Observações"
                (click)="observacao(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor, solicitacaoCadastroFornecedor.status)">
                <div class="d-flex">
                  <i class="fas fa-comments"></i> <a>Observações</a>
                </div>
              </button>
              <button
                *ngIf="editionEnabled()"
                class="btn btn-sm btn-icon text-dark"
                title="Editar"
                (click)="editar(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">
                <div class="d-flex">
                  <i class="fas fa-edit"></i> <a>Editar</a>
                </div>
              </button>

              <button
                class="btn btn-sm btn-icon text-dark"
                title="Auditobservacaooria"
                (click)="auditar(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">
                <div class="d-flex">
                  <i class="fa fa-history"></i> <a>Auditoria</a>
                </div>
              </button>

              <button
                *ngIf="statusIsRequested()"
                title="Cancelar"
                class="btn btn-sm btn-icon"
                (click)="cancelar(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">
                <div class="d-flex">
                  <i class="fas fa-times-circle "></i> <a>Cancelar</a>
                </div>
              </button>

              <button
                *ngIf="companyIsRequesting()
                && userIsManagerOrAdminOrRegistrar()
                && statusIsRequested()
                && (isSmarketsOrHolding() || ehEstruturaConvencional())
                && !responsibleUserIsLoggedInUser()"
                title="Assumir"
                class="btn btn-sm btn-icon"
                (click)="assumir(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">
                <div class="d-flex">
                  <i class="fas fa-hand-holding"></i> <a>{{(solicitacaoCadastroFornecedor.idUsuarioResponsavel ?
                    "Alterar Responsável" : "Assumir")}}</a>
                </div>
              </button>

              <button
                *ngIf="statusIsInConfiguration() && requestingUserIsLoggedInUser()"
                title="EnviarSolicitacao"
                class="btn btn-sm btn-icon"
                (click)="enviarSolicitacao(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">
                <div class="d-flex">
                  <i class="fas fa-paper-plane"></i> <a>Enviar Solicitação</a>
                </div>
              </button>

              <button
                *ngIf="companyIsRequesting() && userIsManagerOrAdminOrRegistrar() && statusIsRequested() && (isSmarketsOrHolding() || ehEstruturaConvencional()) && responsibleUserIsLoggedInUser()"
                title="Aprovar"
                class="btn btn-sm btn-icon"
                (click)="aprovar(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">

                <div class="d-flex">
                  <i class="fas fa-check-square" style="color: #8BC34A!important;"></i> <a>Aprovar</a>
                </div>
              </button>

              <button
                *ngIf="companyIsRequesting() && userIsManagerOrAdminOrRegistrar() && statusIsRequested() && (isSmarketsOrHolding() || ehEstruturaConvencional()) && responsibleUserIsLoggedInUser()"
                title="Reprovar"
                class="btn btn-sm btn-icon"
                (click)="reprovar(solicitacaoCadastroFornecedor.idSolicitacaoFornecedor)">
                <div class="d-flex">
                  <i class="fas fa-window-close" style="color: #F44336!important;"></i> <a>Reprovar</a>
                </div>
              </button>

            </ng-template>
          </sdk-suspense-menu-button>
        </div>
      </div>
    </sdk-item-card>
  </div>
</div>
