<div class="bg-white border-bottom py-4" *ngIf="!resultados?.length">
  <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
</div>
<div
  class="card card-tab-content card-collapse"
  *ngFor="let resultado of resultados; let i = index"
>
  <a
    class="card-header collapsed"
    data-toggle="collapse"
    href="#questionario{{ i }}"
    id="collapse{{ i }}"
    (click)="mostrarQuestionario('collapse' + i, i)"
  >
    <div class="d-none d-lg-inline-flex mr-5 text-truncate w-50">
      <span
        class="font-weight-bold pl-1 pr-3 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ resultado.nomeQuestionario }}"
      >
        {{ resultado.nomeQuestionario }}</span
      >
    </div>
    <div class="d-none d-lg-inline-flex pr-1 w-40 ml-5 pl-5 text-truncate">
      <span
        class="font-weight-bold pr-2 ml-1 pl-5 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{
          'Situação: ' +
            enumSituacaoQuestionario[resultado.situacao] +
            (resultado.avaliacaoQuestionario ? ' / ' + resultado.avaliacaoQuestionario : '')
        }}"
      >
        {{
          'Situação: ' +
            enumSituacaoQuestionario[resultado.situacao] +
            (resultado.avaliacaoQuestionario ? ' / ' + resultado.avaliacaoQuestionario : '')
        }}
      </span>
    </div>
    <div class="d-inline-flex d-lg-none pr-1 text-truncate w-100">
      <span
        class="font-weight-bold pl-1 pr-3 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ resultado.nomeQuestionario }}"
      >
        {{ resultado.nomeQuestionario }}</span
      >
    </div>
    <div class="d-inline-flex d-lg-none pr-1 w-100 text-truncate">
      <span
        class="font-weight-bold pl-1 pr-2 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{
          'Situação: ' +
            enumSituacaoQuestionario[resultado.situacao] +
            (resultado.avaliacaoQuestionario ? ' / ' + resultado.avaliacaoQuestionario : '')
        }}"
      >
        {{
          'Situação: ' +
            enumSituacaoQuestionario[resultado.situacao] +
            (resultado.avaliacaoQuestionario ? ' / ' + resultado.avaliacaoQuestionario : '')
        }}
      </span>
    </div>
  </a>
  <div class="card-body collapse" id="questionario{{ i }}">
    <div class="container-fluid">
      <div class="bg-lighter border-bottom row-9-col row vertical-divider py-4">
        <div
          [ngClass]="{
            'col-9': resultado.situacao != enumSituacaoQuestionario.Respondido,
            'col-md-7 col-lg-8 pr-4': resultado.situacao == enumSituacaoQuestionario.Respondido
          }"
        >
          <label
            class="mt-2 pr-4 pr-lg-2 text-uppercase text-primary text-justify font-weight-bold"
          >
            {{ resultado.introducao }}</label
          >
        </div>
        <div
          class="col-md-2 col-lg-1 my-auto"
          *ngIf="resultado.situacao == enumSituacaoQuestionario.Respondido"
        >
          <h5 class="mt-4 mt-md-2 text-uppercase font-weight-bold text-center">Nota</h5>
          <h2 class="mt-2 mb-md-5 text-uppercase font-weight-bold text-center">
            {{ resultado.notaQuestionario.toFixed(2).replace('.', ',') }}
          </h2>
        </div>
      </div>

      <div
        class="row bg-white border-bottom"
        *ngFor="let resposta of resultado.respostas; let i2 = index"
      >
        <div class="col-12">
          <form>
            <div
              class="bg-white border-bottom row-9-col row vertical-divider py-4"
              *ngIf="
                resultado.respostas[i2 - 1]?.categoriaQuestao?.idCategoriaQuestao !=
                resposta.categoriaQuestao?.idCategoriaQuestao
              "
            >
              <div
                [ngClass]="{
                  'col-9': resultado.situacao != enumSituacaoQuestionario.Respondido,
                  'col-md-7 col-lg-8': resultado.situacao == enumSituacaoQuestionario.Respondido
                }"
              >
                <label
                  class="
                    mt-2
                    pr-4 pr-lg-2
                    text-uppercase text-primary text-justify
                    font-weight-bold
                  "
                >
                  {{ resposta.categoriaQuestao?.descricao }}</label
                >
                <br />
                <div class="mt-2">
                  <small class="font-italic">
                    {{ resposta.categoriaQuestao?.notaExplicativa }}
                  </small>
                </div>
              </div>
              <div
                class="col-md-2 col-lg-1 my-auto"
                *ngIf="resultado.situacao == enumSituacaoQuestionario.Respondido"
              >
                <h5 class="mt-4 mt-md-2 text-uppercase font-weight-bold text-center">Nota</h5>
                <h2 class="mt-2 mb-md-5 text-uppercase font-weight-bold text-center">
                  {{ resposta.categoriaQuestao?.notaCategoria.toFixed(2).replace('.', ',') }}
                </h2>
              </div>
            </div>

            <div class="form row">
              <div class="form-group col-lg-12 text-justify mt-2">
                {{ resposta.pergunta }}
                <br />
                <div class="mt-2">
                  <small class="font-italic">
                    {{ resposta.notaExplicativa }}
                  </small>
                </div>
              </div>
            </div>
            <div class="form row">
              <div
                class="form-group"
                [ngClass]="resposta.permiteComentario ? 'col-lg-11' : 'col-lg-12'"
              >
                <ng-select
                  *ngIf="resposta.tipo == 2"
                  [(ngModel)]="resposta.resposta"
                  [ngModelOptions]="{ standalone: true }"
                  [class.disabled]="true"
                >
                </ng-select>
                <input
                  class="form-control"
                  [(ngModel)]="resposta.resposta"
                  [ngModelOptions]="{ standalone: true }"
                  type="text"
                  *ngIf="resposta.tipo == 1"
                  readonly="true"
                />
              </div>
              <div class="form-group col-lg-1" *ngIf="resposta.permiteComentario">
                <a
                  class="btn btn-icon"
                  data-toggle="collapse"
                  href="#comentarios{{ i }}-{{ i2 }}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="comentarios"
                >
                  <i class="far fa-comment-dots"></i>
                </a>
              </div>
            </div>
            <div class="form row collapse" id="comentarios{{ i }}-{{ i2 }}">
              <div class="form-group required bg-white col-lg-12">
                <div class="row">
                  <div class="form-group col-12 bg-lighter">
                    <p class="my-2"><span class="font-weight-bold">Comentário</span></p>
                  </div>
                </div>
                <div class="row my-3" *ngIf="resultado.situacao != 3">
                  <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
                    <div class="initials-container current-user">
                      <div class="initials">
                        {{ getInitials(usuarioLogado?.pessoaFisica?.nome) }}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-11 col-xl-10">
                    <div class="input-group">
                      <textarea
                        class="form-control resize-none"
                        rows="5"
                        placeholder="Adcione um novo comentário"
                      ></textarea>
                      <div class="input-group-append">
                        <button class="btn btn-icon px-5" type="button">
                          <i class="far fa-paper-plane"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row my-3" *ngIf="resposta.comentario">
                  <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
                    <div
                      class="initials-container"
                      [ngClass]="{
                        'other-user': resposta.comentario.idUsuarioAutor == usuarioLogado.idUsuario,
                        'current-user':
                          resposta.comentario.idUsuarioAutor != usuarioLogado.idUsuario
                      }"
                    >
                      <div class="initials">
                        {{ getInitials(resposta.comentario.usuarioAutor?.pessoaFisica?.nome) }}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-11 col-xl-10">
                    <div class="comment">
                      <p>
                        <span class="font-weight-bold text-uppercase">{{
                          resposta.comentario.usuarioAutor?.pessoaFisica?.nome
                        }}</span>
                        comentado em
                        {{ resposta.comentario.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}
                      </p>
                      <p>
                        {{ resposta.comentario.comentario }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="no-content py-4" *ngIf="!resposta.comentario">
                  Nenhum comentário adicionado.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
