<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Histórico de recebimentos</div>
  <button type="button" class="close" aria-label="Close" (click)="voltar()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <h4 style="color: #00bbf3; font-weight: bold">Pedido {{ idPedido }}</h4>
    </div>
  </div>
  <sdk-timeline>
    <div *ngFor="let historicosPorData of historicosRecebimento; let index1 = index">
      <sdk-timeline-entry
        *ngFor="let historico of historicosPorData.historicos; let index2 = index"
        title="{{
          index2 === 0
            ? '<i>' + (historicosPorData.dataRecebimento | date: 'dd/MM/yyyy') + '</i>'
            : ''
        }}"
        icon="{{
          situacao == Situacao.Entregue && index1 === 0 && index2 === 0 ? 'fas fa-check' : ''
        }}">
        <p>
          NF: <span style="color: #00bbf3; font-weight: bold">{{ historico.notaFiscal}}</span> o(a)
          <span style="font-weight: bold">{{ historico.usuario?.pessoaFisica?.nome }}</span>
        </p>
        <ul style="list-style-type: none">
          <li *ngFor="let item of historico.itens">
            <span style="color: #00bbf3; font-weight: bold">{{item.quantidadeSaldoCancelado > 0 ?
              ' cancelou ' + item.quantidadeSaldoCancelado :
              ' recebeu ' + item.quantidadeRecebida}}</span>
            itens
            <span style="font-weight: bold">{{ item.produto.descricao }}</span>
          </li>
        </ul>
      </sdk-timeline-entry>
    </div>
  </sdk-timeline>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="voltar()">
    <i class="fas fa-ban"></i> Voltar
  </button>
</div>
