<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">{{ alcadaNivelUsuario ? 'Alterar' : 'Incluir' }}
    Usuário
  </div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row justify-content-end">
      <div class=" form-group required col-lg-8">
        <label for="idUsuario"> Usuário </label>
        <ng-select
          name="idUsuario"
          formControlName="idUsuario"
          [loading]="loadingUsuarios"
          [searchFn]="usuarioSearchFn"
          [class.invalid]="form.controls.idUsuario.invalid && form.controls.idUsuario.dirty"
          [items]="usuarios"
          bindValue="idUsuario">
          <ng-template ng-option-tmp let-item="item">
            <span>{{item?.pessoaFisica?.nome}}</span>
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            <span>{{item?.pessoaFisica?.nome}}</span>
          </ng-template>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.idUsuario.invalid && form.controls.idUsuario.dirty">
          Preenchimento obrigatório
        </span>
      </div>
      <div class="form-group required col-lg-2">
        <label for="ordem"> Ordem </label>
        <input
          class="form-control"
          type="number"
          name="ordem"
          [min]="1"
          [max]="ordemMaxima"
          formControlName="ordem"
          [attr.disabled]="ordemMaxima === 1 ? true : null"
          [class.invalid]="form.controls.ordem.invalid && form.controls.ordem.dirty">
        <span
          class="invalid"
          *ngIf="form.controls.ordem.invalid && form.controls.ordem.errors.required && form.controls.ordem.dirty">
          Obrigatório
        </span>
        <span
          class="invalid"
          *ngIf="form.controls.ordem.invalid && form.controls.ordem.errors.max && form.controls.ordem.dirty">
          Máximo {{ordemMaxima}}
        </span>
      </div>
      <div class="form-group col-lg-2 mt-1 pt-4">
        <span><button type="button" class="btn btn-block btn-primary" (click)="salvar()">Incluir</button></span>
      </div>
    </div>
  </form>
</div>
<!-- #endregion -->
