@import "src/themes/_smk-base.scss";

.listar-pedidos {
  .filtros {
    .campo-data {
      padding-right: 10.5px;
    }
  }

  .coluna {
    &.produto {
      max-width: 500px;
    }

    &.situacao-pedido-item {
      color: #fbfbfb;
      padding: 2px 15px;
      border-radius: 4px;
      font-size: 13px;
      font-weight: 600;

      &.info {
        background-color: $smk-info-color;
      }

      &.danger {
        background-color: $smk-red-color;
      }

      &.warning {
        background-color: $smk-warning-color;
        color: #222222;
      }

      &.success {
        background-color: $smk-green-color;
      }

      &.secondary {
        background-color: $smk-secondary-color;
      }
    }

    &.entrega-programada {
      color: $smk-primary-color;

      .icone {
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
}
