

<div class="lim-larg">
  <div class="form-row" [formGroup]="form">
    <div class="form-group col col-10">
      <input-busca
          placeholder="Buscar por produto"
          (buscar)="buscar($event)"
          (campoVazio)="buscar('')"
          [disabled]="buscaAvancada"
      ></input-busca>
    </div>
    <div class="col-2">
        <button
          class="btn btn-primary"
          *ngIf="!buscaAvancada; else esconderBuscaAvancada"
          (click)="exibirBuscaAvancada(true)">
          <i class="fas fa-search-plus"></i> Busca Avançada
        </button>
        <ng-template #esconderBuscaAvancada>
          <button class="btn btn-outline-primary" (click)="exibirBuscaAvancada(false)">
            <i class="fas fa-search-minus"></i> Busca Avançada
          </button>
        </ng-template>
    </div>
  </div>
  <div *ngIf="buscaAvancada">
    <div [formGroup]="form">
      <div class="row">
        <div class="form-group col-4">
          <label> Descrição </label>
          <input
            class="form-control"
            type="text"
            formControlName="termo"
            placeholder="Descrição"
            />
        </div>
        <div class="form-group col-2">
          <label> Código </label>
          <input
            class="form-control"
            type="text"
            formControlName="codigo"
            placeholder="Código"
            />
        </div>
        <div class="form-group col-3">
          <label> Situação </label>
          <ng-select
                labelForId="situacao"
                bindValue="index"
                bindLabel="name"
                formControlName="situacao"
                [items]="opcoesSituacaoProduto"
                [searchFn]="situacoesSearchFn"
                >
          </ng-select>
        </div>
        <div class="form-group col-3">
          <label> Marca </label>
          <input
            class="form-control"
            type="text"
            formControlName="marca"
            placeholder="Marca"
            />
        </div>
    </div>
    <div class="row mb-3">
      <div class="col-12">
        <button class="btn btn-outline-primary float-right" (click)="filtroAvancado()" >
          <i class="fas fa-search"></i> Buscar
        </button>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row mb-3">
    <div class="col-0 pad-lef">
      <button role=button  ngbTooltip="Incluir" class="btn btn-block btn-primary" (click)="incluirItem()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="col-0 pad-lef" *ngIf="itensSelecionados?.length == 1">
      <button role=button  ngbTooltip="Editar" class="btn btn-block btn-secondary" [class.disabled]="itensSelecionados?.length != 1"
        (click)="editarItem()">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
    <div class="col-0 pad-lef">
      <button role=button ngbTooltip="Remover" class="btn btn-block btn-danger" [class.disabled]="!itensSelecionados?.length" (click)="solicitarExclusao()">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
    <div class="col-0 pad-lef" ngbTooltip="Reajuste" *ngIf="itensSelecionados?.length == 1 && itensSelecionados[0]?.situacao == situacaoItem['Aguardando Aprovação'] ">
      <button role=button class="btn btn-block btn-primary" (click)="reajusteItem()">
        <i class="fas fa-sync"></i>
      </button>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="col-0 pad-lef" *ngIf="possuiAprovacao && !exibeBotaoAprovacao">
        <button role=button ngbTooltip="Aprovar Todos"  class="btn btn-block btn-success" (click)="analiseItens(analiseAprovacao.aprovado)">
          <i class="fas fa-thumbs-up"></i>
        </button>
      </div>
      <div class="col-0 pad-lef" *ngIf="possuiAprovacao && !exibeBotaoAprovacao">
        <button role=button ngbTooltip="Reprovar Todos"  class="btn btn-block btn-danger" (click)="analiseItens(analiseAprovacao.reprovado)">
          <i class="fas fa-thumbs-down"></i>
        </button>
      </div>
      <div class="col-0 pad-lef" *ngIf="itensSelecionados?.length && desabiliteBotaoQuandoAprovacao">
        <button role=button ngbTooltip="Ativar" class="btn btn-block btn-success" (click)="alterarSituacao(Situacao.Ativo)">
          <i class="fas fa-check"></i>
        </button>
      </div>
      <div class="col-0 pad-lef" *ngIf="itensSelecionados?.length && desabiliteBotaoQuandoAprovacao">
        <button role=button ngbTooltip="Desativar"  class="btn btn-block btn-danger"  (click)="alterarSituacao(Situacao.Inativo)">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
</div>
<div class="row">
  <div class="col">
    <custom-table classes="table-striped table-sm" [settings]="settings" [source]="itens" [colunasComIcone]="colunasComIcone"
      (select)="selecao($event)" (sort)="ordenar($event)"></custom-table>
    <pager [page]="pagina" [total-pages]="totalPaginas" [records-per-page]="itensPorPagina" (pagination)="paginacao($event)"></pager>
  </div>
</div>
