<div class="card card-tab-content">
  <div class="card-header">
    <a (click)="inserir()" class="btn btn-icon d-flex align-items-center text-primary p-0">
      <i class="fas fa-plus-circle"></i>
      <p class="d-inline-block mb-0 ml-2">Inserir novo grupo de compradores</p>
    </a>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="bg-lighter border-bottom row py-4 d-none d-md-flex">
        <div class="col-md-1">
          <label class="font-weight-bold">ID:</label>
        </div>
        <div class="col-md-2">
          <label class="font-weight-bold">Código:</label>
        </div>
        <div class="col-md-4">
          <label class="font-weight-bold">Nome:</label>
        </div>
        <div class="col-md-2">
          <label class="font-weight-bold">Configuração Padrão:</label>
        </div>
        <div class="col-md-3">
          <label class="font-weight-bold">Ações:</label>
        </div>
      </div>
  
      <div class="bg-white border-bottom row py-4" *ngIf="!gruposCompradores?.length; else hasValue">
        <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
      </div>
  
      <!-- begin-list no-content mt-5-->
      <ng-template #hasValue>
        <div class="bg-white border-bottom row py-4" *ngFor="let grupoCompradores of gruposCompradores; let i = index;">
          <!-- begin-fields-->
          <div class="col-md-1 col-sm-3 align-self-center">
            <label for="" class="font-weight-bold d-block d-md-none">ID:</label>
            <p class="mb-3 mb-md-0"> {{ grupoCompradores.idGrupoCompradores }} </p>
          </div>
          <div class="col-md-2 col-sm-3 align-self-center">
            <label for="" class="font-weight-bold d-block d-md-none">Código:</label>
            <p class="mb-3 mb-md-0"> {{ grupoCompradores.codigoGrupoCompradores }} </p>
          </div>
          <div class="col-md-4 col-sm-3 align-self-center">
            <label for="" class="font-weight-bold d-block d-md-none">Nome do Grupo de Compradores:</label>
            <p class="mb-3 mb-md-0"> {{ grupoCompradores.nomeGrupoCompradores }} </p>
          </div>
          <div class="col-md-2 col-sm-3 align-self-center">
            <label for="" class="font-weight-bold d-block d-md-none">Default:</label>
            <p class="mb-3 mb-md-0"> {{ grupoCompradores.codigoDefault ? 'Default': '' }} </p>
          </div>
          <div class="col-md-3 d-flex justify-content-between align-self-center">
            <button class="btn btn-icon" data-toggle="tooltip" data-placement="bottom" title="Auditoria"
              (click)="onAuditoriaClick(grupoCompradores.idGrupoCompradores)">
              <i class="fas fa-history"></i>
            </button>
            <button class="btn btn-icon" data-toggle="tooltip" data-placement="bottom" title="Editar"
              (click)="editarItem(grupoCompradores)">
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-icon" data-toggle="tooltip" data-placement="bottom" title="Excluir"
              (click)="onExcluirClick(grupoCompradores.idGrupoCompradores)">
              <i class="far fa-trash-alt text-danger"></i>
            </button>
          </div>
          <!-- end-list -->
        </div>
      </ng-template>
      <!-- end-list -->
    </div>
  </div>
</div>