@import './../../../../styles.scss';

.initials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $white;
  width: 4rem;
  height: 4rem;
  float: right;

  .initials {
    font-size: 26px;
    color: $white;
  }

  &.other-user {
    background-color: $primary;
  }

  &.current-user {
    background-color: $new-ux-smarkets-gray;
  }
}

.comment {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $input-color;
  background-color: $white;
  border: $input-border-width solid $input-border-color;
  border-radius: $border-radius;
  min-height: 117.5px;
}

textarea {
  resize: none;
}

@media (min-width: 768px) {
  .row.vertical-divider [class*='col-']:not(:last-child)::after {
    background: #00a1d7;
    width: 3px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
    opacity: 0.8;
  }
}

::ng-deep .modal-manter-logo > div.modal-dialog > div.modal-content {
  width: 90%;

  & > sdk-manter-logo {
    button.btn-outline-primary {
      border-radius: 8px;
      width: 9.7rem;
    }

    button.btn-primary {
      border-radius: 8px;
      width: 9.7rem;
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
  }
}
