<smk-funcionalidade
  [rotaVoltar]="rotaVoltar"
  [titulo]="titulo + descricaoFuncionalidade"
  [tituloComplementar]="tituloComplementar">
  <ng-content select="[acoes-barra]" ngProjectAs="[acoes-barra]"></ng-content>
  <ng-content select="[titulo-customizado]" ngProjectAs="[titulo-customizado]"></ng-content>
  <div class="table-funcionalidade">
    <smk-card-funcionalidade paddingBottom="0.25rem">
      <form [formGroup]="formFiltro">
        <div class="row form-group justify-content-between align-items-center mb-0 pb-4">
          <div class="col-9">
            <input-busca label="Pesquisa"
            placeholder="Buscar"
          ></input-busca>
          </div>
          <div class="col-3">
            <label for="dataCriacaoInicio">Data</label>
            <input
              id="data"
              class="campo-data form-control"
              type="date"
              formControlName="data">
          </div>
        </div>
      </form>
      <smk-table
      [config]="configuracaoDaTable"
      [items]="itensDaTable"
      (pageChange)="pagine($any($event))">
        <ng-container column-templates>
          <ng-template customColumn="arquivo" let-item="item">
            <a
              class="btn btn-icon btn-sm text-primary"
              role="button"
              title="Baixar arquivo de importação"
              data-toggle="tooltip"
              data-placement="bottom"
              (click)="baixeArquivoImportacao(item.idArquivo, item.arquivoNome)">
              <i class="fas fa-download"></i>
            </a>
          </ng-template>
          <ng-template customColumn="arquivoErros" let-item="item">
            <a
              class="btn btn-icon btn-sm text-primary"
              role="button"
              title="Baixar arquivo de erros"
              data-toggle="tooltip"
              data-placement="bottom"
              (click)="baixeArquivoErros(item)">
              <i class="fas fa-download"></i>
            </a>
          </ng-template>
        </ng-container>
      </smk-table>
    </smk-card-funcionalidade>
  </div>
</smk-funcionalidade>
