<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Próximo</div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
    Como deseja prosseguir?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="somenteRemover()">Somente remover</button>
  <button type="button" class="btn btn-outline-primary" (click)="novoItem()">Novo item do fornecedor</button>  
  <button type="button" class="btn btn-outline-primary" (click)="novoFornecedor()">Novo pedido do item com outro fornecedor</button>
</div>