<div class="card card-tab-content">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="bg-lighter border-bottom row py-4 d-none d-md-flex justify-content-end">
        <div class="col-md-1 align-self-center">
          <p class="font-weight-bold mb-0">Ações:</p>
        </div>
      </div>
      <div class="bg-white border-bottom row py-4">
        <div class="col-9 col-md-11 align-self-center">Página de fornecedor interessado</div>
        <div
          class="
            col-3 col-md-1
            d-flex
            justify-content-end justify-content-md-start
            align-self-center
          "
        >
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="editarPaginaFornecedorInteressado()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
      <div class="bg-white border-bottom row py-4">
        <div class="col-9 col-md-11 align-self-center">Termo de boas práticas ao fornecedor</div>
        <div
          class="
            col-3 col-md-1
            d-flex
            justify-content-end justify-content-md-start
            align-self-center
          "
        >
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="editarTermosBoasPraticasFornecedor()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
      <div class="bg-white border-bottom row py-4">
        <div class="col-9 col-md-11 align-self-center">Visita Técnica</div>
        <div
          class="
            col-3 col-md-1
            d-flex
            justify-content-end justify-content-md-start
            align-self-center
          "
        >
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="editarVisitaTecnica()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
      <div class="bg-white border-bottom row py-4">
        <div class="col-9 col-md-11 align-self-center">Avaliação de Fornecedores</div>
        <div
          class="
            col-3 col-md-1
            d-flex
            justify-content-end justify-content-md-start
            align-self-center
          "
        >
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="editarAvaliacaoFornecedor()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
      <div class="bg-white border-bottom row py-4">
        <div class="col-9 col-md-11 align-self-center">Prazos e Notificações</div>
        <div
          class="
            col-3 col-md-1
            d-flex
            justify-content-end justify-content-md-start
            align-self-center
          "
        >
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="editarConfiguracaoVencimento()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
      <div class="bg-white border-bottom row py-4">
        <div class="col-9 col-md-11 align-self-center">Controle de Ações por Status</div>
        <div
          class="
            col-3 col-md-1
            d-flex
            justify-content-end justify-content-md-start
            align-self-center
          "
        >
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="mostrarControleAcoesPorStatus()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
