<div class="d-flex">
  <div class="bg-white border-bottom py-4 w-100"
    *ngIf="!solicitacaoDocumentosFornecedorArquivos?.length; else hasValue">
    <div class="no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
  </div>

  <!-- begin-list-->
  <ng-template #hasValue>
    <sdk-list-view class="w-100" [items]="solicitacaoDocumentosFornecedorArquivos">
      <ng-template sdkListViewItem let-item>
        <app-item-documento [documento]="item" (recarregaDocumentos)="recarregaDocumentosFornecedor()">
        </app-item-documento>

      </ng-template>
    </sdk-list-view>
  </ng-template>
  <!-- end-list -->
</div>