<smk-funcionalidade
  [rotaVoltar]="rotaVoltar"
  [titulo]="titulo + descricaoFuncionalidade"
  [tituloComplementar]="tituloComplementar">
  <ng-content select="[acoes-barra]" ngProjectAs="[acoes-barra]"></ng-content>
  <ng-content select="[titulo-customizado]" ngProjectAs="[titulo-customizado]"></ng-content>
  <div class="table-funcionalidade">
    <smk-card-funcionalidade paddingBottom="0.25rem">
      <form [formGroup]="formFiltro">
        <div class="row form-group justify-content-between align-items-center mb-0 pb-4">
          <div class="col-9">
            <input-busca label="Pesquisa"
              placeholder="Buscar"
              (buscar)="filtreItens(true, $event)"
            ></input-busca>
          </div>
          <div class="col-3">
            <label for="situacaoEmail">Situação</label>
            <ng-select
              id="situacaoEmail"
              bindValue="index"
              bindLabel="name"
              [items]="opcoesSituacaoEmail"
              formControlName="situacaoEmail">
            </ng-select>
          </div>
        </div>
      </form>
      <smk-table
      [config]="configuracaoDaTable"
      [items]="itensDaTable"
      (pageChange)="pagine($any($event))">
        <ng-container column-templates>
          <ng-template customColumn="situacao" let-item="item">
            <span>
              {{ situacaoEmailEnum[item.situacao] }}
            </span>
          </ng-template>
          <ng-template customColumn="tipoEmail" let-item="item">
            <span>
              {{ tipoEmailEnum[item.tipoEmail] }}
            </span>
          </ng-template>
        </ng-container>
      </smk-table>
    </smk-card-funcionalidade>
  </div>
</smk-funcionalidade>
