<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">
    {{ criterioAvaliacaoPedido?.idCriterioAvaliacaoPedido ? 'Alterar ' : 'Incluir ' }} Critério de
    Avaliação</div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">

    <div class="row">
      <div class="form-group required col-lg-12">
        <label>Descrição do Critério de Avaliação:</label>
        <textarea type="text" class="form-control" formControlName="descricao"
          [class.disabled]="form.controls.idCriterioAvaliacaoPedido.value"
          [class.invalid]="form.controls.descricao.invalid && form.controls.descricao.dirty"></textarea>
        <span class="invalid" *ngIf="form.controls.descricao.invalid && form.controls.descricao.dirty">
          Preenchimento obrigatório
        </span>
      </div>
    </div>

    <div class="row">
      <div class="form-group required col-lg-6">
        <label>Categorias:</label>
        <ng-select name="categoriasProduto" formControlName="categoriasProduto" [items]="categorias" bindLabel="nome"
          [multiple]="true"
          [class.invalid]="form.controls.categoriasProduto.invalid && form.controls.categoriasProduto.dirty">
          <ng-template ng-header-tmp>
            <div>
              <button class="btn btn-link" (click)="selecionarTodos()">Selecionar todos</button>
            </div>
          </ng-template>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.categoriasProduto.invalid && form.controls.categoriasProduto.dirty">
          Preenchimento obrigatório
        </span>
      </div>
      <div class="form-group required col-lg-3">
        <label for="dataInicioVigencia">Data Início Vigência:</label>
        <input-date formControlName="dataInicioVigencia" [max]="form.controls.dataFimVigencia.value"
          [disabled]="form.controls.idCriterioAvaliacaoPedido.value"
          [class.invalid]="form.controls.dataInicioVigencia.invalid && form.controls.dataInicioVigencia.dirty">
          ></input-date>
        <span class="invalid"
          *ngIf="form.controls.dataInicioVigencia.invalid && form.controls.dataInicioVigencia.dirty">
          Preenchimento obrigatório
        </span>
      </div>
      <div class="form-group required col-lg-3">
        <label for="dataFimVigencia"> Data Final Vigência: </label>
        <input-date formControlName="dataFimVigencia" [min]="form.controls.dataInicioVigencia.value"
          [class.invalid]="form.controls.dataFimVigencia.invalid && form.controls.dataFimVigencia.dirty">
        </input-date>
        <span class="invalid" *ngIf="form.controls.dataFimVigencia.invalid && form.controls.dataFimVigencia.dirty">
          Preenchimento obrigatório
        </span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" (click)="cancelar()" class="btn btn-outline-primary"><i class="fas fa-ban"></i>
    Cancelar</button>
  <button type="submit" (click)="salvar()" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
</div>