  <div class="header">
    <div class="header-search row">
      <div class="col-11 align-self-center">
        <h1 class="mb-0 text-uppercase text-primary font-weight-bold">
          Parâmetros de Avaliação de Fornecedor
        </h1>
      </div>
    </div>
  </div>
  <div class="custom-nav-tabs">
    <ul class="nav nav-tabs bounds" id="configuracaoAvaliacaoFornecedorTab" role="tablist">
      <li class="nav-item text-truncate">
        <a class="nav-link nav-link-block active text-truncate" id="configuracoes-avaliacao-fornecedor-tab" data-toggle="tab" href="#configuracoesAvaliacaoFornecedorTab"
          role="tab" aria-controls="configuracoesAvaliacaoFornecedor" aria-selected="false">Parâmetros de Avaliação de Fornecedor</a>
      </li>
    </ul>
    <div class="tab-content bounds" id="configuracoesAvaliacaoFornecedorTab">
      <div class="tab-pane fade active show" id="configuracoesAvaliacaoFornecedor" role="tabpanel" aria-labelledby="configuracoes-avaliacao-fornecedor-tab">
        <div class="card card-default">
          <div class="card-header"></div>
          <div class="card-body">
            <div class="row bg-white">
              <div class="col">
                <form [formGroup]="form">
                  <div class="row">
                    <div class="col">
                      <div class="divisor">
                        <div class="title">Peso para Nível de Impacto e Risco</div>
                      </div>
                      <p><small><em>Inclua de 0 - 9 o peso para cada impacto. Esse peso será utilizado no cálculo de avaliação do fornecedor.</em></small></p>
                      <div class="row">
                        <div class="form-group required col-lg-6 align-self-center">
                          <label>Muito Baixo / Trivial / Não se aplica:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.pesoMuitoBaixo.invalid && form.controls.pesoMuitoBaixo.dirty"
                            formControlName="pesoMuitoBaixo" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.pesoMuitoBaixo.invalid && form.controls.pesoMuitoBaixo.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-6">
                          <label>Baixo / Aceitável / Tolerável:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.pesoBaixo.invalid && form.controls.pesoBaixo.dirty"
                            formControlName="pesoBaixo" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.pesoBaixo.invalid && form.controls.pesoBaixo.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-6">
                          <label>Medio / Moderável / Controlado:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.pesoMedio.invalid && form.controls.pesoMedio.dirty"
                            formControlName="pesoMedio" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.pesoMedio.invalid && form.controls.pesoMedio.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-6">
                          <label>Alto / Importante / Substancial:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.pesoAlto.invalid && form.controls.pesoAlto.dirty"
                            formControlName="pesoAlto" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.pesoAlto.invalid && form.controls.pesoAlto.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-6">
                          <label>Muito Alto / Muito Importante / Intolerável:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.pesoMuitoAlto.invalid && form.controls.pesoMuitoAlto.dirty"
                            formControlName="pesoMuitoAlto" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.pesoMuitoAlto.invalid && form.controls.pesoMuitoAlto.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="divisor">
                        <div class="title">Nota por Avaliação</div>
                      </div>
                      <p><small><em>Informe um peso de 0 a 9 para a nota do tipo da avaliação realizada no módulo de gestão de fornecedores.
                      </em></small></p>
                      <div class="row">
                        <div class="form-group required col-lg-6 align-self-center">
                          <label>Não Se Aplica / Irrelevante:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.notaNaoSeAplica.invalid && form.controls.notaNaoSeAplica.dirty"
                            formControlName="notaNaoSeAplica" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.notaNaoSeAplica.invalid && form.controls.notaNaoSeAplica.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-6">
                          <label> Qualificado / Aprovado:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.notaQualificado.invalid && form.controls.notaQualificado.dirty"
                            formControlName="notaQualificado" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.notaQualificado.invalid && form.controls.notaQualificado.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-6">
                          <label>Requer Melhorias:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.notaRequerMelhorias.invalid && form.controls.notaRequerMelhorias.dirty"
                            formControlName="notaRequerMelhorias" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.notaRequerMelhorias.invalid && form.controls.notaRequerMelhorias.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-6">
                          <label>Não Qualificado / Reprovado:</label>
                        </div>
                        <div class="form-group required col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.notaNaoQualificado.invalid && form.controls.notaNaoQualificado.dirty"
                            formControlName="notaNaoQualificado" [integer-limit]="1" [min]="0" [max]="9">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.notaNaoQualificado.invalid && form.controls.notaNaoQualificado.dirty">Preenchimento obrigatório </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="divisor">
                        <div class="title">Classificação do Fornecedor - Nota Final</div>
                      </div>
                      <p><small><em>Informe um intervalo de 0 a 9 para a classificação(nota) final do fornecedor por classificação.</em></small></p>
                      <div class="row">
                        <div class="form-group required col-lg-4">
                          <label>Não Qualificado:</label>
                        </div>
                        <div class="form-group required col-6 col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.classificacaoNaoQualificadoInicio.invalid && form.controls.classificacaoNaoQualificadoInicio.dirty"
                            formControlName="classificacaoNaoQualificadoInicio" [integer-limit]="1" [min]="0" [max]="9" (keyup)="reValidar('classificacaoNaoQualificadoFim')"
                            (change)="reValidar('classificacaoNaoQualificadoFim')">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.classificacaoNaoQualificadoInicio.hasError('required') && form.controls.classificacaoNaoQualificadoInicio.dirty">
                            Preenchimento obrigatório
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoNaoQualificadoInicio.hasError('diferenteDe') && form.controls.classificacaoNaoQualificadoInicio.dirty">
                            Defina o intervalo de 0 a {{form.controls.classificacaoNaoQualificadoInicio.value}}
                          </span>
                        </div>
                        <div class="form-group required col-6 col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.classificacaoNaoQualificadoFim.invalid && form.controls.classificacaoNaoQualificadoFim.dirty"
                            formControlName="classificacaoNaoQualificadoFim" [integer-limit]="1" [min]="0" [max]="9" (keyup)="reValidar('classificacaoRequerMelhoriasInicio');reValidar('classificacaoNaoQualificadoInicio')"
                            (change)="reValidar('classificacaoRequerMelhoriasInicio');reValidar('classificacaoNaoQualificadoInicio')">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.classificacaoNaoQualificadoFim.hasError('required') && form.controls.classificacaoNaoQualificadoFim.dirty">
                            Preenchimento obrigatório
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoNaoQualificadoFim.hasError('segundoValorMenor') && form.controls.classificacaoNaoQualificadoFim.dirty &&
                          form.controls.classificacaoNaoQualificadoFim.value != 0">
                            O segundo valor deve ser maior do que o primeiro
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-4">
                          <label>Requer Melhorias:</label>
                        </div>
                        <div class="form-group required col-6 col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.classificacaoRequerMelhoriasInicio.invalid && form.controls.classificacaoRequerMelhoriasInicio.dirty"
                            formControlName="classificacaoRequerMelhoriasInicio" [integer-limit]="1" [min]="0" [max]="9" (keyup)="reValidar('classificacaoNaoQualificadoFim');reValidar('classificacaoRequerMelhoriasFim')"
                            (change)="reValidar('classificacaoNaoQualificadoFim');reValidar('classificacaoRequerMelhoriasFim')">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.classificacaoRequerMelhoriasInicio.hasError('required') && form.controls.classificacaoRequerMelhoriasInicio.dirty">
                            Preenchimento obrigatório
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoRequerMelhoriasInicio.hasError('menorQue') && form.controls.classificacaoRequerMelhoriasInicio.dirty">
                            Conflito entre intervalos
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoRequerMelhoriasInicio.hasError('maiorQue') && form.controls.classificacaoRequerMelhoriasInicio.dirty &&
                          form.controls.classificacaoNaoQualificadoFim.value != 0 && form.controls.classificacaoRequerMelhoriasInicio.value != 0">
                            Defina o intervalo de {{form.controls.classificacaoNaoQualificadoFim.value}} a {{form.controls.classificacaoRequerMelhoriasInicio.value}}
                          </span>
                        </div>
                        <div class="form-group required col-6 col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.classificacaoRequerMelhoriasFim.invalid && form.controls.classificacaoRequerMelhoriasFim.dirty"
                            formControlName="classificacaoRequerMelhoriasFim" [integer-limit]="1" [min]="0" [max]="9" (keyup)="reValidar('classificacaoQualificadoInicio');reValidar('classificacaoRequerMelhoriasInicio')"
                            (change)="reValidar('classificacaoQualificadoInicio');reValidar('classificacaoRequerMelhoriasInicio')">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.classificacaoRequerMelhoriasFim.hasError('required') && form.controls.classificacaoRequerMelhoriasFim.dirty">
                            Preenchimento obrigatório
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoRequerMelhoriasFim.hasError('segundoValorMenor') && form.controls.classificacaoRequerMelhoriasFim.dirty &&
                          form.controls.classificacaoRequerMelhoriasFim.value != 0">
                            O segundo valor deve ser maior do que o primeiro
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group required col-lg-4 align-self-center">
                          <label>Qualificado:</label>
                        </div>
                        <div class="form-group required col-6 col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.classificacaoQualificadoInicio.invalid && form.controls.classificacaoQualificadoInicio.dirty"
                            formControlName="classificacaoQualificadoInicio" [integer-limit]="1" [min]="0" [max]="9" (keyup)="reValidar('classificacaoRequerMelhoriasFim');reValidar('classificacaoQualificadoFim')"
                            (change)="reValidar('classificacaoRequerMelhoriasFim');reValidar('classificacaoQualificadoFim')">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.classificacaoQualificadoInicio.hasError('required') && form.controls.classificacaoQualificadoInicio.dirty">
                            Preenchimento obrigatório
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoQualificadoInicio.hasError('menorQue') && form.controls.classificacaoQualificadoInicio.dirty">
                            Conflito entre intervalos
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoQualificadoInicio.hasError('maiorQue') && form.controls.classificacaoQualificadoInicio.dirty &&
                          form.controls.classificacaoRequerMelhoriasFim.value != 0 && form.controls.classificacaoQualificadoInicio.value != 0">
                            Defina o intervalo de {{form.controls.classificacaoRequerMelhoriasFim.value}} a {{form.controls.classificacaoQualificadoInicio.value}}
                          </span>
                        </div>
                        <div class="form-group required col-6 col-lg-2">
                          <input-number
                            [class.invalid]="form.controls.classificacaoQualificadoFim.invalid && form.controls.classificacaoQualificadoFim.dirty"
                            formControlName="classificacaoQualificadoFim" [integer-limit]="1" [min]="0" [max]="9" (keyup)="reValidar('classificacaoQualificadoInicio')"
                            (change)="reValidar('classificacaoQualificadoInicio')">
                          </input-number>
                          <span class="invalid" *ngIf="form.controls.classificacaoQualificadoFim.hasError('required') && form.controls.classificacaoQualificadoFim.dirty">
                            Preenchimento obrigatório
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoQualificadoFim.hasError('diferenteDe') && form.controls.classificacaoQualificadoFim.dirty &&
                          !form.controls.classificacaoQualificadoFim.hasError('segundoValorMenor') && form.controls.classificacaoQualificadoFim.value != 0">
                            Defina o intervalo de {{form.controls.classificacaoQualificadoFim.value}} a 9
                          </span>
                          <span class="invalid" *ngIf="form.controls.classificacaoQualificadoFim.hasError('segundoValorMenor') && form.controls.classificacaoQualificadoFim.dirty &&
                          form.controls.classificacaoQualificadoFim.value != 0 && form.controls.classificacaoQualificadoInicio.value != 0">
                            O segundo valor deve ser maior do que o primeiro
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" 
                      (click)="cancelar()"
                      class="btn btn-outline-primary">
                <i class="fas fa-ban"></i> Cancelar
              </button>
              <button type="button" 
                          id="btnSalvar"
                        (click)="salvar()"
                      class="btn btn-primary">
                <i class="fas fa-save"></i> Salvar
              </button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
    