<ul class="nav bg-gray">
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="salvar()"><i class="fas fa-save"></i> Salvar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="cancelar()"><i class="fas fa-ban"></i> Cancelar</a>
  </li>
  <li class="nav-item" *ngIf="idUsuario">
    <a class="nav-link" role="button" (click)="confirmarResetDeSenha()"><i class="fas fa-key"></i> Resetar senha</a>
  </li>
  <li class="nav-item" *ngIf="idUsuario && empresaUtilizaMfa">
    <a class="nav-link" role="button" (click)="confirmarResetDeMfa()"><i class="fas fa-redo"></i> Resetar usuário</a>
  </li>
  <li class="nav-item" *ngIf="idUsuario">
    <a class="nav-link" role="button" [routerLink]="['../', 'novo']"><i class="fas fa-plus"></i> Incluir novo</a>
  </li>
</ul>
<header>
  <h1 class="title" translate>{{ idUsuario?'Alterar':'Incluir' }} usuário</h1>
</header>
<div class="container-fluid no-bounds">
  <!-- #region Dados gerais -->
  <div class="card">
    <a class="card-header" data-toggle="collapse" href="#collapsedFormDadosGerais">
      Dados gerais
    </a>
    <div class="card-body">
      <form class="collapse show" id="collapsedFormDadosGerais" [formGroup]="form">
        <div class="form-row" *ngIf="idUsuario">
          <div class="form-group col-12 col-md-1">
            <label for="idUsuario" translate> ID </label>
            <input class="form-control" type="text" readonly name="idUsuario" formControlName="idUsuario">
          </div>
          <div class="form-group col-12 col-md-1">
            <label for="codigoERP" translate>Código ERP</label>
            <input class="form-control" type="text" name="codigoERP" formControlName="codigoERP">
          </div>
        </div>
        <div class="form-row" *ngIf="!idUsuario">
          <div class="form-group required col-md-5">
            <label for="nome" translate> Nome </label>
            <input class="form-control" [class.invalid]="form.controls.nome.invalid && form.controls.nome.dirty"
              type="text" name="nome" formControlName="nome">
            <span class="invalid" *ngIf="form.controls.nome.invalid && form.controls.nome.dirty"> Preenchimento
              obrigatório </span>
          </div>
          <div class="form-group required col-md-6">
            <label for="email" translate> Email </label>
            <input class="form-control" [class.invalid]="form.controls.email.invalid && form.controls.email.dirty"
              type="text" name="email" formControlName="email">
            <span class="invalid"
              *ngIf="form.controls.email.invalid && form.controls.email.errors.email && form.controls.email.dirty">
              Email inválido
            </span>
            <span class="invalid"
              *ngIf="form.controls.email.invalid && form.controls.email.errors.required && form.controls.email.dirty">
              Preenchimento obrigatório
            </span>
          </div>
          <div div class="form-group col-12 col-md-1">
            <label for="codigoERP" translate>Código ERP</label>
            <input class="form-control" type="text" name="codigoERP" formControlName="codigoERP">
          </div>
        </div>
        <div class="form-row" *ngIf="idUsuario">
          <div class="form-group required col-md-6">
            <label for="nome" translate> Nome </label>
            <input class="form-control" [class.invalid]="form.controls.nome.invalid && form.controls.nome.dirty"
              type="text" name="nome" formControlName="nome">
            <span class="invalid" *ngIf="form.controls.nome.invalid && form.controls.nome.dirty"> Preenchimento
              obrigatório </span>
          </div>
          <div class="form-group required col-md-6">
            <label for="email" translate> Email </label>
            <input class="form-control" [class.invalid]="form.controls.email.invalid && form.controls.email.dirty"
              type="text" name="email" formControlName="email">
            <span class="invalid"
              *ngIf="form.controls.email.invalid && form.controls.email.errors.email && form.controls.email.dirty">
              Email inválido
            </span>
            <span class="invalid"
              *ngIf="form.controls.email.invalid && form.controls.email.errors.required && form.controls.email.dirty">
              Preenchimento obrigatório
            </span>
          </div>
        </div>
        <div class="form-row">
        </div>
        <div class="form-row">
          <div class="form-group required col-12 col-md-3">
            <label for="situacao" translate> Situação </label>
            <select
              id="situacao"
              class="form-control"
              [class.invalid]="form.controls.situacao.invalid && form.controls.situacao.dirty"
              name="situacao"
              formControlName="situacao">
              <option [ngValue]="null"> </option>
              <option [ngValue]="Situacao.Liberado" translate> Liberado </option>
              <option [ngValue]="Situacao.Bloqueado" translate> Bloqueado </option>
              <option [ngValue]="Situacao.BloqueadoPorExcessoTentativas" translate>
                Bloqueado por excesso de tentativas
              </option>
            </select>
            <span class="invalid" *ngIf="form.controls.situacao.invalid && form.controls.situacao.dirty">
              Preenchimento obrigatório
            </span>
          </div>
          <div class="form-group col-md-3">
            <label for="telefone" translate>Telefone</label>
            <input
              class="form-control"
              [textMask]="{ mask: maskTelefone, guide: false }"
              type="text"
              name="telefone"
              formControlName="telefone">
          </div>
          <div class="form-group col-md-3">
            <label for="ramal" translate>Ramal</label>
            <input class="form-control" type="text" name="ramal" formControlName="ramal">
          </div>
          <div class="form-group col-md-3">
            <label for="celular" translate>Celular</label>
            <input
              class="form-control"
              [textMask]="{ mask: maskCelular, guide: false }"
              type="text"
              name="celular"
              formControlName="celular">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region Permissões -->
  <div class="card" *ngIf="idUsuario && usuario">
    <a class="card-header collapsed" data-toggle="collapse" href="#collapsePermissoes"
      (click)="permitirExibirPermissoes()">
      Permissões
    </a>
    <div class="card-body">
      <div class="collapse" id="collapsePermissoes">
        <listar-permissoes
          [idUsuario]="idUsuario"
          [disabled]="!permitirEdicao()"
          *ngIf="exibirPermissoes">
        </listar-permissoes>
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>
<div #modalConfirmacaoTmp class="d-none">
  <div class="modal-confirmacao-body text-center">
    <i class="icone fas fa-exclamation-triangle fa-5x mt-3"></i>
    <p class="mt-4 mb-2"><strong>{{ slotMensagemConfirmacao1 }}</strong></p>
    <p class="mb-4">{{ slotMensagemConfirmacao2 }}</p>
  </div>
</div>