<div class="row d-flex align-items-center px-2">
  <div class="col-4 px-md-0">
    <sdk-circleprogressbar
      [progressColor]="color"
      [value]="value"
      [maxValue]="maxValue"
      [radius]="15"
      [stroke]="5"
      [showSubtitle]="false"
      [titleFontSize]="10"
      [titleFontWeight]="600"
    ></sdk-circleprogressbar>
  </div>
  <div class="col-8 px-0 d-flex align-items-stretch">
    <sdk-card-entry [label]="label" [iconColor]="color" [iconSize]="'fa-2x'"> </sdk-card-entry>
  </div>
</div>
