<div>
  <form [formGroup]="form">
    <!-- primeira-linha -->
    <div class="form-row d-flex align-items-end">
      <div *ngIf="alterarCodigoERP" class="form-group col-md-2">
        <label for="cnpj"> Código ERP </label>
        <input
          type="text"
          class="form-control"
          name="codigoFornecedor"
          formControlName="codigoFornecedor" />
      </div>
      <div class="form-group col-md-3">
        <label for="tipo-cadastro"> Tipo do Cadastro </label>
        <select id="tipo-Cadastro" class="form-control" formControlName="tipoCadastro">
          <option *ngFor="let key of opcoesTipoCadastroEmpresa" [value]="key">
            {{ enumTipoCadastroEmpresa[key] }}
          </option>
        </select>
      </div>
      <div
        class="form-group"
        [ngClass]="{ ' col-md-2': alterarCodigoERP, ' col-md-3': !alterarCodigoERP }">
        <label for="porte"> Porte da Empresa </label>
        <select id="porte" class="form-control" formControlName="porte">
          <option *ngFor="let key of opcoesPorteEmpresa" [value]="key">
            {{ enumPorteEmpresa[key] }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="numero-funcionarios"> N° Funcionários </label>
        <input-number
          [min]="0"
          [max]="999999999"
          [allowDecimal]="false"
          formControlName="numeroFuncionarios"
          [disabled]="idPessoaJuridica && !isTenantMaster">
        </input-number>
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'col-md-2': alterarCodigoERP, ' col-md-3': !alterarCodigoERP }">
        <label for="datavalidade"> Abertura </label>
        <input
          class="form-control"
          type="date"
          name="datavalidade"
          formControlName="dataValidade" />
      </div>
    </div>

    <!-- segunda-linha -->
    <div class="form-row">
      <div class="form-group required col-md-6">
        <label for="cnpj">
          {{
          tipoDocumentoSelecionado == TipoDocumentoFornecedor.Cpf
          ? 'Nome Completo'
          : 'Razão social'
          }}
        </label>
        <input
          type="text"
          class="form-control"
          name="razaoSocial"
          formControlName="razaoSocial"
          [class.invalid]="form.controls.razaoSocial.invalid && form.controls.razaoSocial.dirty" />
        <span
          class="invalid"
          *ngIf="form.controls.razaoSocial.invalid && form.controls.razaoSocial.dirty">Preenchimento obrigatório</span>
      </div>
      <div class="form-group required col-md-6">
        <label for="nomefantasia"> Nome Fantasia </label>
        <input
          class="form-control"
          type="text"
          name="nomeFantasia"
          formControlName="nomeFantasia"
          [class.invalid]="form.controls.nomeFantasia.invalid && form.controls.nomeFantasia.dirty" />
        <span
          class="invalid"
          *ngIf="form.controls.nomeFantasia.invalid && form.controls.nomeFantasia.dirty">
          Preenchimento obrigatório
        </span>
      </div>
    </div>

    <!-- terceira-linha -->
    <div class="form-row d-flex align-items-end">
      <div class="form-group required col-md-4">
        <label for="contato"> Contato </label>
        <input
          class="form-control"
          type="text"
          name="contato"
          formControlName="contato"
          [class.invalid]="form.controls.contato.invalid && form.controls.contato.dirty" />
        <span class="invalid" *ngIf="form.controls.contato.invalid && form.controls.contato.dirty">
          Preenchimento obrigatório
        </span>
      </div>
      <div class="form-group required col-md-2">
        <label for="telefone"> Telefone </label>
        <input
          class="form-control"
          type="text"
          name="telefone"
          formControlName="telefone"
          [textMask]="{
            mask: form?.controls?.telefone?.value?.length < 15 ? maskTelefone : maskCelular,
            guide: false
          }"
          [class.invalid]="form.controls.telefone.invalid && form.controls.telefone.dirty" />
        <span
          class="invalid"
          *ngIf="form.controls.telefone.invalid && form.controls.telefone.dirty">
          Preenchimento obrigatório
        </span>
      </div>
      <div class="form-group required col-md-6">
        <label for="email"> E-mail </label>
        <input
          class="form-control"
          type="text"
          name="email"
          formControlName="email"
          [class.invalid]="form.controls.email.invalid && form.controls.email.dirty" />
        <span
          class="invalid"
          *ngIf="
            form.controls.email.invalid &&
            form.controls.email.errors.email &&
            form.controls.email.dirty
          ">
          Email inválido
        </span>
        <span
          class="invalid"
          *ngIf="
            form.controls.email.invalid &&
            form.controls.email.errors.required &&
            form.controls.email.dirty
          ">
          Preenchimento obrigatório
        </span>
      </div>
    </div>

    <!-- quarta-linha -->
    <div class="form-row d-flex align-items-end">
      <div class="form-group col-md-8">
        <label for="idNaturezaJuridica"> Natureza Jurídica </label>
        <ng-select
          class="full-width"
          [items]="naturezasJuridicas$ | async"
          bindValue="idNaturezaJuridica"
          [loading]="naturezasJuridicasLoading"
          [loadingText]="'buscando...'"
          formControlName="idNaturezaJuridica"
          [class.invalid]="
            form.controls.idNaturezaJuridica.invalid && form.controls.idNaturezaJuridica.dirty
          ">
          <ng-template ng-label-tmp let-item="item">
            {{ item.codigo }} - {{ item.descricao }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.codigo }} - {{ item.descricao }}
          </ng-template>
        </ng-select>
        <span
          class="invalid"
          *ngIf="form.controls.idNaturezaJuridica.invalid && form.controls.idNaturezaJuridica.dirty">
          Preenchimento obrigatório
        </span>
      </div>
      <div class="form-group col-md-4">
        <label for="homepage"> Site Institucional </label>
        <input class="form-control" type="text" name="homepage" formControlName="homePage" />
      </div>
    </div>

    <!-- quinta-linha -->
    <div class="form-row d-flex align-items-end">
      <div class="form-group col-md-3">
        <label for="inscricao-estadual"> Inscrição Estadual </label>
        <input
          maxlength="30"
          class="form-control"
          type="text"
          name="inscricao-estadual"
          formControlName="inscricaoEstadual" />
      </div>
      <div class="form-group col-md-3">
        <label for="inscricao-municipal"> Inscrição Municipal </label>
        <input
          maxlength="30"
          class="form-control"
          type="text"
          name="inscricao-municipal"
          formControlName="inscricaoMunicipal" />
      </div>
      <div class="form-group col-md-3">
        <label for="patrimonio-liquido"> Patrimônio Líquido </label>
        <input-number
          [min]="0"
          [max]="999999999.9999"
          [allowDecimal]="true"
          formControlName="patrimonioLiquido"
          [disabled]="idPessoaJuridica && !isTenantMaster">
        </input-number>
      </div>
      <div class="form-group col-md-3">
        <label for="perfil-tributario"> Perfil Tributário </label>
        <select id="perfil-tributario" class="form-control" formControlName="perfilTributario">
          <option *ngFor="let key of opcoesPerfilTributario" [value]="key">
            {{ enumPerfilTributario[key] }}
          </option>
        </select>
      </div>
    </div>

    <!-- sexta-linha -->
    <div class="form-row d-flex align-items-end">
      <div class="form-group col-md-3">
        <label for="capital-social"> Capital Social </label>
        <input-number
          [min]="0"
          [max]="999999999.9999"
          [allowDecimal]="true"
          formControlName="capitalSocial"
          [disabled]="idPessoaJuridica && !isTenantMaster">
        </input-number>
      </div>
      <div class="form-group col-md-3">
        <label for="capital-integralizado"> Capital Integralizado </label>
        <input-number
          [min]="0"
          [max]="999999999.9999"
          [allowDecimal]="true"
          formControlName="capitalIntegralizado"
          [disabled]="idPessoaJuridica && !isTenantMaster">
        </input-number>
      </div>
      <div class="form-group col-md-2">
        <label for="data-integralizacao"> Data da Integralização </label>
        <input
          class="form-control"
          type="date"
          name="data-integralizacao"
          formControlName="dataIntegralizacao" />
      </div>
      <div class="form-group col-md-4">
        <label> Simples Nacional </label>
        <select
          id="perfil-tributario"
          class="form-control"
          formControlName="optanteSimplesNacional">
          <option [value]="true">Optante</option>
          <option [value]="false">Não Optante</option>
        </select>
      </div>
    </div>
    <div class="form-row d-flex justify-content-end" *ngIf="showBtnSalvar">
      <button type="button" class="btn btn-primary" (click)="salvar()">
        <i class="fas fa-save"></i> Salvar
      </button>
    </div>
  </form>
</div>
