<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">
    {{ documentoFornecedor?.idDocumentoFornecedor ? 'Alterar ' : 'Inserir' }}
    documento fornecedor
  </div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="form-group required col-lg-12">
        <label>Nome do documento:</label>
        <input
          type="text"
          class="form-control"
          formControlName="descricaoDocumento"
          [class.invalid]="
            form.controls.descricaoDocumento.invalid && form.controls.descricaoDocumento.dirty
          "
        />
        <span
          class="invalid"
          *ngIf="form.controls.descricaoDocumento.invalid && form.controls.descricaoDocumento.dirty"
        >
          Preenchimento obrigatório
        </span>
      </div>

      <div class="form-group col-lg-4 pt-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="documentoObrigatorio"
            id="documentoObrigatorio"
          />
          <label class="form-check-label" for="documentoObrigatorio">
            Documento é obrigatório?
          </label>
        </div>
      </div>

      <div class="form-group col-lg-4 pt-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="vencimentoObrigatorio"
            id="vencimentoObrigatorio"
          />
          <label class="form-check-label" for="vencimentoObrigatorio">
            Vencimento é obrigatório?
          </label>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" (click)="cancelar()" class="btn btn-outline-primary">
    <i class="fas fa-ban"></i> Cancelar
  </button>
  <button type="button" (click)="salvar()" class="btn btn-primary">
    <i class="fas fa-save"></i> Salvar
  </button>
</div>
