:host {
  display: flex;
  align-self: stretch;
  background: #e7edf0;
  flex-direction: column;
  position: relative;
  min-height: 95vh;

  .semListagem {
    height: 54vh;
    a {
      margin: 5% auto;
    }
  }

  .paging {
    padding: 3em;
  }

  .filter {
    margin-top: 5.8em;
    padding: 5px;
    background: #ffffff;
  }

  .listagem {
    margin-top: 3em;
    padding: 0 2em;

    .row {
      padding: 0 0.3em !important;

      p,
      i {
        font-size: 1.1em;
        color: #417185;
        font-weight: bold;
      }

      .menu-icon {
        color: #114e66 !important;

        &:hover,
        &.ativo {
          color: #27ade4 !important;
        }
      }
    }

    .clickable {
      cursor: pointer;
    }

    input[type="checkbox"]:before {
      content: "" !important;
      position: absolute !important;
      width: 16px !important;
      height: 16px !important;
      border-radius: 4px !important;
      top: 0 !important;
      left: 0px !important;
      background: #ffffff;
      border: 1px solid #cfdce0;
      box-sizing: border-box;
      border-radius: 4px;
    }

    input[type="checkbox"] {
      position: relative !important;
      cursor: pointer !important;
      height: 16px !important;
      opacity: 1 !important;
    }

    input[type="checkbox"]:checked:before {
      background-color: #00a1d7 !important;
      border: none !important;
      border-radius: 4px !important;
    }

    input[type="checkbox"]:checked:after {
      content: "" !important;
      border-radius: 4px !important;
      display: block !important;
      width: 5px !important;
      height: 10px !important;
      border-radius: 4px !important;
      border: solid #ffffff !important;
      border-width: 0 2px 2px 0 !important;
      -webkit-transform: rotate(45deg) !important;
      -ms-transform: rotate(45deg) !important;
      transform: rotate(45deg) !important;
      position: absolute !important;
      top: 2px !important;
      left: 6px !important;
    }
  }

  .navbar {
    height: 80px;
    margin-bottom: 20px;
    margin: 0 3em;
  }

  .page-title {
    font-size: 1.1em !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #88a6b2 !important;

    .subtitle {
      font-size: 1.2em !important;
      color: #27ade4;
      font-weight: bold;
    }

    i {
      font-size: 0.9em;
    }
  }
}

::ng-deep {
  .arrow::before {
    border-bottom-color: #d4effa !important;
  }

  .tooltip-inner {
    background-color: #d4effa;
    color: #417185;
    font-weight: 600;
    font-size: 12px;
    width: auto;
  }

  sdk-rectangle-button.custom-rectangule-button {
    width: auto;

    button {
      padding: 0 30px !important;
      height: 32px !important;
      font-family: Open Sans !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 13px !important;
      line-height: 100% !important;
      display: flex !important;
      align-items: center !important;
      flex: none !important;
      width: auto !important;
      color: #ffffff !important;
      border-radius: 8px !important;
      background: #cfd8dc !important;

      &:hover {
        background: #114e66 !important;
      }
    }
  }

  sdk-rectangle-button.custom-rectangule-button-include {
    width: auto;

    button {
      padding: 0 30px !important;
      height: 32px !important;
      font-family: Open Sans !important;
      font-style: normal !important;
      font-weight: bold !important;
      font-size: 13px !important;
      line-height: 100% !important;
      display: flex !important;
      align-items: center !important;
      flex: none !important;
      width: auto !important;
      color: #ffffff !important;
      border-radius: 8px !important;
      background: #27ade4 !important;

      &:hover {
        background: #114e66 !important;
      }
    }

    &.disabled {
      button {
        background: #cfd8dc !important;
      }
    }
  }
}
