<div class="card card-tab-content">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="bg-lighter border-bottom row py-4 d-none d-md-flex justify-content-end">
        <div class="col-md-1 align-self-center">
          <p class="font-weight-bold mb-0">Ações:</p>
        </div>
      </div>
      <div *ngIf="exibirCriterioDeAvaliacao" class="bg-white border-bottom row py-4">
        <div class="col-md-11 align-self-center">Critério de avaliação por pedido</div>
        <div class="col-md-1 d-flex justify-content-end align-self-center">
          <label for="" class="font-weight-bold d-block d-md-none">Ações:</label>
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="editarCriterioAvaliacaoPedido()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
      <div class="bg-white border-bottom row py-4">
        <div class="col-md-10 align-self-center">Observações Padrão</div>
        <div class="col-md-2 d-flex justify-content-end align-self-center">
          <label for="" class="font-weight-bold d-block d-md-none">Ações:</label>
          <button
            *ngIf="
              pedidoObservacaoPadrao?.idPedidoObservacaoPadrao &&
                pedidoObservacaoPadrao.situacao == situacao.Ativo;
              else botaoAtivar
            "
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Desativar"
            (click)="inativar(pedidoObservacaoPadrao)"
          >
            <i class="fas fa-toggle-on text-success"></i>
          </button>
          <ng-template #botaoAtivar>
            <button
              *ngIf="pedidoObservacaoPadrao?.idPedidoObservacaoPadrao"
              class="btn btn-icon"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Ativar"
              (click)="ativar(pedidoObservacaoPadrao)"
            >
              <i class="fas fa-toggle-off"></i>
            </button>
          </ng-template>
          <button
            class="btn btn-icon"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Editar"
            (click)="editarObservacoesPadrao()"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
