<sdk-modal title="Alterar Data Entrega Prevista">
  <form [formGroup]="form">
    <div class="row form-group">
      <div class="col-8">
        <label class="required-field" for="dataEntregaPrevista">Data Entrega Prevista</label>
        <input
          class="form-control"
          [class.invalid]="form.controls.dataEntregaPrevista?.invalid && form.controls.dataEntregaPrevista?.dirty"
          type="date"
          name="dataEntregaPrevista"
          formControlName="dataEntregaPrevista" />
      </div>
      <div class="col-4 align-self-end text-right">
        <label for="btnAplicar"> </label>
        <button type="button" class="btn btn-success" (click)="aplicarTodosItens()">
          Aplicar a todos
        </button>
      </div>
    </div>
  </form>

  <!-- REGION ITENS -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 70%">Item</th>
        <th style="width: 30%">Data Entrega Prevista:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!dtosEntregas?.length">
        <td class="no-content" colspan="7" translate>GENERAL.NO_RECORDS_FOUND</td>
      </tr>

      <tr *ngFor="let dtoEntrega of dtosEntregas; let pedidoItemIndex = index">
        <td class="text-blue" style="width: 70%">{{ dtoEntrega.descricao }}</td>
        <td style="width: 30%; text-align: center;">
          <input
            *ngIf="!dtoEntrega.entregasProgramadas; else botaoEntregasProgramadas"
            class="form-control"
            type="date"
            name="dataEntregaPrevista"
            [(ngModel)]="dtoEntrega.dataEntregaPrevista">
          <ng-template #botaoEntregasProgramadas>
            <button
              class="btn btn-primary"
              (click)="exibirEntregasProgramadas(dtoEntrega.entregasProgramadas)">
              <i class="fas fa-calendar"></i> Entregas
            </button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- END REGION ITENS -->

  <div class="form-row justify-content-end">
    <div class="form-group col-lg-3">
      <button
        role=button
        class="btn btn-outline-primary w-100" type="button"
        (click)="cancelar()">
        Cancelar
      </button>
    </div>
    <div class="form-group col-lg-3">
      <button
        role=button
        class="btn btn-block btn-primary" type="button"
        (click)="salvar()">
        Salvar
      </button>
    </div>
  </div>
</sdk-modal>