<div
  class="infinite-scroll"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <div class="header">
    <div class="header-search row">
      <div class="col-12 align-self-center">
        <h3 class="mb-0 text-uppercase text-primary font-weight-bold">
          Avaliações de Fornecedores
        </h3>
      </div>
      <div class="col-lg-8">
        <input-busca
          label="O que você procura?"
          placeholder="Buscar por nome"
          (buscar)="buscar($event)"
        >
        </input-busca>
      </div>
    </div>
  </div>

  <div class="custom-nav-tabs">
    <ul class="nav nav-tabs row bounds" id="avaliacaoTab" role="tablist">
      <li class="nav-item col-md-6 col-lg-3">
        <a
          class="nav-link nav-link-block active"
          id="avaliacoes-fornecedor-tab"
          data-toggle="tab"
          href="#avaliacoes-fornecedor"
          role="tab"
          aria-controls="avaliacoes-fornecedor"
          aria-selected="false"
        >
          Avaliações
        </a>
      </li>
    </ul>

    <div class="tab-content bounds" id="avaliacaoTabContent">
      <div
        class="tab-pane fade active show"
        id="avaliacoes-fornecedor"
        role="tabpanel"
        aria-labelledby="avaliacoes-fornecedor-tab"
      >
        <div class="card card-tab-content">
          <div class="card-header">
            <button class="btn btn-icon p-0" (click)="incluirAvaliacao()">
              <i class="fas fa-plus-circle text-primary"></i>
              <p class="d-inline-block mb-0 ml-2 align-top">Incluir Avaliação</p>
            </button>
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <div class="bg-lighter border-bottom row py-4 d-none d-md-flex justify-content-end">
                <div class="col-md-3 align-self-center">
                  <p class="font-weight-bold mb-0">Nome da Avaliação:</p>
                </div>
                <div class="col-md-2 align-self-center">
                  <p class="font-weight-bold mb-0">Data Início:</p>
                </div>
                <div class="col-md-2 align-self-center">
                  <p class="font-weight-bold mb-0">Data Fim:</p>
                </div>
                <div class="col-md-2 align-self-center">
                  <p class="font-weight-bold mb-0">Categorias:</p>
                </div>
                <div class="col-md-3 align-self-center">
                  <p class="font-weight-bold mb-0">Ações:</p>
                </div>
              </div>

              <div class="bg-white border-bottom row py-4" *ngIf="avaliacoes?.length == 0">
                <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
              </div>

              <div
                *ngFor="let avaliacao of avaliacoes; let i = index"
                class="bg-white border-bottom row py-4"
              >
                <div class="col-md-3 align-self-center line-clamp line-clamp-2">
                  <label for="" class="font-weight-bold d-block d-md-none"
                    >Nome da Avaliacao:</label
                  >
                  <p
                    class="mb-3 mb-lg-0 line-clamp line-clamp-2"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="{{ avaliacao.nome }}"
                  >
                    {{ avaliacao.nome }}
                  </p>
                </div>
                <div class="col-md-2 align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">Data Início:</label>
                  <p class="mb-3 mb-lg-0 line-clamp line-clamp-2">
                    {{ avaliacao.dataInicio | date: 'dd/MM/yyyy' }}
                  </p>
                </div>
                <div class="col-md-2 align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">Data Fim:</label>
                  <p class="mb-3 mb-lg-0 line-clamp line-clamp-2">
                    {{ avaliacao.dataFim | date: 'dd/MM/yyyy' }}
                  </p>
                </div>
                <div class="col-md-2 align-self-center line-clamp line-clamp-2">
                  <label for="" class="font-weight-bold d-block d-md-none">Categorias:</label>
                  <p
                    class="mb-3 mb-lg-0 line-clamp line-clamp-2"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="{{ avaliacao.stringCategorias }}"
                  >
                    {{ avaliacao.stringCategorias }}
                  </p>
                </div>
                <div class="col-md-3 d-flex justify-content-between align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">Ações:</label>
                  <button
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Disparar"
                    (click)="dispararAvaliacao(avaliacao.idAvaliacaoFornecedor)"
                  >
                    <i class="far fa-paper-plane text-primary"></i>
                  </button>
                  <button
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Ver Respostas"
                    (click)="visualizarAvaliacao(avaliacao.idAvaliacaoFornecedor)"
                  >
                    <i class="far fa-eye"></i>
                  </button>
                  <button
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Editar"
                    (click)="editarAvaliacao(avaliacao.idAvaliacaoFornecedor)"
                  >
                    <i class="far fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Excluir"
                    (click)="solicitarExclusao(avaliacao)"
                  >
                    <i class="far fa-trash-alt text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
