<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">
    {{ vizualizar ? 'Visualizar' : '' }}
    {{
      this.pendenciaForm.controls.idPendenciaFornecedor.value != 0 && !vizualizar ? 'Editar' : ''
    }}
    {{ this.pendenciaForm.controls.idPendenciaFornecedor.value == 0 ? 'Gerar' : '' }}
    Pendência:
  </div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="pendenciaForm">
    <div class="row">
      <div class="form-group required col-lg-12">
        <label>Tipo Pendência:</label>
        <ng-select
          id="tipo"
          [class.disabled]="vizualizar"
          [hideSelected]="false"
          formControlName="tipo"
        >
          <ng-option [value]="TiposPendencia.Documento">Documento</ng-option>
          <ng-option [value]="TiposPendencia['Dados Cadastrais']">Dados Cadastrais</ng-option>
          <ng-option [value]="TiposPendencia.Questionarios">Questionários</ng-option>
          <ng-option [value]="TiposPendencia['Visita Técnica']">Visita Técnica</ng-option>
          <ng-option [value]="TiposPendencia.Geral">Geral</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-12">
        <div class="row mx-0">
          <textarea
            class="form-control col-12 required"
            [ngClass]="{
              'col-lg-10': pendenciaForm.controls.anexos.value.length > 0,
              'col-lg-12': pendenciaForm.controls.anexos.value.length == 0
            }"
            rows="3"
            name="descricao"
            formControlName="descricao"
            [class.disabled]="vizualizar"
          ></textarea>
          <div class="form-group col-12 p-0" *ngIf="!vizualizar">
            <label class="pr-2"> Anexar Arquivo: </label>
            <input-file
              [multiple]="true"
              accept=".csv,.tiff,.txt,.pdf,.xlsx,.xls,.pptx,.ppt,.docx,.doc,.odt,.ods,.odp,.png,.jpeg,.jpg"
              (select)="incluirArquivos($event)"
              *ngIf="!pendenciaForm.controls.anexos.disabled"
            ></input-file>
          </div>
          <div class="pr-0 col-12" [ngClass]="{ 'col-lg-2': vizualizar, 'col-lg-12': !vizualizar }">
            <galeria-arquivos
              [arquivos]="pendenciaForm.controls.anexos.value"
              (excluir)="excluirArquivo($event)"
              [disabled]="pendenciaForm.controls.anexos.disabled"
              [fileClasses]="'col-3'"
              *ngIf="!vizualizar; else naoExcluir"
            >
            </galeria-arquivos>
            <ng-template #naoExcluir>
              <galeria-arquivos
                [arquivos]="pendenciaForm.controls.anexos.value"
                [fileClasses]="'col-6 col-lg-12 mb-3'"
                [disabled]="true"
              ></galeria-arquivos>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form
    [formGroup]="comentarioForm"
    *ngIf="vizualizar && pendenciaForm.controls.status.value != StatusPendencia.Resolvido"
  >
    <div class="form-group required">
      <textarea
        class="form-control"
        rows="3"
        name="descricao"
        formControlName="descricao"
        placeholder="Adicione um novo comentário"
      ></textarea>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label class="pr-2"> Anexar Arquivo: </label>
        <input-file
          [multiple]="true"
          accept=".csv,.tiff,.txt,.pdf,.xlsx,.xls,.pptx,.ppt,.docx,.doc,.odt,.ods,.odp,.png,.jpeg,.jpg"
          (select)="incluirArquivosComentario($event)"
          *ngIf="!comentarioForm.controls.anexos.disabled"
        ></input-file>
      </div>
      <div class="form-group col-12">
        <galeria-arquivos
          [fileClasses]="'col-6 col-md-5 col-lg-4 mb-3'"
          [arquivos]="comentarioForm.controls.anexos.value"
          (excluir)="excluirArquivoComentario($event)"
          [disabled]="comentarioForm.controls.anexos.disabled"
        >
        </galeria-arquivos>
      </div>
    </div>
  </form>

  <div *ngIf="pendenciaForm.controls.comentarios.value">
    <listar-pendencia-comentario
      [idPendenciaFornecedor]="pendenciaForm.controls.idPendenciaFornecedor.value"
    >
    </listar-pendencia-comentario>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="cancelar()">
    <i class="fas fa-ban"></i> Voltar
  </button>

  <button
    type="button"
    class="btn btn-primary"
    *ngIf="
      podeResolverPendencia && pendenciaForm.controls.status.value != StatusPendencia.Resolvido
    "
    (click)="resolver()"
  >
    <i class="fas fa-check"></i> Resolver
  </button>

  <button
    type="button"
    id="btnSalvar"
    (click)="salvar()"
    class="btn btn-primary"
    *ngIf="estaInserindoPendencia"
  >
    <i class="fas fa-save"></i> Salvar
  </button>

  <button
    type="button"
    id="btnSalvar"
    class="btn btn-primary"
    *ngIf="vizualizar && pendenciaForm.controls.status.value != StatusPendencia.Resolvido"
    (click)="salvarComentario()"
  >
    <i class="fas fa-save"></i> Salvar
  </button>

  <button
    type="button"
    id="btnSalvar"
    class="btn btn-primary"
    *ngIf="estaEditandoPendencia"
    (click)="alterar()"
  >
    <i class="fas fa-save"></i> Salvar
  </button>
</div>
