<ul class="nav bg-gray"></ul>
<header>
  <h2 class="title text-uppercase text-primary font-weight-bold" translate>Carga de Modelos de Importação</h2>
</header>

<div class="container-fluid no-bounds">
  <div class="row">
    <div class="form-group required col-lg-4 mb-4">
      <label for="tiposImportacao">Tipo de importação</label>
      <ng-select
        id="tiposImportacao"
        [items]="tiposImportacao"
        bindLabel="option"
        bindValue="value"
        (change)="setTipoImportacao($event)">
        <ng-template ng-option-tmp let-item="item">
          <div
            title="{{ item.value }}"
            class="align-self-center text-truncate">
            {{ item.option }}
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>
</div>

<div class="container-fluid no-bounds">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="termo">Buscar</label>
      <input
        type="text"
        class="form-control"
        id="termo"
        placeholder="Buscar..."
        [(ngModel)]="termo"
        (keyup.enter)="buscar()"
        (keyup)="campoBuscaChanged()" />
    </div>
    <div class="form-group col-6 col-md-1 align-self-end">
      <button
        class="btn btn-primary px-5 px-md-3 px-lg-1 px-xl-3 mx-auto mx-md-0"
        (click)="buscar()">
        <i class="fas fa-search"></i> Buscar
      </button>
    </div>
    <div class="form-group col-md-4 required">
      <label for="motivo">Motivo</label>
      <input
        type="text"
        class="form-control"
        id="motivo"
        placeholder="Digite Algo..."
        [(ngModel)]="motivo" />
    </div>
    <div class="col-md-3 required">
      <label class="required">Modelo de importação</label>
      <input-file *ngIf="importacaoModelo === null"
        accept=".xlsx,.xls,.xlsm"
        (select)="selecionarArquivo($event)"></input-file>

      <div class="input-group mb-3" *ngIf="importacaoModelo !== null">
        <input class="form-control" type="text"
          value={{importacaoModelo.nome}} readonly disabled />
        <div class="input-group-prepend">
          <button class="btn btn-danger px-5 px-md-3 px-lg-1 px-xl-3 mx-auto mx-md-0" (click)="removerArquivo()"
            type="button">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="form-group col-md-1 align-self-end">
      <button class="btn btn-primary" (click)="upload()" [disabled]="importacaoModelo === null">
        <i class="fas fa-upload"></i>
        Upload
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <custom-table
            classes="table-striped"
            [settings]="settings"
            [source]="importations"
            (select)="agruparSelecionados($event)"
            [colunasComBotoes]="colunasComBotoes"
            (button-click)="executarAcoes($event)">
          </custom-table>
          <pager
            [page]="pagina"
            [total-pages]="totalPaginas"
            [records-per-page]="itensPorPagina"
            (pagination)="paginacao($event)"></pager>
        </div>
      </div>
    </div>
  </div>
</div>
