<div class="col-12">
  <div class="row">
    <div class="sidebar d-flex align-items-center pl-2" *ngIf="selecaoHabilitada">
      <input [checked]="produto.selected" (change)="alterneSelecao()" type="checkbox" />
    </div>

    <sdk-item-card
      (clickEmitter)="click()"
      [iconClass]="'fas fa-box'"
      [showStatusBar]="false"
      [hasMarginBottom]="true"
      [borderColor]="'none'"
      [borderWidth]="'1px'"
      [ngStyle]="{ width: selecaoHabilitada ? '97%' : '100%' }"
      [class.sem-selecao]="!selecaoHabilitada"
      [ngClass]="{
        'selected': produto.selected,
        'situacao-active': produto.situacao == situacao.Ativo,
        'situacao-requested': produto.situacao == situacao['Solicitação'],
        'situacao-inactive': produto.situacao == situacao.Inativo
      }">
      <div class="d-flex w-100 justify-content-around align-items-center">
        <div class="col-1 pl-4">
          <a>{{ produto.idProduto }}</a>
        </div>

        <div class="col-1">
          <a>{{ produto.codigo }}</a>
        </div>

        <div class="col-3 crop-text-2">
          <a
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ produto.descricao }}">
            {{ produto.descricao }}
          </a>
        </div>

        <div class="col-2 crop-text-2">
          <a
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ produto.categoria.nome }}">
            {{ produto.categoria.nome }}
          </a>
        </div>

        <div class="col-2 crop-text-2">
          <a
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ produto.unidadeMedida.sigla }}">
            {{ produto.unidadeMedida.sigla }}
          </a>
        </div>

        <div class="col-1">
          <a class="situacao-text">{{ getLabelSituacao(produto.situacao) }}</a>
        </div>

      </div>
    </sdk-item-card>
  </div>
</div>
