::ng-deep app-item-produto-empresa-base {
  .sidebar {
    -ms-flex: 0 0 3%;
    flex: 0 0 3%;
  }

  @media (max-width: 690px) {
    .sidebar {
      display: none;
    }
  }

  input[type="checkbox"]:before {
    content: "" !important;
    position: absolute !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 4px !important;
    top: 0 !important;
    left: 0px !important;
    background: #ffffff;
    border: 1px solid #cfdce0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type="checkbox"] {
    position: relative !important;
    cursor: pointer !important;
    height: 16px !important;
    opacity: 1 !important;
  }

  input[type="checkbox"]:checked:before {
    background-color: #00a1d7 !important;
    border: none !important;
    border-radius: 4px !important;
  }

  input[type="checkbox"]:checked:after {
    content: "" !important;
    border-radius: 4px !important;
    display: block !important;
    width: 5px !important;
    height: 10px !important;
    border-radius: 4px !important;
    border: solid #ffffff !important;
    border-width: 0 2px 2px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    position: absolute !important;
    top: 2px !important;
    left: 6px !important;
  }

  & .situacao-active {
    & .sdk-item-card {
      &:hover {
        box-shadow: 0px 4px 8px #00000029;
        & .icon-spot {
          background: #8bc34a !important;
        }
      }

      & .situacao-text {
        font-weight: bold !important;
        color: #8bc34a !important;
      }

      & .icon-spot {
        background: rgba(139, 195, 74, 0.7) !important;
      }
    }

    &.selected {
      & .sdk-item-card {
        border-color: rgba(139, 195, 74, 0.7) !important ;
        border-style: solid !important;
        border-width: 1px !important;
        box-shadow: 0px 4px 8px #00000029 !important;

        & .icon-spot {
          background: #8bc34a !important;
        }
      }
    }
  }

  & .situacao-requested {
    & .sdk-item-card {
      &:hover {
        box-shadow: 0px 4px 8px #00000029;
        & .icon-spot {
          background: #ff9800 !important;
        }
      }

      & .situacao-text {
        font-weight: bold !important;
        color: #ff9800 !important;
      }

      & .icon-spot {
        background: #ffb74d !important;
      }
    }

    &.selected {
      & .sdk-item-card {
        border-color: #ffb74d !important;
        border-style: solid !important;
        border-width: 1px !important;
        box-shadow: 0px 4px 8px #00000029 !important;

        & .icon-spot {
          background: #ff9800 !important;
        }
      }
    }
  }

  & .situacao-inactive {
    & .sdk-item-card {
      &:hover {
        box-shadow: 0px 4px 8px #00000029;
        & .icon-spot {
          background: #7095a3 !important;
        }
      }

      & .situacao-text {
        font-weight: bold !important;
        color: #7095a3 !important;
      }

      & .icon-spot {
        background: rgba(112, 149, 163, 0.7) !important;
      }
    }

    &.selected {
      & .sdk-item-card {
        border-color: rgba(112, 149, 163, 0.7) !important;
        border-style: solid !important;
        border-width: 1px !important;
        box-shadow: 0px 4px 8px #00000029 !important;

        & .icon-spot {
          background: #7095a3 !important;
        }
      }
    }
  }

  & .sdk-item-card {
    a {
      font-family: Open Sans !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 13px !important;
      color: #417185 !important;
    }

    .crop-text-2 {
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  &.sem-selecao {
    .sdk-item-card {
      cursor: default !important;
    }
  }

  & .icon-custom-download {
    i {
      background: #d4effa;
      color: #417185;
      padding: 0.8rem;
      border-radius: 49%;
    }
  }
}
