<div class="col">
  <div class="row">

    <sdk-item-card
      [iconClass]="'fas fa-gavel'"
      [showStatusBar]="true"
      [hasMarginBottom]="true"
      [borderColor]="'none'"
      [borderWidth]="'1px'"
      [ngClass]="{
        'status-active-departamento': alcada.status === status.Ativo && alcada.tipo === tipo.nivel  ,
        'status-active-centrocusto': alcada.status === status.Ativo && alcada.tipo === tipo.usuario,
        'status-inactive-departamento': alcada.status === status.Inativo && alcada.tipo === tipo.nivel,
        'status-inactive-centrocusto': alcada.status === status.Inativo && alcada.tipo === tipo.usuario
      }"
      (clickEmitter)="editar(alcada.idAlcada)">
      <div class="d-flex w-100 justify-content-around align-items-center">
        <div class="col-1 ml-3 pl-4">
          <a>{{ alcada.idAlcada }}</a>
        </div>

        <div class="col-4 pl-3 crop-text-2">
          <a data-toggle="tooltip" data-placement="bottom" title="{{ alcada.descricao }}">{{
            alcada.descricao
            }}</a>
        </div>

        <div class="col-3 pl-1 crop-text-2">
          <a data-toggle="tooltip" data-placement="bottom" title="{{ alcada.codigo }}">{{
            alcada.codigo
            }}</a>
        </div>

        <div class="col-1 pl-1">
          <a class="status-text"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{ statusLabel.get(alcada.status) }}">
            {{ statusLabel.get(alcada.status) }}</a>
        </div>

        <div class="col-1">
          <sdk-suspense-menu-button class="suspense-menu-acoes" [icon]="'fa fa-ellipsis-h'" title="...">
            <ng-template sdkSuspenseMenu>

              <button
                title="Ativar"
                class="btn btn-sm btn-icon"
                (click)="solicitarAtivacao(alcada.idAlcada)">

                <div class="d-flex">
                  <i class="fas fa-check-square green"></i> <a>Ativar</a>
                </div>
              </button>

              <button
                title="Inativar"
                class="btn btn-sm btn-icon"
                (click)="solicitarInativacao(alcada.idAlcada)">

                <div class="d-flex">
                  <i class="fas fa-window-close gray"></i> <a>Inativar</a>
                </div>
              </button>

              <button
                title="Excluir"
                class="btn btn-sm btn-icon"
                (click)="solicitarExclusao(alcada.idAlcada)">

                <div class="d-flex">
                  <i class="fas fa-times-circle red"></i> <a>Excluir</a>
                </div>
              </button>

            </ng-template>
          </sdk-suspense-menu-button>
        </div>
      </div>
    </sdk-item-card>
  </div>
</div>
