<div class="item-usuario" (click)="!disabled && editaUsuarario()">
  <div class="content">
    <div class="col-4">
      <div
        class="name-status text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ labelTootip }}"
      >
        {{ usuario.pessoaFisica?.nome
        }}<span
          [ngClass]="{
            liberado: usuario.situacao == 1,
            bloqueado: usuario.situacao == 2,
            'bloqueado-por-execesso': usuario.situacao == 3
          }"
          ><span class="point">.</span>{{ situacao }}</span
        >
      </div>
    </div>
    <div class="col-4 crop-text-2">
      <a data-toggle="tooltip" data-placement="bottom" title="{{ usuario.email }}">
        {{ usuario.email }}
      </a>
    </div>
    <div class="col-2 crop-text-2">
      <a data-toggle="tooltip" data-placement="bottom" title="Fornecedor"> Fornecedor </a>
    </div>

    <div class="col-1 d-flex-justify-end" *ngIf="canDoActions">
      <span
        class="mouse-hover w-100"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Desvincular Usuário"
        (click)="solicitarRemocaoVinculo(usuario)"
      >
        <i class="fas fa-unlink"></i>
      </span>
    </div>
  </div>
</div>
