<ul class="nav bg-gray">
  <li class="nav-item">
    <a class="nav-link" role="button" [class.disabled]="selecionadas?.length != 1" [routerLink]="selecionadas?.length ? [selecionadas[0].idPessoaJuridica] : ''"><i
        class="fas fa-eye"></i> Visualizar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" role="button" [class.disabled]="selecionadas?.length != 1"
      (click)="solicitarHistoricoDeAceiteDeTermos()"><i class="fas fa-list-ul"></i> Aceite de termos de boas práticas</a>
  </li>
</ul>
<header>
  <h1 class="title" translate>Empresas clientes</h1>
</header>
<div class="container-fluid no-bounds">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <custom-table classes="table-striped" [settings]="settings" [source]="pessoasJuridicas" (select)="selecao($event)"></custom-table>
          <pager [page]="pagina" [total-pages]="totalPaginas" [records-per-page]="registrosPorPagina"
            (pagination)="paginacao($event)"></pager>
        </div>
      </div>
    </div>
  </div>
</div>