<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">{{titulo}}</div>
  <button type="button" class="close" aria-label="Close" (click)="fechar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <comentarios id="comentarios-{{item.idItemSolicitacaoCompra}}" [comentarios]="item.comentarios"
    (enviar)="enviarComentario($event)">
  </comentarios>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="fechar()">Fechar</button>
</div>