<ul class="nav bg-gray">
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="solicitarPersistencia()"
      ><i class="fas fa-save"></i> Salvar</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="cancelar()"><i class="fas fa-ban"></i> Cancelar</a>
  </li>
</ul>
<header>
  <h1 class="title" translate>{{ idTransportadora ? 'Editar' : 'Incluir' }} Transportadora</h1>
</header>

<div class="custom-nav-tabs">
  <ul class="nav nav-tabs row bounds" id="transportadoraTab" role="tablist">
    <li class="nav-item col-lg-3">
      <a
        class="nav-link nav-link-block"
        [class.active]="tabAtiva == 'dados-gerais'"
        id="dados-gerais-tab"
        data-toggle="tab"
        href="#dados-gerais"
        role="tab"
        aria-controls="dados-gerais"
        aria-selected="false"
        (click)="selectTab('dados-gerais')"
        >Gestão Transportadora</a
      >
    </li>
    <li class="nav-item col-lg-3" *ngIf="transportadora?.idPessoaJuridica">
      <a
        class="nav-link nav-link-block"
        [class.active]="tabAtiva == 'dados-empresa'"
        id="dados-empresa-tab"
        data-toggle="tab"
        href="#dados-empresa"
        role="tab"
        aria-controls="dados-empresa"
        aria-selected="false"
        (click)="selectTab('dados-empresa')"
        >Dados da Empresa</a
      >
    </li>
  </ul>
</div>

<div class="tab-content bounds" id="transportadoraTabContent">
  <div
    class="tab-pane fade"
    id="dados-gerais"
    role="tabpanel"
    aria-labelledby="dados-gerais-tab"
    [ngClass]="{ 'active show': tabAtiva == 'dados-gerais' }"
  >
    <div class="card card-tab-content tab-content">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row bg-white">
            <div class="col">
              <!-- #regionGestão Transportadora-->
              <div class="divisor">
                <div class="title">Dados Básicos</div>
              </div>
              <form [formGroup]="form">
                <div class="form-row">
                  <div class="form-group required col-lg-5" [class.col-lg-6]="transportadora">
                    <label for="cnpj"> CNPJ </label>
                    <input
                      type="text"
                      [class.disabled]="transportadora || idTransportadora"
                      [textMask]="{ mask: maskCnpj, guide: false }"
                      class="form-control"
                      name="cnpj"
                      formControlName="cnpj"
                      [class.invalid]="form.controls.cnpj.invalid && form.controls.cnpj.dirty"
                    />
                    <div *ngIf="form.controls.cnpj.invalid && form.controls.cnpj.dirty">
                      <span class="invalid" *ngIf="form.controls.cnpj.errors.required"
                        >Preenchimento obrigatório</span
                      >
                      <span class="invalid" *ngIf="form.controls.cnpj.errors.invalidCnpj"
                        >CNPJ inválido</span
                      >
                    </div>
                  </div>
                  <div class="form-group required col-md-6 col-lg-3" *ngIf="idTransportadora">
                    <label for="statusHomologacao"> Status Homologação </label>
                    <select
                      id="statusHomologacao"
                      class="form-control"
                      name="statusHomologacao"
                      formControlName="statusHomologacao"
                    >
                      <option [ngValue]="statusHomologacaoTransportadora.Homologado">
                        Homologado
                      </option>
                      <option [ngValue]="statusHomologacaoTransportadora.NaoHomologado">
                        Não Homologado
                      </option>
                    </select>
                  </div>
                  <div class="form-group required col-md-6 col-lg-3" *ngIf="idTransportadora">
                    <label for="situacao"> Status Plataforma </label>
                    <select
                      id="situacao"
                      class="form-control"
                      name="situacao"
                      formControlName="situacao"
                    >
                      <option [ngValue]="situacao.Ativo">Ativo</option>
                      <option [ngValue]="situacao.Inativo">Inativo</option>
                    </select>
                  </div>
                </div>
                <div class="form-row" *ngIf="transportadora || idTransportadora">
                  <div class="form-group required col-lg-6">
                    <label for="cnpj"> Razão social </label>
                    <input
                      type="text"
                      class="form-control"
                      [class.disabled]="idTransportadora"
                      name="razaoSocial"
                      formControlName="razaoSocial"
                      [class.invalid]="
                        form.controls.razaoSocial.invalid && form.controls.razaoSocial.dirty
                      "
                    />
                    <span
                      class="invalid"
                      *ngIf="form.controls.razaoSocial.invalid && form.controls.razaoSocial.dirty"
                      >Preenchimento obrigatório</span
                    >
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="nomeFantasia"> Nome fantasia </label>
                    <input
                      type="text"
                      class="form-control"
                      [class.disabled]="idTransportadora"
                      name="nomeFantasia"
                      formControlName="nomeFantasia"
                    />
                  </div>
                  <div class="form-group col-lg-4">
                    <label for="contato">Contato</label>
                    <input
                      type="text"
                      class="form-control"
                      name="contato"
                      formControlName="contato"
                    />
                  </div>
                  <div class="form-group col-lg-4">
                    <label for="telefone"> Telefone </label>
                    <!-- <input
                      type="text"
                      class="form-control"
                      name="telefone"
                      formControlName="telefone"
                    /> -->
                    <input
                      class="form-control"
                      type="text"
                      name="telefone"
                      formControlName="telefone"
                      [textMask]="{
                        mask:
                          form?.controls?.telefone?.value?.length < 15 ? maskTelefone : maskCelular,
                        guide: false
                      }"
                      [class.invalid]="
                        form.controls.telefone.invalid && form.controls.telefone.dirty
                      "
                    />
                  </div>
                  <div class="form-group col-lg-4">
                    <label for="email"> E-mail </label>
                    <input type="text" class="form-control" name="email" formControlName="email" />
                  </div>
                </div>
              </form>
              <!-- #enregion Gestão Transportadora-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- #region Dados Empresa -->
  <div
    class="tab-pane fade"
    id="dados-empresa"
    role="tabpanel"
    aria-labelledby="dados-empresa-tab"
    [ngClass]="{ 'active show': tabAtiva == 'dados-empresa' }"
  >
    <div class="card card-tab-content tab-content">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row bg-white">
            <div class="col">
              <fieldset [disabled]="true">
                <mater-fornecedor-pessoa-juridica
                  #dadosBasicos
                  *ngIf="tabAtiva == 'dados-empresa'"
                  [id-pessoa-juridica]="transportadora?.idPessoaJuridica"
                  [pessoa-juridica]="transportadora.pessoaJuridica"
                >
                </mater-fornecedor-pessoa-juridica>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion Dados Empresa -->
</div>
