@import './../../../../styles.scss';

@include media-breakpoint-up(md) {
  .container-fluid {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  .row {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;
  }

  .row-10-col {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;
  }
}
