<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">{{ idFaturamentoMinimoFrete?'Alterar':'Incluir' }} Faturamento Mínimo por Valor e Frete</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group required col-lg-6">
        <label for="idPais"> Pais </label>
        <ng-select name="idPais" formControlName="idPais" [class.invalid]="form.controls.idPais.invalid && form.controls.idPais.dirty">
          <ng-option [value]="pais.idPais" *ngFor="let pais of paises">{{ pais.nome }}</ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.idPais.invalid && form.controls.idPais.dirty">Preenchimento
          obrigatório</span>
      </div>
      <div class="form-group col-lg-6">
        <label for="idEstado"> Estado </label>
        <ng-select name="idEstado" formControlName="idEstado" [class.invalid]="form.controls.idEstado.invalid && form.controls.idEstado.dirty">
          <ng-option [value]="estado.idEstado" *ngFor="let estado of estados">{{ estado.nome }}</ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.idEstado.invalid && form.controls.idEstado.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="idCidade"> Cidade </label>
        <ng-select name="idCidade" formControlName="idCidade" [class.invalid]="form.controls.idCidade.invalid && form.controls.idCidade.dirty">
          <ng-option [value]="cidade.idCidade" *ngFor="let cidade of cidades">{{ cidade.nome }}</ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.idCidade.invalid && form.controls.idCidade.dirty">Preenchimento
          obrigatório</span>
      </div>      
      <div class="form-group required col-lg-6">
        <label for="valor"> Faturamento Mínimo </label>
        <input class="form-control" [textMask]="{mask: maskValor, guide: false}" type="text" name="valor"
          formControlName="valor" [class.invalid]="form.controls.valor.invalid && form.controls.valor.dirty">
        <span class="invalid" *ngIf="form.controls.valor.invalid && form.controls.valor.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
    <div class="form-row" *ngIf="idFaturamentoMinimoFrete">
      <div class="form-group required col-lg-6" *ngIf="form.contains('tipoFrete')">
        <label for="tipoFrete"> Tipo </label>
        <ng-select name="tipoFrete" formControlName="tipoFrete" [class.invalid]="form.controls.tipoFrete.invalid && form.controls.tipoFrete.dirty">
          <ng-option [value]="Tipo['Cif']">CIF</ng-option>
          <ng-option [value]="Tipo['Fob']">Fob</ng-option>
          <ng-option [value]="Tipo['Fob Dirigido']">Fob Dirigido</ng-option>
          <ng-option [value]="Tipo['Fob Redespacho']">Fob Redespacho</ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.tipoFrete.invalid && form.controls.tipoFrete.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
    <div class="form-row" *ngIf="form.contains('tipos')">
      <div class="form-group required col">
        <label for="tipos"> Tipos </label>
        <ng-select name="tipos" formControlName="tipos" [multiple]="true" [class.invalid]="form.controls.tipos.invalid && form.controls.tipos.dirty">
          <ng-option [value]="Tipo['Cif']">CIF</ng-option>
          <ng-option [value]="Tipo['Fob']">Fob</ng-option>
          <ng-option [value]="Tipo['Fob Dirigido']">Fob Dirigido</ng-option>
          <ng-option [value]="Tipo['Fob Redespacho']">Fob Redespacho</ng-option>
        </ng-select>
        <span class="invalid" *ngIf="form.controls.tipos.invalid && form.controls.tipos.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Fechar</button>
  <button type="button" class="btn btn-outline-primary" (click)="salvar()">Salvar</button>
</div>