<ul class="nav bg-gray">
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="salvar()"><i class="fas fa-save"></i> Salvar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="cancelar()"><i class="fas fa-ban"></i> Cancelar</a>
  </li>
</ul>
<header>
  <h1 class="title" translate>{{ idBanco?'Alterar':'Incluir' }} banco</h1>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-row" *ngIf="idBanco">
              <div class="form-group required col-md-1">
                <label for="idBanco" translate> Código </label>
                <input class="form-control" type="text" readonly name="idBanco" formControlName="idBanco">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group required col-8">
                <label for="nome" translate> Nome </label>
                <input class="form-control" [class.invalid]="form.controls.descricao.invalid && form.controls.descricao.dirty" type="text" name="descricao" formControlName="descricao">
                <span class="invalid" *ngIf="form.controls.descricao.invalid && form.controls.descricao.dirty">Preenchimento obrigatório</span>
              </div>
              <div class="form-group col-4">
                <label for="nome" translate> Código </label>
                <input class="form-control" [class.invalid]="form.controls.codigo.invalid && form.controls.codigo.dirty"  type="number" name="codigo" formControlName="codigo">
                <span class="invalid" *ngIf="form.controls.codigo.invalid && form.controls.codigo.dirty">Preenchimento obrigatório</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>