<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Receber</div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <h4>Pedido: {{ pedido?.idPedido }}</h4>
  <div class="form-row d-flex justify-content-between">
    <div class="form-group col-4 required">
      <label class="font-weight-bold" for="dataInicio"> Data de Recebimento: </label>
      <input
        class="form-control"
        type="date"
        name="dataRecebimento"
        [(ngModel)]="dataRecebimento"
        required
      />
    </div>
    <div class="form-group col-4 required">
      <label class="font-weight-bold" for="dataFim ">Nota Fiscal: </label>
      <input class="form-control" type="text" name="notaFiscal" [(ngModel)]="notaFiscal" required />
    </div>
    <div class="form-group col-4 align-self-end text-right">
      <label for="btnSaldo"> </label>
      <button type="button" class="btn btn-success" (click)="preencherTodoSaldo()">
        Preencher todo Saldo
      </button>
    </div>
  </div>

  <!-- REGION ITENS -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 51%">Item</th>
        <th style="width: 14%">Qtd. Total:</th>
        <th style="width: 15%">Qtd. Saldo:</th>
        <th style="width: 20%">Solicitar Qtd.:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!pedidoItemRecebimento?.length">
        <td class="no-content" colspan="7" translate>GENERAL.NO_RECORDS_FOUND</td>
      </tr>

      <tr *ngFor="let pedidoItem of pedidoItemRecebimento; let pedidoItemIndex = index">
        <td class="text-blue" style="width: 51%">{{ pedidoItem.descricaoItem }}</td>
        <td style="width: 14%">{{ pedidoItem.quantidadePedidoItem }}</td>
        <td class="font-weight-bold" style="width: 15%">
          {{ pedidoItem.quantidadeSaldo }}
        </td>
        <td style="width: 20%">
          <input
            class="form-control"
            type="number"
            name="quantidadeRecebida"
            [(ngModel)]="pedidoItem.quantidadeRecebida"
            [min]="0"
            [disabled]="bloquearInput(pedidoItem)"
          />
        </td>
      </tr>
    </tbody>
  </table>
  <!-- END REGION ITENS -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="cancelarSaldo()">
    Cancelar Saldo
  </button>
  <button type="button" class="btn btn-outline-primary" (click)="cancelar()">Fechar</button>
  <button type="button" class="btn btn-primary" (click)="solicitarReceberPedido()">Receber</button>
</div>
