@import "./../../../../../styles.scss";

$breadcrumb-color: #88a6b2;

@media (min-width: 576px) and (max-width: 991px) {
  .filtro {
    margin-top: 35px;
  }
}

.breadcrumb {
  cursor: default;
  align-items: center;
  min-height: 60px;
  margin-bottom: 0;
  background-color: transparent;
  font-size: 15px;
  color: $breadcrumb-color;

  .separador {
    font-size: 14px;
  }

  .modo-requisicao {
    cursor: pointer;
    accent-color: #1d9ed3;

    &:hover {
      .modo-requisicao-label {
        color: darken($breadcrumb-color, 20%);
        text-decoration: none;
      }
    }

    .modo-requisicao-check {
      cursor: pointer;
      margin-top: 5px;
    }

    .modo-requisicao-label {
      cursor: pointer;
      color: $breadcrumb-color;
      text-decoration: underline;
    }
  }
}

.ordenation-filter {
  font-size: 15px;
}

.opcoes-de-ordenacao {
  cursor: pointer;
  left: -40px !important;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-link {
    text-align: left;
    font-size: 15px;
    color: $new-ux-smarkets-gray;

    &:after {
      border: none;
      float: right;
      @include fa-icon;
      @extend .fas;
      font-size: 14px;
      font-weight: 900;
      content: fa-content($fa-var-chevron-down);
      margin-left: 5px;
      margin-top: 5px;
      color: $new-ux-smarkets-blue-light;
    }
  }

  .clear-selection-button {
    margin-left: 5%;
    font-size: 10px;
    cursor: pointer;
  }
}

.spinner {
  margin-top: 150px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
}
