.list-view {
  //margin-top: 10rem;
  margin-bottom: 2rem;
  padding: 0 3em;
}

.filter {
  margin-top: 6.7rem;
  padding: 5px;
}

.bg {
  background-color: #f0f0f0;
  color: #6e6e72;
  height: 100%;
}

.position-spinner {
  margin-left: 50%;
}
.semListagem {
  height: 54vh;
  a {
    margin: 5% auto;
  }
}

.pager {
  padding-bottom: 3%;
}

@media only screen and (min-width: 1280px) {
  .pager {
    padding-bottom: 8%;
  }
}

@media only screen and (min-width: 1920px) {
  .pager {
    padding-bottom: 12%;
  }
}

//Modal Atenção Incluir Fornecedor

::ng-deep .modal-confirmar-cadastro > div.modal-dialog > div.modal-content {
  width: 85%;

  & > app-confirmacao {
    div.modal-title {
      font-size: 1.4rem;
    }

    div.modal-body {
      p {
        padding: 2rem 0 2rem 0;
        text-align: center;
      }
    }

    button.btn-outline-danger {
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      border: 2px solid var(--unnamed-color-e74b37);
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 2px solid #e74b37;
      border-radius: 4px;
      opacity: 1;
      width: 8rem;
      &:hover {
        background: var(--unnamed-color-e74b37) 0% 0% no-repeat padding-box;
        background: #e74b37 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
      }
    }

    button.btn-primary {
      background-color: #00bbf3 !important;
      border: 2px solid #00bbf3 !important;
      color: #ffffff !important;
      width: 8rem;
      &:hover {
        color: #f7f7f7 !important;
        background-color: #008bb9 !important;
        border-color: #00a1d7 !important;
      }
    }
  }
}

//Fim Modal Atenção
