<div class="bg">
  <sdk-generic-header-page [title]="'GESTÃO DE FORNECEDORES'" [subtitle]="'MEUS FORNECEDORES'">
    <sdk-button
      [label]="'Cadastrar Fornecedor'"
      [icon]="'fa fa-2x fa-plus'"
      (buttonClick)="incluirFornecedor()"
    >
    </sdk-button>
  </sdk-generic-header-page>

  <div class="filter">
    <div class="col-lg-12">
      <sdk-filter
        [filters]="filters"
        (applyFilter)="filtrar($event)"
        [filterKeySessionStorage]="sessionStorageFilterKey"
      ></sdk-filter>
    </div>
  </div>

  <div
    class="spinner spinner-secondary position-spinner"
    *ngIf="loadingFornecedores; else listaFornecedores"
  ></div>

  <ng-template #listaFornecedores>
    <p
      class="semListagem d-flex text-truncate w-100"
      *ngIf="!fornecedores?.length; else itemFornecedor"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Nenhum fornecedor encontrado"
    >
      <a class="text-center font-weight-bold text-primary">Nenhum fornecedor encontrado</a>
    </p>

    <ng-template #itemFornecedor>
      <div class="list-view">
        <sdk-list-view [items]="fornecedores">
          <ng-template sdkListViewItem let-item>
            <item-fornecedor
              [fornecedor]="item"
              (removerFornecedor)="solicitarRemoverRedeLocal()"
              [fornecedoresSelecionados]="fornecedoresSelecionados"
              (ativar)="ativarFornecedor($event)"
              (auditoria)="auditarFornecedor($event)"
              (inativar)="inativarFornecedor($event)"
              (navigate)="navigateFor($event)"
            ></item-fornecedor>
          </ng-template>
        </sdk-list-view>
      </div>
    </ng-template>
  </ng-template>
  <div class="pager">
    <pager
      [page]="pagina"
      [total-pages]="totalPaginas"
      [records-per-page]="registrosPorPagina"
      (pagination)="paginacao($event)"
    ></pager>
  </div>
</div>
