<ul class="nav bg-gray">
  <li class="nav-item">
    <a class="nav-link" role="button" (click)="voltar()"><i class="fas fa-chevron-left"></i> Voltar</a>
  </li>
</ul>
<header>
  <h1 class="title" translate>{{ idPessoaJuridica?'Alterar':'Incluir' }} empresa</h1>
</header>
<div class="container-fluid no-bounds">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form">
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="cnpj"> CNPJ </label>
                <input class="form-control" [textMask]="{mask: maskCnpj, guide: false}" type="text" name="cnpj"
                  formControlName="cnpj" readonly>
              </div>
              <div class="form-group col-lg-6">
                <label for="razao-social"> Razão Social </label>
                <input class="form-control" type="text" name="razaoSocial" formControlName="razaoSocial" readonly>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label class="required" for="nomefantasia"> Nome Fantasia </label>
                <input class="form-control" type="text" name="nomeFantasia" formControlName="nomeFantasia" readonly>
              </div>
              <div class="form-group col-lg-6">
                <label for="homepage"> Site Institucional </label>
                <input class="form-control" type="text" name="homepage" formControlName="homePage" readonly>
              </div>
            </div>
            <div class="form-row" *ngIf="form.controls.logo.value">
              <div class="form-group col-lg-6">
                <label for="logo"> Logo </label>
                <div><img [src]="form.controls.logo.value" class="img-thumbnail" alt="Logo institucional"></div>
              </div>
            </div>
          </form>
          <div class="divisor">
            <div class="title">Endereços e Categorias</div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <a class="card-header collapsed" data-toggle="collapse" href="#collapseEnderecos" (click)="permitirExibirEnderecos()">
                  Endereços
                </a>
                <div class="card-body">
                  <div class="collapse" id="collapseEnderecos">
                    <listar-enderecos class="col" [id-pessoa]="pessoaJuridica?.idPessoa" [disabled]="true" *ngIf="exibirEnderecos"></listar-enderecos>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <a class="card-header collapsed" data-toggle="collapse" href="#collapseCategorias" (click)="permitirExibirCategorias()">
                  Categorias definidas pelo cliente
                </a>
                <div class="card-body">
                  <div class="collapse" id="collapseCategorias">
                    <custom-table classes="table-striped table-sm" [settings]="settings" [source]="categorias" *ngIf="permitirExibirCategorias"></custom-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
