<div class="top-bar"></div>

<div class="container-fluid my-5" *ngIf="!inativa; else campanhaInativa">
  <div class="row">
    <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end">
      <img src="./../../../assets/img/logo-cinza.png" alt="Smarkets" />
    </div>

    <div class="col-lg-8 align-self-end mt-5 mt-lg-0">
      <h1 class="text-uppercase text-center">Bem-vindo a Smarkets!</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div [innerHTML]="campanha?.apresentacao | safe: 'html'"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group required col-md-6">
            <label for="cnpj">CNPJ:</label>
            <input
              class="form-control"
              [textMask]="{ mask: maskCnpj, guide: false }"
              type="text"
              name="cnpj"
              formControlName="cnpj"
              [class.invalid]="form.controls.cnpj.invalid && form.controls.cnpj.dirty" />
            <div *ngIf="form.controls.cnpj.invalid && form.controls.cnpj.dirty">
              <span class="invalid" *ngIf="form.controls.cnpj.errors.invalidCnpj">
                CNPJ inválido
              </span>
            </div>
          </div>
          <div class="form-group required col-md-6">
            <label for="razaoSocial">Razão Social:</label>
            <input
              class="form-control"
              type="text"
              name="razaoSocial"
              formControlName="razaoSocial"
              [class.invalid]="form.controls.razaoSocial.invalid && form.controls.razaoSocial.dirty" />
            <span
              class="invalid"
              *ngIf="form.controls.razaoSocial.invalid && form.controls.razaoSocial.dirty">Preenchimento
              obrigatório</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="nomeResponsavel">Gestor:</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col-md-6">
            <label for="nomeResponsavel">Nome:</label>
            <input
              class="form-control"
              type="text"
              name="nomeResponsavel"
              formControlName="nomeResponsavel"
              [class.invalid]="
                form.controls.nomeResponsavel.invalid && form.controls.nomeResponsavel.dirty
              "
              (blur)="alterarDadosUsuario()" />
            <span
              class="invalid"
              *ngIf="form.controls.nomeResponsavel.invalid && form.controls.nomeResponsavel.dirty">Preenchimento
              obrigatório</span>
          </div>
          <div class="form-group required col-md-6">
            <label for="emailResponsavel">Email:</label>
            <input
              class="form-control"
              type="text"
              name="emailResponsavel"
              formControlName="emailResponsavel"
              [class.invalid]="
                form.controls.emailResponsavel.invalid && form.controls.emailResponsavel.dirty
              "
              (blur)="alterarDadosUsuario()" />
            <span
              class="invalid"
              *ngIf="
                form.controls.emailResponsavel.invalid &&
                form.controls.emailResponsavel.errors.email &&
                form.controls.emailResponsavel.dirty
              ">
              Email inválido
            </span>
            <span
              class="invalid"
              *ngIf="
                form.controls.emailResponsavel.invalid &&
                form.controls.emailResponsavel.errors.required &&
                form.controls.emailResponsavel.dirty
              ">
              Preenchimento obrigatório
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="telefoneResponsavel">Telefone:</label>
            <input
              class="form-control"
              type="text"
              name="telefoneResponsavel"
              [textMask]="{ mask: maskTelefone }"
              formControlName="telefoneResponsavel"
              [class.invalid]="
                form.controls.telefoneResponsavel.invalid && form.controls.telefoneResponsavel.dirty
              " />
            <span
              class="invalid"
              *ngIf="
                form.controls.telefoneResponsavel.invalid && form.controls.telefoneResponsavel.dirty
              ">Preenchimento obrigatório</span>
          </div>
          <div class="form-group required col-md-6">
            <label for="celularResponsavel">Celular:</label>
            <input
              class="form-control"
              type="text"
              name="celularResponsavel"
              [textMask]="{ mask: maskCelular }"
              formControlName="celularResponsavel"
              [class.invalid]="
                form.controls.celularResponsavel.invalid && form.controls.celularResponsavel.dirty
              " />
            <span
              class="invalid"
              *ngIf="
                form.controls.celularResponsavel.invalid && form.controls.celularResponsavel.dirty
              ">Preenchimento obrigatório</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label>Requisitante:</label>
          </div>
          <div
            class="form-group col custom-control custom-checkbox custom-control-inline d-flex justify-content-end">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nomeRequisitante">Nome:</label>
            <input
              class="form-control"
              type="text"
              name="nomeRequisitante"
              formControlName="nomeRequisitante"
              [class.invalid]="
                form.controls.nomeRequisitante.invalid && form.controls.nomeRequisitante.dirty
              " />
          </div>
          <div class="form-group  col-md-6">
            <label for="emailRequisitante">Email:</label>
            <input
              class="form-control"
              type="text"
              name="emailRequisitante"
              formControlName="emailRequisitante"
              [class.invalid]="
                form.controls.emailRequisitante.invalid && form.controls.emailRequisitante.dirty
              " />
            <span
              class="invalid"
              *ngIf="
                form.controls.emailRequisitante.invalid &&
                form.controls.emailRequisitante.errors.email &&
                form.controls.emailRequisitante.dirty
              ">
              Email inválido
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="nomeResponsavel">Aprovador:</label>
          </div>
          <div
            class="form-group col custom-control custom-checkbox custom-control-inline d-flex justify-content-end">
          </div>
        </div>
        <div class="form-row pb-2">
          <div class="form-group col-md-6">
            <label for="nomeAprovador">Nome:</label>
            <input
              class="form-control"
              type="text"
              name="nomeAprovador"
              formControlName="nomeAprovador"
              [class.invalid]="
                form.controls.nomeAprovador.invalid && form.controls.nomeAprovador.dirty
              " />
          </div>
          <div class="form-group col-md-6">
            <label for="emailAprovador">Email:</label>
            <input
              class="form-control"
              type="text"
              name="emailAprovador"
              formControlName="emailAprovador"
              [class.invalid]="
                form.controls.emailAprovador.invalid && form.controls.emailAprovador.dirty
              " />
            <span
              class="invalid"
              *ngIf="
                form.controls.emailAprovador.invalid &&
                form.controls.emailAprovador.errors.email &&
                form.controls.emailAprovador.dirty
              ">
              Email inválido
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col-lg-6">
            <label>País:</label>
            <ng-select
              class="full-width"
              [items]="paises$ | async"
              bindValue="idPais"
              bindLabel="nome"
              [loading]="paisesLoading"
              [loadingText]="'buscando...'"
              formControlName="idPais"
              [class.invalid]="form.controls.idPais.invalid && form.controls.idPais.dirty">
            </ng-select>
            <span class="invalid" *ngIf="form.controls.idPais.invalid && form.controls.idPais.dirty">Preenchimento
              obrigatório</span>
          </div>
          <div class="form-group required col-lg-6">
            <label>Estado:</label>
            <ng-select
              class="full-width"
              [items]="estados$ | async"
              bindValue="idEstado"
              bindLabel="nome"
              [loading]="estadosLoading"
              [loadingText]="'buscando...'"
              formControlName="idEstado"
              [class.invalid]="form.controls.idEstado.invalid && form.controls.idEstado.dirty">
            </ng-select>
            <span
              class="invalid"
              *ngIf="form.controls.idEstado.invalid && form.controls.idEstado.dirty">Preenchimento obrigatório</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col-lg-6">
            <label>Cidade:</label>
            <ng-select
              class="full-width"
              [items]="cidades$ | async"
              bindValue="idCidade"
              bindLabel="nome"
              [loading]="cidadesLoading"
              [loadingText]="'buscando...'"
              formControlName="idCidade"
              [class.invalid]="form.controls.idCidade.invalid && form.controls.idCidade.dirty">
            </ng-select>
            <span
              class="invalid"
              *ngIf="form.controls.idCidade.invalid && form.controls.idCidade.dirty">Preenchimento obrigatório</span>
          </div>
          <div class="form-group required col-lg-6">
            <label>CEP:</label>
            <input
              type="text"
              [textMask]="{ mask: maskCep, guide: false }"
              class="form-control"
              name="cep"
              formControlName="cep"
              [class.invalid]="form.controls.cep.invalid && form.controls.cep.dirty" />
            <span class="invalid" *ngIf="form.controls.cep.invalid && form.controls.cep.dirty">Preenchimento
              obrigatório</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col-lg-6">
            <label for="bairro"> Bairro: </label>
            <input
              type="text"
              class="form-control"
              name="bairro"
              formControlName="bairro"
              [class.invalid]="form.controls.bairro.invalid && form.controls.bairro.dirty" />
            <span class="invalid" *ngIf="form.controls.bairro.invalid && form.controls.bairro.dirty">Preenchimento
              obrigatório</span>
          </div>
          <div class="form-group required col-lg-6">
            <label for="logradouro"> Logradouro: </label>
            <input
              type="text"
              class="form-control"
              name="logradouro"
              formControlName="logradouro"
              [class.invalid]="form.controls.logradouro.invalid && form.controls.logradouro.dirty" />
            <span
              class="invalid"
              *ngIf="form.controls.logradouro.invalid && form.controls.logradouro.dirty">Preenchimento
              obrigatório</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group required col-lg-2">
            <label for="numero"> Número: </label>
            <input
              type="text"
              [textMask]="{ mask: maskPositiveInteger, guide: false }"
              class="form-control"
              name="numero"
              formControlName="numero"
              [class.invalid]="form.controls.numero.invalid && form.controls.numero.dirty" />
            <span class="invalid" *ngIf="form.controls.numero.invalid && form.controls.numero.dirty">Preenchimento
              obrigatório</span>
          </div>
          <div class="form-group col-lg-10">
            <label for="complemento"> Complemento: </label>
            <input
              type="text"
              class="form-control"
              name="complemento"
              formControlName="complemento" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="referencia"> Referência: </label>
            <input
              type="text"
              class="form-control"
              name="referencia"
              formControlName="referencia" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group required col">
            <label for="indicacao"> Indicação: </label>
            <input
              type="text"
              class="form-control"
              name="indicacao"
              formControlName="indicacao"
              [class.invalid]="form.controls.indicacao.invalid && form.controls.indicacao.dirty" />
            <span
              class="invalid"
              *ngIf="form.controls.indicacao.invalid && form.controls.indicacao.dirty">Preenchimento obrigatório</span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="celularResponsavel">Termos e Condições:</label>
            <div
              class="border border-input rounded mh-250px overflow-y-scroll py-2 px-3"
              [innerHTML]="campanha?.termos | safe: 'html'"></div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="aceite"
                formControlName="aceite" />
              <label class="custom-control-label align-top" for="aceite">Li e aceito</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <button class="btn btn-primary py-2" type="submit" (click)="enviar()" translate>
        <i class="fas fa-paper-plane"></i> Enviar
      </button>
    </div>
  </div>
</div>

<ng-template #campanhaInativa>
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end">
        <img src="./../../../assets/img/logo-cinza.png" alt="Smarkets" />
      </div>

      <div class="col-lg-8 align-self-end mt-5 mt-lg-0">
        <h1 class="text-uppercase text-center">Bem-vindo a Smarkets</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col mt-5">
        <h1 class="text-uppercase text-center">
          Ops, essa campanha não está ativa!
        </h1>
        <p clss="mb-0 mt-5 text-center">Entre em contato com nossos canais de atendimento.</p>
        <p class="mb-0 text-center">
          <span class="font-weight-bold">TELEFONE:</span> {{ suporteService.telefone }}
        </p>
        <p class="mb-0 text-center">
          <span class="font-weight-bold">E-MAIL:</span> {{ this.suporteService.email }}
        </p>
      </div>
    </div>
  </div>
</ng-template>
