<div class="side-header-content">
  <div class="side-header-head">
    <ng-content select="[sh-head]"></ng-content>
  </div>
  <div class="side-header-title">
    <ng-content select="[sh-title]"></ng-content>
  </div>
  <div class="side-header-subtitle1">
    <ng-content select="[sh-subtitle1]"></ng-content>
  </div>
  <div class="side-header-subtitle2">
    <ng-content select="[sh-subtitle2]"></ng-content>
  </div>
  <div class="side-header-body">
    <ng-content select="[sh-body]"></ng-content>
  </div>
  <div class="side-header-footer">
    <ng-content select="[sh-footer]"></ng-content>
  </div>
</div>
