<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Arquivos</div>
  <button type="button" class="close" aria-label="Close" (click)="fechar()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="modal-body">
  <div class="bg-lighter border-bottom row py-4 d-none d-md-flex">
    <div class="col-md-3">
      <label class="font-weight-bold">Nome do Arquivo:</label>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold">Incluído em:</label>
    </div>
    <div class="col-md-3">
      <label class="font-weight-bold">Data de Validade:</label>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold">Validação:</label>
    </div>
    <div class="col-md-2">
      <label class="font-weight-bold">Baixar:</label>
    </div>
  </div>

  <div
    class="bg-white border-bottom row py-4"
    *ngIf="!historicoSolicitacaoDocumentoFornecedor?.length; else hasValue"
  >
    <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
  </div>

  <!-- begin-list no-content mt-5-->
  <ng-template #hasValue>
    <div
      class="bg-white border-bottom row py-4"
      *ngFor="let historico of historicoSolicitacaoDocumentoFornecedor; let i = index"
    >
      <div class="col-md-3 align-self-center">
        <label for="" class="font-weight-bold d-block d-md-none">Nome do Arquivo:</label>
        <p class="mb-3 mb-md-0">{{ historico?.arquivo.nome }}</p>
      </div>

      <div class="col-md-2 align-self-center">
        <label for="" class="font-weight-bold d-block d-md-none">Incluído em:</label>
        <p class="mb-3 mb-md-0">{{ formatarData(historico?.dataInclusao) }}</p>
      </div>

      <div class="col-md-3 align-self-center">
        <label for="" class="font-weight-bold d-block d-md-none">Data de Validade:</label>
        <p class="mb-3 mb-md-0">
          {{ historico?.dataVencimento ? formatarData(historico?.dataVencimento) : 'DD/MM/AAAA' }}
        </p>
      </div>

      <div class="col-md-2 align-self-center">
        <label for="" class="font-weight-bold d-block d-md-none">Validação:</label>
        <p class="mb-3 mb-md-0">
          {{ enumSituacaoValidacao[historico?.validacaoArquivo?.situacaoValidacaoArquivo] | noContent }}
        </p>
      </div>

      <div class="col-md-2 align-self-center">
        <label for="" class="font-weight-bold d-block d-md-none">Baixar:</label>
        <button
          class="btn btn-icon"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Baixar Arquivo"
          (click)="baixarArquivo(historico)"
        >
          <i class="fas fa-download"></i>
        </button>
      </div>

      <!-- end-list -->
    </div>
  </ng-template>
  <!-- end-list -->
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary" (click)="fechar()">
    <i class="fas fa-ban"></i> Fechar
  </button>
</div>
