<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Agendar Visita Técnica</div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="row">
      <div class="form-group required col-lg-12">
        <label>Data:</label>
        <input type="date" class="form-control" formControlName="data" autofocus />
      </div>
      <div class="form-group required col-lg-12" *ngIf="!mostrarCadastroDeUsuario">
        <label>Fornecedor (Representante):</label>
        <ng-select
          id="representante"
          [hideSelected]="false"
          formControlName="representante"
          [items]="fornecedores"
          (change)="verificaSeEscolheuOutro()"
        >
          <ng-template ng-label-tmp let-item="item">
            {{ item?.pessoaFisica?.nome }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item?.pessoaFisica?.nome }}
            <br />
            <small>{{ item.email }}</small>
          </ng-template>
        </ng-select>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="form-group required col-lg-12" *ngIf="mostrarCadastroDeUsuario">
      <label>Nome(Fornecedor Representante):</label>
      <input type="text" class="form-control" [(ngModel)]="nome" autofocus />
    </div>
    <div class="form-group required col-lg-12" *ngIf="mostrarCadastroDeUsuario">
      <label>Email(fornecedor Representante):</label>
      <input type="text" class="form-control" [(ngModel)]="email" autofocus />
    </div>
  </div>

  <form [formGroup]="form">
    <div class="row">
      <div
        class="form-group col-12"
        *ngIf="!form.controls.anexos.disabled || form.getRawValue().anexos?.length"
      >
        <label class="pr-2"> Anexar Arquivo: </label>
        <input-file
          [multiple]="true"
          accept=".csv,.tiff,.txt,.pdf,.xlsx,.xls,.pptx,.ppt,.docx,.doc,.odt,.ods,.odp,.png,.jpeg,.jpg"
          (select)="incluirArquivos($event)"
          *ngIf="!form.controls.anexos.disabled"
        ></input-file>
      </div>
      <div class="form-group col-12">
        <galeria-arquivos
          [arquivos]="form.controls.anexos.value"
          (excluir)="excluirArquivo($event)"
          [disabled]="form.controls.anexos.disabled"
        >
        </galeria-arquivos>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" (click)="cancelar()" class="btn btn-outline-primary">
    <i class="fas fa-ban"></i> Cancelar
  </button>
  <button type="button" id="btnSalvar" (click)="salvar()" class="btn btn-primary">
    <i class="fas fa-save"></i> Salvar
  </button>
</div>
