:host {
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  .detalhe-fornecedor {
    display: flex;
    flex-direction: row;
  }

  .footer {
    flex: inherit;
  }

  .body-item {
    font: normal normal bold 14px/19px Open Sans;
  }

  .menu-item {
    background: #ffffff;

    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 16px;

    & > strong {
      color: #a2a2a2;
    }

    &:hover > strong,
    &.is-active > strong {
      color: #00bbf3 !important;
    }

    &:hover,
    &.is-active {
      box-shadow: 2px 2px 10px #6e6e7280;
    }

    /*&.is-active {
        color: #00bbf3;
      }*/
  }
}

/*:host > sdk-three-columns{
      min-height: calc(100vh - 4rem);
      flex: 1;
  }*/

/* Cores utilizadas nas labels do menu vertical esquerdo. */
.sgreen {
  color: #98be6d;
}
.sred {
  color: #e74b37;
}
.syellow {
  color: #fab248;
}
.sblue {
  color: #00bbf3;
}
.sgrey {
  color: #cfcfcf;
}
.sdgreyblue {
  color: #6d8ca8;
}
a {
  text-decoration: none;
}
a > div.card:hover {
  box-shadow: 0px 0px 15px #6e6e72;
}

.card-body {
  box-shadow: none;
}

.card-body > .is-active {
  box-shadow: none;
}

// Region Scroll Y
.scroll-y {
  height: 860px;
  overflow-y: auto;
  padding: auto;
  // padding-right: 0.5rem !important;

  scroll-behavior: auto !important;
}

::-webkit-scrollbar {
  width: 0.5em !important;
  scroll-behavior: auto !important;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey !important;
  border-radius: 10px !important;
}

// REGION ICONS

.icon {
  font-size: 1.5rem;
  padding: 0.4rem;
  color: #00a1d7;
  cursor: pointer;

  &:hover {
    border-radius: 25px;
    background: #00a1d7 0% 0% no-repeat padding-box;
    color: #ffffff;
    opacity: 1;
  }
}
// END REGION ICONS

.status-buttons-disabled {
  pointer-events: none;
  opacity: 0.7;
}
