<sdk-three-columns>
  <div tc-1>
    <sdk-vertical-header-left>
      <div sh-head>
        <a class="nav-link px-0 mx-0" role="button" (click)="voltar()"
          ><i class="fas fa-arrow-left pr-3"></i> Voltar</a
        >
      </div>
      <p sh-title>{{ idPessoaJuridicaFornecedor ? 'Editar' : 'Cadastrar' }} Fornecedor</p>
      <p sh-subtitle1>
        {{ infosFornecedor.razaoSocial ? infosFornecedor.razaoSocial : (documento | uppercase) }}
      </p>
      <p sh-subtitle2>{{ infosFornecedor.cnpj }}</p>
      <div sh-body>
        <p class="my-0">Status do Fornecedor</p>
        <p class="body-item" [ngSwitch]="infosFornecedor.status">
          <td class="sred" *ngSwitchCase="1">
            {{
              statusFornecedorLabel.get(infosFornecedor.status).valueOf() | uppercase | noContent
            }}
          </td>
          <td class="sdgreyblue" *ngSwitchCase="2">
            {{
              statusFornecedorLabel.get(infosFornecedor.status).valueOf() | uppercase | noContent
            }}
          </td>
          <td class="syellow" *ngSwitchCase="3">
            {{
              statusFornecedorLabel.get(infosFornecedor.status).valueOf() | uppercase | noContent
            }}
          </td>
          <td class="sblue" *ngSwitchCase="4">
            {{
              statusFornecedorLabel.get(infosFornecedor.status).valueOf() | uppercase | noContent
            }}
          </td>
          <td class="sgreen" *ngSwitchCase="5">
            {{
              statusFornecedorLabel.get(infosFornecedor.status).valueOf() | uppercase | noContent
            }}
          </td>
          <td class="sgrey" *ngSwitchCase="6">
            {{
              statusFornecedorLabel.get(infosFornecedor.status).valueOf() | uppercase | noContent
            }}
          </td>
          <td class="sgrey" *ngSwitchDefault>
            {{ 'Novo' }}
          </td>
        </p>
        <p class="my-0">Cadastro</p>
        <p class="body-item">
          {{
            (infosFornecedor.dataCadastro ? infosFornecedor.dataCadastro : dataAtual)
              | date: 'dd/MM/yyyy'
              | noContent
          }}
        </p>

        <div *ngIf="idPessoaJuridicaFornecedor">
          <p class="my-0">Termos de Boas Práticas:</p>
          <p class="body-item sgreen" *ngIf="infosFornecedor.aceitouTermo == 1">
            <span class="sgreen">ACEITO </span>
            <span style="color: black">no dia </span>
            {{ infosFornecedor.dataAceite | date: 'dd/MM/yyyy' | noContent }}
            <span style="color: black">ás </span>
            {{ infosFornecedor.dataAceite | date: 'HH:mm' | noContent }}
          </p>

          <p class="body-item sgreen" *ngIf="infosFornecedor.aceitouTermo != 1">
            <span class="sred">NÃO ACEITO</span>
          </p>
        </div>
      </div>
      <div class="footer" sh-footer *ngIf="idPessoaJuridicaFornecedor">
        <div
          *ngIf="!readonlySupplier(); else showCloneSupplierButton"
          [(ngSwitch)]="infosFornecedor.status"
        >
          <div class="row p-4">
            <div class="col-4 d-flex justify-content-start" (click)="solicitarAudicaoFornecedor()">
              <i class="fas fa-history icon"></i>
            </div>

            <div class="col-4 d-flex justify-content-center" (click)="abriModalCategorias()">
              <i class="fas fa-box-open icon"></i>
            </div>
          </div>

          <div
            [ngClass]="{
              'status-buttons-disabled': infosFornecedor.possuiCategoriaFornecimentoInteresse
            }"
          >
            <a *ngSwitchCase="statusFornecedor.Bloqueado">
              <sdk-rectangle-button label="Bloqueado" type="danger-blocked"> </sdk-rectangle-button>
            </a>
            <a *ngSwitchCase="statusFornecedor.Novo">
              <sdk-rectangle-button
                label="Ativar"
                (buttonClick)="atualizaStatus(statusFornecedor.Ativo)"
                type="success"
              >
              </sdk-rectangle-button>
              <sdk-rectangle-button
                label="Enviar para Análise"
                (buttonClick)="atualizaStatus(statusFornecedor.EmAnalise)"
                type="primary"
              >
              </sdk-rectangle-button>
            </a>
            <a *ngSwitchCase="statusFornecedor.AtivoComPendencias">
              <sdk-rectangle-button
                label="Ativar"
                (buttonClick)="atualizaStatus(statusFornecedor.Ativo)"
                type="success"
              >
              </sdk-rectangle-button>
              <sdk-rectangle-button
                label="Enviar para Análise"
                (buttonClick)="atualizaStatus(statusFornecedor.EmAnalise)"
                type="primary"
              >
              </sdk-rectangle-button>
            </a>
            <a *ngSwitchCase="statusFornecedor.EmAnalise">
              <sdk-rectangle-button
                label="Ativar"
                (buttonClick)="atualizaStatus(statusFornecedor.Ativo)"
                type="success"
              >
              </sdk-rectangle-button>

              <sdk-rectangle-button
                label="Ativo com Pendências"
                (buttonClick)="atualizaStatus(statusFornecedor.AtivoComPendencias)"
                type="warning"
              >
              </sdk-rectangle-button>

              <sdk-rectangle-button
                label="Bloquear"
                (buttonClick)="atualizaStatus(statusFornecedor.Bloqueado)"
                type="danger"
              >
              </sdk-rectangle-button>
            </a>
            <a *ngSwitchCase="statusFornecedor.Ativo">
              <sdk-rectangle-button
                label="Enviar para Análise"
                (buttonClick)="atualizaStatus(statusFornecedor.EmAnalise)"
                type="primary"
              >
              </sdk-rectangle-button>
              <sdk-rectangle-button
                label="Inativar"
                (buttonClick)="atualizaStatus(statusFornecedor.Inativo)"
                type="dark"
              >
              </sdk-rectangle-button>
            </a>
            <a *ngSwitchCase="statusFornecedor.Inativo">
              <sdk-rectangle-button
                label="Ativar"
                (buttonClick)="atualizaStatus(statusFornecedor.Ativo)"
                type="success"
              >
              </sdk-rectangle-button>
            </a>
            <a *ngSwitchDefault>
              {{ ' ' }}
            </a>
          </div>
        </div>
      </div>

      <ng-template #showCloneSupplierButton>
        <sdk-rectangle-button
          label="Incluir aos Meus Fornecedores"
          type="primary"
          (click)="cloneSupplier()"
        >
        </sdk-rectangle-button>
      </ng-template>
    </sdk-vertical-header-left>
  </div>
  <div class="p-4 m-0" tc-2>
    <sdk-list-view [items]="itens">
      <ng-template sdkListViewItem let-item>
        <a
          class="menu-item h-100 d-block"
          [ngClass]="{ 'is-active': itemActiveRoute(item.url) }"
          [routerLink]="
            infosFornecedor?.idTenant ? item.url + '/' + infosFornecedor.idTenant : item.url
          "
          [routerLinkActive]="['is-active']"
        >
          <strong>
            {{ item.label }}
          </strong>
        </a>
      </ng-template>
    </sdk-list-view>
  </div>
  <div class="p-4 scroll-y" tc-3>
    <router-outlet></router-outlet>
  </div>
</sdk-three-columns>
