<div class="row">
  <div class="col-12 bg-lighter">
    <p class="my-2"><span class="font-weight-bold">{{titulo}}<span *ngIf="comentarios?.length == 0" translate>
          GENERAL.NO_RECORDS_FOUND</span></span>
      {{ comentarios?.length ? prefixoSubTitulo + ' ' + (comentarios[0].dataCriacao | date:'dd/MM/yyyy HH:mm:ss') : ''
      }}</p>
  </div>
</div>
<div class="row my-3" *ngIf="!readOnly">
  <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
    <div class="initials-container current-user">
      <div class="initials">
        {{ getInitials(usuarioLogado?.pessoaFisica?.nome) }}
      </div>
    </div>
  </div>
  <div class="col-lg-11 col-xl-10">
    <div class="input-group">
      <textarea class="form-control resize-none" rows="5" [placeholder]="placeholder" [(ngModel)]="comentario"
        [attr.maxLength]="quantidadeDeCaracteres" style="white-space: pre-wrap;"></textarea>
      <div class="input-group-append">
        <button class="btn btn-icon px-5" type="button" (click)="salvarComentario()"><i
            class="far fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="row my-3" *ngFor="let comentario of comentarios">
  <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
    <div class="initials-container"
      [ngClass]="{ 'other-user': comentario.idUsuarioAutor == usuarioLogado.idUsuario, 'current-user': comentario.idUsuarioAutor != usuarioLogado.idUsuario }">
      <div class="initials">
        {{ getInitials(comentario.usuarioAutor?.pessoaFisica?.nome) }}
      </div>
    </div>
  </div>
  <div class="col-lg-11 col-xl-10">
    <div class="comment">
      <p><span class="font-weight-bold text-uppercase">{{ comentario.usuarioAutor?.pessoaFisica?.nome }}</span>
        comentado em {{ comentario.dataCriacao | date:'dd/MM/yyyy HH:mm:ss' }}</p>
      <p class="autobreakLine"> {{comentario.comentario}}</p>
    </div>
  </div>
</div>
