:host {
  // modal de desvinculo
  ::ng-deep .modal-desvinculo > div.modal-dialog > div.modal-content > app-confirmacao {
    div.modal-body {
      p {
        padding: 2rem 0 2rem 0;
        text-align: center;
      }
    }
    button.btn-outline-primary {
      color: #6e6e72;
      border-color: #6e6e72;
      background-color: white !important;
      width: 8rem;
      &:hover {
        background-color: #6e6e72 !important;
        color: white !important;
        border-color: #6e6e72 !important;
      }
      &:active {
        color: #6e6e72 !important;
        border-color: #6e6e72 !important;
        background-color: white !important;
      }
      &:focus {
        box-shadow: none !important;
      }
    }
  }
}

.listagem {
  padding: 0 1em;
  .header {
    display: flex;
    color: #417185;
    font-weight: bold;
    padding-left: 5em;
  }
}

sdk-rectangle-button ::ng-deep {
  width: auto;

  button {
    padding: 0 25px !important;
    height: 32px !important;
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    color: #ffffff !important;
    border-radius: 8px !important;

    background: #588394 !important;
    &:hover {
      background-color: #588394 !important;
      color: #ffffff;
    }
  }
}

div.list-users {
  a {
    font-family: Open Sans !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #417185 !important;
  }

  .icon-custom {
    i {
      background: #d4effa;
      color: #417185;
      padding: 0.8rem;
      border-radius: 49%;
    }
  }

  div.border-radius-8 {
    padding-top: 1px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 2px solid #c4c4c4;
  }

  div.border-radius-left-8 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .crop-text-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  //status color (icon and text)
  .released {
    .situation-label {
      color: #8bc34a !important;
      font-weight: bold !important;
    }
  }

  .braided {
    .situation-label {
      color: #ff9800 !important;
      font-weight: bold !important;
    }
  }

  .blocked {
    .situation-label {
      color: #f44336 !important;
      font-weight: bold !important;
    }
  }
}
