<sdk-modal title="Alterar Data Entrega Prevista">
  <form [formGroup]="form">
    <div class="row form-group">
      <div class="col-8">
        <label class="required-field" for="dataEntregaPrevista">Data Entrega Prevista</label>
        <input
          class="form-control"
          [class.invalid]="form.controls.dataEntregaPrevista?.invalid && form.controls.dataEntregaPrevista?.dirty"
          type="date"
          name="dataEntregaPrevista"
          formControlName="dataEntregaPrevista" />
      </div>
      <div class="col-4 align-self-end text-right">
        <label for="btnAplicar"> </label>
        <button type="button" class="btn btn-success" (click)="aplicarTodosItens()">
          Aplicar a todos
        </button>
      </div>
    </div>
  </form>

  <!-- REGION ITENS -->

  <smk-table
    [config]="tableConfig"
    [items]="dtosEntregas">
    <ng-container column-templates>
      <ng-template customColumn="dataEntregaPrevista" let-dtoEntrega="item">
        <input
          class="form-control"
          type="date"
          name="dataEntregaPrevista"
          [(ngModel)]="dtoEntrega.dataEntregaPrevista">
      </ng-template>
    </ng-container>
  </smk-table>

  <!-- END REGION ITENS -->

  <div class="form-row justify-content-end">
    <div class="form-group col-lg-3">
      <button
        role=button
        class="btn btn-outline-primary w-100" type="button"
        (click)="fechar()">
        Fechar
      </button>
    </div>
  </div>
</sdk-modal>