::ng-deep smk-manter-data-prevista-programada sdk-modal div.sdk-modal-body,
div.sdk-modal-footer {
  input.form-control {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px !important;
    border: 1px solid #cfdce0 !important;

    .ng-placeholder {
      color: #588394 !important;
      font-weight: bold;
    }
  }

  label {
    color: #296075;
  }

  button {
    border-radius: 8px;

    &.btn-editar {
      background-color: #588394;
      border-color: #588394;
      color: #fff;
    }

    &.cancelar-acao {
      min-width: 36px;
      width: 36px;
    }
  }
}
