::ng-deep smk-filtro-superior-contrato-fornecedor {
  label {
    color: #616161;
    font-weight: normal !important;
    margin-bottom: 8px;
    font-size: 15px;
  }

  .form-control,
  .input-group,
  ng-select .ng-select-container,
  ng-select .ng-dropdown-panel {
    border: 1px solid #b8cad1 !important;
    border-radius: 8px !important;
  }

  .form-control,
  .input-group,
  .ng-select .ng-select-container {
    height: 40px !important;
  }

  .form-control {
    color: #616161;
  }

  .input-group {
    .form-control {
      border: none !important;
      height: unset !important;

      &:focus {
        box-shadow: none !important;
      }
    }
    .check-input {
      accent-color: #1d9ed3;
    }
    .input-group-append {
      &::before {
        content: "";
        margin: 5px 0;
        border: 0.5px solid #e7edf0 !important;
      }
      .btn {
        box-shadow: none;
        border-radius: 8px;
        color: #727272;
        &:active {
          border: none;
        }
        &:hover {
          background-color: #ffffff;
          -webkit-transform: initial;
          transform: initial;
          border-color: initial;
        }
      }
    }
  }

  ng-select {
    .ng-dropdown-panel {
      margin-top: 5px !important;

      .ng-option {
        &:first-child {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &:last-child {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}
