<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Editar item</div>
  <button type="button" class="close" aria-label="Close" (click)="voltar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="form-group col">
        <label for="produto">Produto</label>
        <textarea class="form-control" rows="2" name="produto" value="{{ form.controls.produto.value }}"
          readonly></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-3">
        <label for="marca">Marca</label>
        <div class="form-control disabled" readonly> {{ form.controls.marca.value }} </div>
      </div>
      <div class="form-group col-lg-3">
        <label for="unidadeMedida">Unidade de medida</label>
        <div class="form-control disabled" readonly> {{ form.controls.unidadeMedida.value }} </div>
      </div>
      <div class="form-group col-lg-3">
        <label for="valor">Valor unitário</label>
        <div class="form-control disabled" readonly> {{ form.controls.valor.value |
          currency:'BRL':'symbol':'1.2':'pt-BR'
          }} </div>
      </div>
      <div class="form-group col-lg-3">
        <label for="valor">Valor total</label>
        <div class="form-control disabled" readonly>
          {{ (form.controls.quantidade.value * form.controls.valor.value ) | currency:'BRL':'symbol':'1.2':'pt-BR' }}
        </div>
      </div>
    </div>
    <app-manter-entregas-programadas
      *ngIf="pedidoItem.entregaProgramada"
      [config]="configEntregaProgramada()"
      (entregasChange)="entregasProgramadasAlteradas($event)">
    </app-manter-entregas-programadas>
    <div class="form-row" *ngIf="!pedidoItem.entregaProgramada">
      <div class="form-group required col-lg-4">
        <label for="quantidade">Quantidade</label>
        <input-number formControlName="quantidade" [min]="pedidoItem.loteMinimo"
          [allowDecimal]="pedidoItem?.produto?.unidadeMedida?.permiteQuantidadeFracionada" [max]="max">
        </input-number>
        <span class="invalid" *ngIf="form.controls.quantidade.invalid && form.controls.quantidade.dirty">Preenchimento
          obrigatório</span>
      </div>
      <div class="form-group required col-lg-4">
        <label for="dataEntrega">Data de entrega</label>
        <input type="date" class="form-control" id="dataEntrega" formControlName="dataEntrega">
        <span class="invalid" *ngIf="form.controls.dataEntrega.invalid && form.controls.dataEntrega.dirty">Preenchimento
          obrigatório</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="voltar()">Voltar</button>
  <button
    *ngIf="!pedidoItem.entregaProgramada"
    type="button"
    class="btn btn-outline-primary"
    (click)="salvar()">
    Salvar
  </button>
</div>
