<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Incluir Classificação</div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" *ngIf="form">
    <div class="form-row">
      <div class="form-group required col">
        <label>Descrição:</label>
        <input type="text" class="form-control" formControlName="descricao">
        <span class="invalid" *ngIf="form.controls.descricao.invalid && form.controls.descricao.dirty">Preenchimento obrigatório</span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" (click)="cancelar()" class="btn btn-outline-primary"><i class="fas fa-ban"></i>
    Cancelar</button>
  <button type="button" (click)="salvar()" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
</div>