.suporte {
  cursor: default;

  .modal-body {
    .modal-body-title {
      font-size: 16px;
    }

    .anexos {
      .card {
        box-shadow: 0px 0px 3px 0px #00000094;
      }

      .regras {
        margin-left: 3px;
        font-size: 12px;

        .destaque {
          color: #e7482c;
        }
      }

      .lista {
        font-size: 12px;

        $colorAnexo: #0078ab;
        $borderColorAnexo: #c2e0ff;
        $backgroundColorAnexo: #f8fcff;
        $colorTamanhoAnexo: #5f5f5f;
        $colorRemoverAnexo: #999;

        .anexo {
          box-sizing: border-box;
          border-radius: 14px;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          color: $colorAnexo;
          border: 1px solid $borderColorAnexo;
          background-color: $backgroundColorAnexo;
          opacity: 0.8;

          &:hover {
            color: darken($colorAnexo, 10%);
            border-color: darken($borderColorAnexo, 5%);
            background-color: darken($backgroundColorAnexo, 2%);

            .tamanho {
              color: darken($colorTamanhoAnexo, 30%);
            }

            .icone-remover {
              color: darken($colorRemoverAnexo, 30%);
            }
          }

          .tamanho {
            color: $colorTamanhoAnexo;
          }

          .icone-remover {
            color: $colorRemoverAnexo;
            cursor: pointer;

            &:hover {
              color: #cf3d3d;
            }
          }
        }
      }
    }
  }

  .modal-footer {
    border-top: 1px solid #e9ecef;
    padding-top: 1rem;

    button {
      width: 110px;
    }
  }
}
