<sdk-header-default [showShadow]="true" [ngStyle]="{ 'z-index': '102' }" heightValue="64px">
  <div class="col-md-6 pl-4">
    <span class="page-title text-large">Gestão de Fornecedores &nbsp;&nbsp;<i class="fas fa-chevron-right"></i>
      <span class="subtitle">&nbsp;&nbsp; {{ getSubTitle() }}</span></span>
  </div>
</sdk-header-default>

<sdk-header-default heightValue="64px" topValue="10.2em">
  <sdk-input-icon
    name="documento"
    style="margin: 10px"
    [placeHolder]="'Documento'"
    [icon]="'fas fa-search'"
    [inputClass]="'input-icon-right-md'"
    [(ngModel)]="supplierFilter.documento"
    (keyup.enter)="getSuppliers()"
    ngDefaultControl></sdk-input-icon>

  <sdk-input-icon
    name="razaoSocial"
    style="margin: 10px"
    [placeHolder]="'Razão Social'"
    [icon]="'fas fa-search'"
    [inputClass]="'input-icon-right-lg'"
    [(ngModel)]="supplierFilter.razaoSocial"
    (keyup.enter)="getSuppliers()"
    ngDefaultControl></sdk-input-icon>

  <sdk-select
    name="statusOptions"
    style="margin: 10px"
    [class]="'select-sm'"
    [placeHolder]="'Status'"
    [items]="statusOptions"
    (event)="supplierFilter._status = $event"></sdk-select>

  <div class="col-1">
    <sdk-rectangle-button
      class="custom-rectangule-button"
      [leftIconClass]="'fas fa-search'"
      [leftIconColor]="'#FFFFFF'"
      [label]="'Buscar'"
      (buttonClick)="getSuppliers()">
    </sdk-rectangle-button>
  </div>

  <div class="col d-flex justify-content-end pr-0">
    <div class="d-flex border-left pr-3" style="height: 100%">
      <div class="pl-3">
        <sdk-rectangle-button
          class="custom-rectangule-button"
          [ngClass]="{
            enabled: hasSelectedSupplier(),
            disabled: !hasSelectedSupplier()
          }"
          [label]="'Incluir aos Meus Fornecedores'"
          [leftIconClass]="'fas fa-plus'"
          [leftIconColor]="'#FFFFFF'"
          (buttonClick)="cloneSuppliers()">
        </sdk-rectangle-button>
      </div>
    </div>
  </div>
</sdk-header-default>

<p
  class="semListagem d-flex text-truncate w-100"
  *ngIf="!itens?.length; else suppliersList"
  data-toggle="tooltip"
  data-placement="bottom"
  title="Nenhum fornecedor encontrado">
  <a class="text-center font-weight-bold text-primary">Nenhum fornecedor encontrado</a>
</p>

<div class="col-12">
  <div class="w-100">
    <ng-template #suppliersList>
      <div class="listagem">
        <div class="row">
          <div class="col-3" *ngIf="!selectionEnabled; else selected">
            <div class="row">
              <p class="col-2 py-1">
                <i
                  (click)="selectionEnabled = !selectionEnabled"
                  class="fas fa-bars menu-icon clickable"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  ngbTooltip="{{ selectionEnabled ? 'Desabilitar Seleção' : 'Habilitar Seleção' }}"></i>
              </p>
              <p class="col-10 pl-4">Documento</p>
            </div>
          </div>

          <ng-template #selected>
            <div class="col-4">
              <div class="row">
                <p class="col-1 py-1">
                  <i
                    (click)="selectionEnabledClicked()"
                    class="fas fa-bars menu-icon clickable"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    [class.ativo]="selectionEnabled"
                    ngbTooltip="{{
                      selectionEnabled ? 'Desabilitar Seleção' : 'Habilitar Seleção'
                    }}"></i>
                </p>
                <p class="col-1 py-1">
                  <input
                    type="checkbox"
                    class="clickable custom-checkbox"
                    [(ngModel)]="mainChecked" />
                </p>
                <p class="col-1 pl-0 clickable">
                  <sdk-suspense-menu-button [icon]="'fas fa-chevron-down'">
                    <ng-template sdkSuspenseMenu>
                      <button
                        class="btn btn-sm btn-icon text-dark"
                        title="Todos"
                        (click)="mainChecked = true">
                        <a>Todos</a>
                      </button>
                      <button
                        class="btn btn-sm btn-icon"
                        title="Nenhum"
                        (click)="mainChecked = false">
                        <a>Nenhum</a>
                      </button>
                      <button
                        class="btn btn-sm btn-icon"
                        title="Ativos"
                        (click)="selectedActiveSuppliers()">
                        <a>Ativos</a>
                      </button>
                    </ng-template>
                  </sdk-suspense-menu-button>
                </p>
                <p class="col-9 pl-4">Documento</p>
              </div>
            </div>
          </ng-template>

          <p class="col-6 pl-0" *ngIf="!isHoldingBase(); else holding">Fornecedor</p>

          <ng-template #holding>
            <p class="col-3 pl-0">Fornecedor</p>
            <p class="col-3 pl-0">Cadastrado Por</p>
          </ng-template>

          <p class="col-2 pl-1">Status</p>
          <p class="col-1 pl-1" *ngIf="!selectionEnabled">Ações</p>
        </div>

        <sdk-list-view [items]="itens">
          <ng-template sdkListViewItem let-item>
            <base-item-fornecedor
              [selectionEnabled]="selectionEnabled"
              [supplier]="item"
              [isHoldingBase]="isHoldingBase()"
              (checkedItemChanged)="checkedBaseItem()"></base-item-fornecedor>
          </ng-template>
        </sdk-list-view>
      </div>
    </ng-template>

    <div class="row" *ngIf="itens?.length">
      <div class="col-12">
        <div class="paging">
          <pager
            [page]="supplierFilter.pagina"
            [total-pages]="supplierFilter.totalPaginas"
            [records-per-page]="supplierFilter.itensPorPagina"
            (pagination)="page($event)"></pager>
        </div>
      </div>
    </div>
  </div>
</div>
