<div class="card card-tab-content">
  <div class="card-header"></div>
  <div class="card-body">
    <div class="container-fluid no-bounds">
      <div class="bg-white border-bottom row py-4" *ngIf="!itensSolicitacao?.length; else hasItens">
        <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
      </div>
      <ng-template #hasItens>
        <!-- LISTA -->
        <div class="bg-lighter border-bottom row d-none d-md-flex px-md-0 py-2">
          <div class="col-2 px-md-1">
            <div class="row-10-col">
              <div class="col-3 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Código da RC">RC</label>
              </div>
              <div class="col-2 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Tipo da RC">TpRC</label>
              </div>
              <div class="col-2 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Código Item RC">Item</label>
              </div>
              <div class="col-2 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Tipo do Item">
                  <span class="d-sm-inline-block d-xl-none">TpIt</span>
                  <span class="d-sm-none d-xl-inline-block">TpItem</span>
                </label>
              </div>
            </div>
          </div>

          <div class="col-2 px-md-1">
            <div class="row">
              <div class="col-7 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Descrição do Item RC">Descrição</label>
              </div>
              <div class="col-5 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Código do Fornecedor">CódFornec</label>
              </div>
            </div>
          </div>

          <div class="col-2 px-md-1">
            <div class="row">
              <div class="col-2 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Classificação Contábil">CC</label>
              </div>
              <div class="col-5 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Grupo de Compradores">GC</label>
              </div>
              <div class="col-5 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Categoria da Demanda">CatDem</label>
              </div>

            </div>
          </div>

          <div class="col-2 px-md-1">
            <div class="row">
              <div class="col-2 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Quantidade">Qtd</label>
              </div>
              <div class="col-2 px-md-2">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Sigla Unidade Medida">UM</label>
              </div>
              <div class="col-4 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Valor Total">Total</label>
              </div>
              <div class="col-4 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Centro">Centro</label>
              </div>
            </div>
          </div>

          <div class="col-2 px-md-1">
            <div class="row">

              <div class="col-4 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Requisitante"> Requisit.
                </label>
              </div>
              <div class="col-4 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Comprador">Comprad.
                </label>
              </div>
              <div class="col-4 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Data Liberação RC"> Data Lib.
                </label>
              </div>
            </div>
          </div>
          <div class="col-2 px-md-1">
            <div class="row">
              <div class="col-4 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="SLA">SLA</label>
              </div>
              <div class="col-4 px-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Situação">
                  <span class="d-sm-inline-block d-xl-none">Situaç.</span>
                  <span class="d-sm-none d-xl-inline-block">Situação</span>
                </label>
              </div>
              <div class="col-4 pl-md-2 pr-md-1">
                <label
                  class="font-weight-bold text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Ações">
                  <span class="d-sm-inline-block d-xl-none">Aç.</span>
                  <span class="d-sm-none d-xl-inline-block">Ações</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-white border-bottom row py-4 py-md-1"
          *ngFor="let item of itensSolicitacao; let i = index">
          <div class="col-12 col-md-2 px-md-1">
            <div class="row-10-col">
              <div class="col-5 col-md-3 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Código RC</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.codigoSolicitacaoCompra }}">
                  {{ item.codigoSolicitacaoCompra }}
                </p>
              </div>
              <div class="col-5 col-md-2 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Tipo de RC</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{
                    item.solicitacaoCompra?.tipoRequisicao?.sigla
                      ? item.solicitacaoCompra?.tipoRequisicao?.sigla
                      : item.solicitacaoCompra?.tipoDocumento
                  }}">
                  {{
                  item.solicitacaoCompra?.tipoRequisicao?.sigla
                  ? item.solicitacaoCompra?.tipoRequisicao?.sigla
                  : item.solicitacaoCompra?.tipoDocumento
                  }}
                </p>
              </div>
              <div class="col-5 col-md-2 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Código Item RC</label>
                <p class="mb-3 mb-lg-0 text-small" data-toggle="tooltip" title="{{ item.codigo }}">
                  {{ item.codigo }}
                </p>
              </div>
              <div class="col-5 col-md-2 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Tipo de Item RC</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.tipoItem }}">
                  {{ item.tipoItem }}
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-2 px-md-1">
            <div class="row">
              <div class="col-12 col-md-7 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Descrição do Item RC</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.descricao ? item.descricao : '--' }} ">
                  {{ item.descricao ? item.descricao : '--' }}
                </p>
              </div>
              <div class="col-12 col-md-5 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Código Fornecedor</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item?.fornecedor ? item?.fornecedor?.razaoSocial : '' }}">
                  {{ item.fornecedorFixo ? item.fornecedorFixo : '' }}
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-2 px-md-1">
            <div class="row">
              <div class="col-6 col-md-2 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Classificação Contábil</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title=" {{ item.codigoClassificacaoContabil }}">
                  {{ item.codigoClassificacaoContabil }}
                </p>
              </div>
              <div class="col-6 col-md-5 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Grupo Compradores</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.codigoComprador }}">
                  {{ item.codigoComprador }}
                </p>
              </div>
              <div class="col-6 col-md-5 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Categoria da Demanda</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.categoriaDemanda }}">
                  {{ item.categoriaDemanda }}
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-2 px-md-2">
            <div class="row">
              <div class="col-6 col-md-2 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Quantidade</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.quantidade }}">
                  {{ item.quantidade }}
                </p>
              </div>
              <div class="col-6 col-md-2 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Sigla Unidade Medida</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.siglaUnidadeMedida }}">
                  {{ item.siglaUnidadeMedida }}
                </p>
              </div>
              <div class="col-4 col-md-4 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Valor Total</label>
                <p
                  class="mb-3 mb-lg-0 text-truncate text-small"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="{{ item.valorReferencia * item.quantidade | customCurrency }}">
                  {{ item.valorReferencia * item.quantidade | customCurrency }}
                </p>
              </div>
              <div class="col-4 col-md-4 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Centro</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.codigoFilialEmpresa }}">
                  {{ item.codigoFilialEmpresa }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2 px-md-1">
            <div class="row">
              <div class="col-12 col-md-4 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Requisitante</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                  title="{{ item.solicitacaoCompra.nomeRequisitante }}">
                  {{ item.solicitacaoCompra.nomeRequisitante }}
                </p>
              </div>
              <div class="col-12 col-md-4 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Comprador</label>
                <p
                  class="mb-3 mb-lg-0 text-small"
                  data-toggle="tooltip"
                   title="{{ item.nomeResponsavel ? item.nomeResponsavel : ''}}">
                  {{ item.nomeResponsavel ? item.nomeResponsavel : ''}}
                </p>
              </div>
              <div class="col-12 col-md-4 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Data Liberação RC</label>
                <p class="mb-3 mb-lg-0 text-small">
                  <span class="d-none d-sm-inline-block d-xl-none">{{
                    item.dataLiberacaoItem
                    ? (item.dataLiberacaoItem | date: 'dd/MM/yy')
                    : (item.solicitacaoCompra.dataCriacao | date: 'dd/MM/yy')
                    }}</span>
                  <span class="d-inline-block d-sm-none d-xl-inline-block">{{
                    item.dataLiberacaoItem
                    ? (item.dataLiberacaoItem | date: 'dd/MM/yy')
                    : (item.solicitacaoCompra.dataCriacao | date: 'dd/MM/yy')
                    }}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-2 px-md-1">
            <div class="row">
              <div class="col-12 col-md-4 px-md-1">
                <contador-sla
                  *ngIf="
                    item.slaItem &&
                    item.dataHoraSla &&
                    [
                      SituacaoSolicitacaoItemCompra.Nova,
                      SituacaoSolicitacaoItemCompra.Aberta,
                      SituacaoSolicitacaoItemCompra.Disponivel
                    ].includes(item.situacao)
                  "
                  [tempoSla]="item.slaItem.tempo"
                  [unidadeMedidaTempoSla]="item.slaItem.unidadeMedidaTempo"
                  [ultimoRegistroInicioSla]="item.dataHoraSla">
                </contador-sla>
              </div>
              <div class="col-12 col-md-4 px-md-1">
                <label for="" class="font-weight-bold d-block d-md-none">Situação</label>
                <p
                  class="mb-3 mb-lg-0 text-small line-clamp line-clamp-1"
                  [class.text-warning]="item.situacao == SituacaoSolicitacaoItemCompra.Nova"
                  [class.text-success]="item.situacao == SituacaoSolicitacaoItemCompra.Concluida"
                  [class.text-danger]="item.situacao == SituacaoSolicitacaoItemCompra.Cancelada"
                  [class.text-primary]="item.situacao == SituacaoSolicitacaoItemCompra.Disponivel">
                  {{ item.situacao ? SituacaoSolicitacaoItemCompra[item.situacao] : '--' }}
                </p>
              </div>
              <div class="col-12 col-md-4 px-md-1 d-flex align-itens-center justify-content-center">
                <button
                  *ngIf="desvinculoItemSolicitacaoCompra
                         && [
                            SituacaoSolicitacaoItemCompra['Disponível em Pre-pedido'],
                            SituacaoSolicitacaoItemCompra.Disponivel
                          ].includes(item.situacao)
                  "
                  class="btn btn-sm btn-icon px-1"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Desvincular Item"
                  (click)="desvincularItem(i)">
                  <i class="fas fa-unlink text-primary"></i>
                </button>
                <button
                  *ngIf="flagBotaoAlterarResponsavelVisivel"
                  class="btn btn-sm btn-icon px-0"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Alterar Responsável"
                  (click)="alterarResponsavel(i)">
                  <i class="fas fa-user-edit text-primary"></i>
                </button>
                <button
                  class="btn btn-sm btn-icon px-1 mr-0 mr-md-3"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Itens da Solicitação"
                  [routerLink]="['solicitacoes-compra', item.solicitacaoCompra.idSolicitacaoCompra]">
                  <i class="far fa-eye text-primary"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
