<sdk-modal
title="ENVIAR DOCUMENTO">

<div class="col-12">
  <form [formGroup]="form">
    <div class="form-row bg-descricao-doc pl-4">
      <div class="form-group col-12">
        <label>
          {{ documento.documentoFornecedor.descricaoDocumento }}
        </label>
      </div>
</div>

    <div class="container">
      <div class="row mt-4">
        <div class="form-group col-6">
          <label [class.required]="true" for="arquivo"> Arquivo: </label>
          <input-file accept=".pdf,.docx,.png,.jpg" (select)="selecionarArquivo($event)">
          </input-file>
          <small class="required"> Arquivos permitidos .pdf .docx .png .jpg </small>
        </div>
        <div class="form-group col-6 ">
          <label
                for="dataVencimento"
                [class.required]="
                  documento.documentoFornecedor.vencimentoObrigatorio
                "
              >
                Vigência:
              </label>
              <input
                class="form-control"
                [class.invalid]="
                  form.controls.dataVencimento.invalid && form.controls.dataVencimento.dirty
                "
                type="date"
                name="dataVencimento"
                formControlName="dataVencimento"
                [min]="currentDate"
              />          
        </div>
        <div class="form-group col-12">
          <galeria-arquivos
            size="sm"
            [arquivos]="[form.getRawValue().arquivo]"
            *ngIf="form.getRawValue().arquivo"
            (excluir)="excluirArquivo()"
          ></galeria-arquivos>
        </div>
      </div>
    </div> 
    <div class="form-row mb-3 mr-2">
      <div class="col">
        <button type="button" class="btn btn-outline-primary float-right" (click)="incluir()">
          Incluir
        </button>
      </div>
    </div>
  </form>
</div>
</sdk-modal>