<!-- <p>
  questionarios-fornecedor works!
</p> -->

<div
class="tab-pane"
id="questionarios-fornecedor"
role="tabpanel"
aria-labelledby="questionarios-fornecedor-tab"
>
<div class="no-content" *ngIf="!questionarios?.length" translate>GENERAL.NO_RECORDS_FOUND</div>
<div
  class="card card-tab-content card-collapse"
  *ngFor="let questionario of questionarios; let i = index"
>
  <a
    class="card-header collapsed"
    data-toggle="collapse"
    href="#questionario{{ i }}"
    id="collapse{{ i }}"
    (click)="mostrarQuestionario('collapse' + i, i)"
  >
    <div class="d-none d-lg-inline-flex mr-5 text-truncate w-50">
      <span
        class="font-weight-bold pl-1 pr-3 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ questionario.nomeQuestionario }}"
      >
        {{ questionario.nomeQuestionario }}</span
      >
    </div>
    <div class="d-none d-lg-inline-flex pr-1 w-40 ml-5 pl-5 text-truncate">
      <span
        class="font-weight-bold pr-2 ml-1 pl-5 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{
          'Situação: ' +
            situacaoQuestionario[questionario.situacao] +
            (questionario.avaliacaoQuestionario ? ' / ' + questionario.avaliacaoQuestionario : '')
        }}"
      >
        {{
          'Situação: ' +
            situacaoQuestionario[questionario.situacao] +
            (questionario.avaliacaoQuestionario ? ' / ' + questionario.avaliacaoQuestionario : '')
        }}
      </span>
    </div>
    <div class="d-inline-flex d-lg-none pr-1 text-truncate w-100">
      <span
        class="font-weight-bold pl-1 pr-3 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ questionario.nomeQuestionario }}"
      >
        {{ questionario.nomeQuestionario }}</span
      >
    </div>
    <div class="d-inline-flex d-lg-none pr-1 w-100 text-truncate">
      <span
        class="font-weight-bold pl-1 pr-2 text-truncate"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{
          'Situação: ' +
            situacaoQuestionario[questionario.situacao] +
            (questionario.avaliacaoQuestionario ? ' / ' + questionario.avaliacaoQuestionario : '')
        }}"
      >
        {{
          'Situação: ' +
            situacaoQuestionario[questionario.situacao] +
            (questionario.avaliacaoQuestionario ? ' / ' + questionario.avaliacaoQuestionario : '')
        }}
      </span>
    </div>
  </a>
  <div class="card-body collapse" id="questionario{{ i }}">
    <div class="container-fluid">
      <div class="bg-lighter border-bottom row-9-col row vertical-divider py-4">
        <div
          [ngClass]="{
            'col-9': questionario.situacao != situacaoQuestionario.Respondido,
            'col-md-7 col-lg-8 pr-4':
              questionario.situacao == situacaoQuestionario.Respondido
          }"
        >
          <label
            class="mt-2 pr-4 pr-lg-2 text-uppercase text-primary text-justify font-weight-bold"
          >
            {{ questionario.introducao }}</label
          >
        </div>
        <div
          class="col-md-2 col-lg-1 my-auto"
          *ngIf="questionario.situacao == situacaoQuestionario.Respondido"
        >
          <h5 class="mt-4 mt-md-2 text-uppercase font-weight-bold text-center">Nota</h5>
          <h2 class="mt-2 mb-md-5 text-uppercase font-weight-bold text-center">
            {{ questionario.notaQuestionario.toFixed(2).replace('.', ',') }}
          </h2>
        </div>
      </div>

      <div
        class="row bg-white border-bottom"
        *ngFor="let resposta of formRespostas; let i2 = index"
      >
        <div class="col-12">
          <div
            class="bg-white border-bottom row-9-col row vertical-divider py-4"
            *ngIf="
              formRespostas[i2 - 1]?.controls.categoriaQuestao.value?.idCategoriaQuestao !=
              resposta.controls?.categoriaQuestao.value?.idCategoriaQuestao
            "
          >
            <div
              [ngClass]="{
                'col-9': questionario.situacao != situacaoQuestionario.Respondido,
                'col-md-7 col-lg-8': questionario.situacao == situacaoQuestionario.Respondido
              }"
            >
              <label
                class="mt-2 pr-4 pr-lg-2 text-uppercase text-primary text-justify font-weight-bold"
              >
                {{ resposta.controls.categoriaQuestao.value.descricao }}</label
              >
              <br />
              <div class="mt-2">
                <small class="font-italic">
                  {{ resposta.controls.categoriaQuestao.value.notaExplicativa }}
                </small>
              </div>
            </div>
            <div
              class="col-md-2 col-lg-1 my-auto"
              *ngIf="questionario.situacao == situacaoQuestionario.Respondido"
            >
              <h5 class="mt-4 mt-md-2 text-uppercase font-weight-bold text-center">Nota</h5>
              <h2 class="mt-2 mb-md-5 text-uppercase font-weight-bold text-center">
                {{
                  resposta.controls.categoriaQuestao.value.notaCategoria
                    .toFixed(2)
                    .replace('.', ',')
                }}
              </h2>
            </div>
          </div>
          <form [formGroup]="resposta">
            <div class="form row">
              <div class="form-group col-lg-12 text-justify mt-2">
                {{ resposta.controls.pergunta.value }}
                <br />
                <div class="mt-2">
                  <small class="font-italic">
                    {{ resposta.controls.notaExplicativa.value }}
                  </small>
                </div>
              </div>
            </div>
            <div class="form row">
              <div
                class="form-group"
                [ngClass]="
                  resposta.controls.permiteComentario.value ? 'col-lg-11' : 'col-lg-12'
                "
              >
                <ng-select
                  *ngIf="resposta.controls.tipo.value == 2"
                  formControlName="resposta"
                >
                  <ng-option
                    *ngFor="let opcao of resposta.controls.opcoes.value"
                    [value]="opcao.descricao"
                  >
                    {{ opcao.descricao }}
                  </ng-option>
                </ng-select>
                <input
                  class="form-control"
                  formControlName="resposta"
                  type="text"
                  *ngIf="resposta.controls.tipo.value == 1"
                />
              </div>
              <div
                class="form-group col-lg-1"
                *ngIf="resposta.controls.permiteComentario.value"
              >
                <a
                  class="btn btn-icon"
                  data-toggle="collapse"
                  href="#comentarios{{ i }}-{{ i2 }}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="comentarios"
                >
                  <i class="far fa-comment-dots"></i>
                </a>
              </div>
            </div>
            <div class="form row collapse" id="comentarios{{ i }}-{{ i2 }}">
              <div class="form-group required bg-white col-lg-12">
                <div class="row">
                  <div class="form-group col-12 bg-lighter">
                    <p class="my-2"><span class="font-weight-bold">Comentário</span></p>
                  </div>
                </div>
                <div class="row my-3" *ngIf="questionario.situacao != 3">
                  <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
                    <div class="initials-container current-user">
                      <div class="initials">
                        {{ getInitials(usuarioLogado?.pessoaFisica?.nome) }}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-11 col-xl-10">
                    <div class="input-group">
                      <textarea
                        class="form-control resize-none"
                        rows="5"
                        placeholder="Adcione um novo comentário"
                        [(ngModel)]="comentarios[i2]"
                        [ngModelOptions]="{ standalone: true }"
                      ></textarea>
                      <div class="input-group-append">
                        <button
                          class="btn btn-icon px-5"
                          type="button"
                          (click)="salvarComentario(i2)"
                        >
                          <i class="far fa-paper-plane"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row my-3" *ngIf="resposta.controls.comentario.value">
                  <div class="d-none d-lg-block col-lg-1 col-xl-2 pr-0 align-self-center">
                    <div
                      class="initials-container"
                      [ngClass]="{
                        'other-user':
                          resposta.controls.comentario.value.idUsuarioAutor ==
                          usuarioLogado.idUsuario,
                        'current-user':
                          resposta.controls.comentario.value.idUsuarioAutor !=
                          usuarioLogado.idUsuario
                      }"
                    >
                      <div class="initials">
                        {{
                          getInitials(
                            resposta.controls.comentario.value?.usuarioAutor
                              ?.pessoaFisica?.nome
                          )
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-11 col-xl-10">
                    <div class="comment">
                      <p>
                        <span class="font-weight-bold text-uppercase">{{
                          resposta.controls.comentario.value.usuarioAutor?.pessoaFisica
                            ?.nome
                        }}</span>
                        comentado em
                        {{
                          resposta.controls.comentario.value.dataCriacao
                            | date: 'dd/MM/yyyy HH:mm:ss'
                        }}
                      </p>
                      <p>
                        {{ resposta.controls.comentario.value.comentario }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer bg-white" *ngIf="questionario.situacao != 3">
      <button type="button" (click)="atualizarQuestionario(i)" class="btn btn-primary">
        <i class="fas fa-save"></i> SALVAR
      </button>
      <button
        type="button"
        id="btnSalvar"
        (click)="finalizarQuestionario(i)"
        class="btn btn-primary"
      >
        <i class="fas fa-check"></i> FINALIZAR
      </button>
    </div>
  </div>
</div>
</div>