<div class="header">
  <div class="header-search row">
    <div class="col-12 align-self-center">
      <h3 class="mb-0 text-uppercase text-primary font-weight-bold">Visita Técnica
      </h3>
    </div>
  </div>
</div>
<div class="custom-nav-tabs">
  <ul class="nav nav-tabs row bounds" id="visitaTecnicaTab" role="tablist">
    <li class="nav-item col-md-6 col-lg-3">
      <a class="nav-link nav-link-block active"
        id="visita-tecnica-tab" data-toggle="tab" href="#visitaTecnica" role="tab"
        aria-controls="visita-tecnica" aria-selected="false">
        Questionário
      </a>
    </li>
  </ul>
  <div class="tab-content bounds" id="visitaTecnicaTabContent"> 
    <div class="tab-pane fade active show"
      id="visita-tecnica" role="tabpanel" aria-labelledby="visita-tecnica-tab">
      <div class="card card-tab-content tab-content">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="row bg-white">
              <div class="col">
                <div class="divisor">
                  Dados da Visita Técnica
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label> Data Agendada </label>
                    <input class="form-control" type="text" [readonly]="true" [value]="visitaTecnica?.data | date: 'dd/MM/yyyy HH:mm'">
                  </div>
                  <div class="form-group col-md-6">
                    <label> Fornecedor Representante </label>
                    <input class="form-control" type="text" [readonly]="true" [value]="visitaTecnica?.representante?.pessoaFisica?.nome">
                  </div>
                </div>
                <div class="divisor">
                  Questionário
                </div>
                <div *ngFor="let form of forms; let i = index">
                  <form [formGroup]="form">
                    <div class="form-row">
                      <div class="form-group required col-md-12">
                        <label> {{ form.controls.pergunta.value }} </label>
                        <textarea class="form-control" rows="1" formControlName="resposta"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="form-group col-12" *ngIf="visitaTecnica?.status == SituacaoVisitaTecnica.Agendado">
                    <label class="pr-2"> Anexar Arquivo: </label>
                    <input-file [multiple]="true"
                      accept=".csv,.tiff,.txt,.pdf,.xlsx,.xls,.pptx,.ppt,.docx,.doc,.odt,.ods,.odp,.png,.jpeg,.jpg"
                      (select)="incluirArquivos($event)"></input-file>
                  </div>
                  <div class="form-group col-12">
                    <galeria-arquivos [arquivos]="resultadoVisitaTecnica.anexos" (excluir)="excluirArquivo($event)">
                    </galeria-arquivos>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" 
                          (click)="voltar()"
                          class="btn btn-outline-primary">
                    <i class="fas fa-ban"></i> Voltar
                  </button>
                  <button type="button" 
                          (click)="salvar()"
                          class="btn btn-primary"
                          *ngIf="visitaTecnica?.status == SituacaoVisitaTecnica.Agendado">
                    <i class="fas fa-save"></i> Salvar
                  </button>
                  <button type="button" 
                              id="btnSalvar"
                            (click)="finalizar()"
                          class="btn btn-primary"
                          *ngIf="visitaTecnica?.status == SituacaoVisitaTecnica.Agendado">
                    <i class="fas fa-check"></i> Finalizar Visita
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
