<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">Selecionar novo produto</div>
  <button type="button" class="close" aria-label="Close" (click)="cancelar()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-body">
      <custom-table classes="table-striped table-sm" [settings]="settings" [source]="itens" (select)="selecao($event)"></custom-table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
  <button type="button" class="btn btn-outline-primary" (click)="selecionar(content)">Selecionar</button>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title" id="modal-basic-title">Próximo</div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    Como deseja prosseguir?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="continuarRevisao()">Prosseguir com revisão</button>
    <button type="button" class="btn btn-outline-primary" (click)="irCarrinho()">Sair da revisão sem salvar e ir para o carrinho</button>
    <button type="button" class="btn btn-outline-primary" (click)="salvarRevisaoIrCarrinho()">Salvar revisão e ir para o carrinho</button> 
  </div>
</ng-template>