@import "src/themes/_smk-base.scss";

.observacao-padrao {
    border-radius: 3px;
    border: 1px solid #6d6e71;
    background-color: $smk-disabled-color;

  .valor {
    max-height: 200px;

    &::-webkit-scrollbar {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}

.align{
  padding-top: 1.7em;
}

.possuiEdicao{
  color: #98be6d;
}
