<div
  class="infinite-scroll"
  infinite-scroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  (scrolled)="onScroll()"
>
  <div class="header">
    <div class="header-search row">
      <div class="col-12 align-self-center">
        <h3 class="mb-0 text-uppercase text-primary font-weight-bold">
          <ng-container *ngIf="perfilUsuario == tipoPerfilUsuario.Fornecedor">
            Meu cadastro
          </ng-container>
          <ng-container *ngIf="perfilUsuario != tipoPerfilUsuario.Fornecedor">
            Empresa
          </ng-container>
        </h3>
      </div>
      <div class="col-lg-8">
        <input-busca
          label="O que você procura?"
          placeholder="Buscar por CNPJ ou Razão Social"
          (buscar)="buscar($event)"
        >
        </input-busca>
      </div>
    </div>
  </div>

  <div class="custom-nav-tabs">
    <ul class="nav nav-tabs row bounds" id="empresasTab" role="tablist">
      <li class="nav-item col-lg-3">
        <a
          class="nav-link nav-link-block active"
          id="empresas-tab"
          data-toggle="tab"
          href="#empresasTab"
          role="tab"
          aria-controls="empresas"
          aria-selected="false"
          >Empresas</a
        >
      </li>
    </ul>

    <div class="tab-content bounds" id="empresasTab">
      <div
        class="tab-pane fade active show"
        id="empresasTab"
        role="tabpanel"
        aria-labelledby="empresas-tab"
      >
        <div class="card card-tab-content">
          <div class="card-header">
            <a
              [routerLink]="['novo']"
              class="btn btn-icon d-flex align-items-center text-primary p-0"
            >
              <i class="fas fa-plus-circle"></i>
              <p class="d-inline-block mb-0 ml-2">Inserir nova empresa</p>
            </a>
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <div class="bg-lighter border-bottom row py-4 d-none d-md-flex">
                <div class="col-md-1">
                  <label class="font-weight-bold">ID</label>
                </div>
                <div class="col-md-2">
                  <label class="font-weight-bold">CNPJ:</label>
                </div>
                <div class="col-md-3">
                  <label class="font-weight-bold">Razão Social:</label>
                </div>
                <div class="col-md-2">
                  <label class="font-weight-bold">Nome Fantasia:</label>
                </div>
                <div class="col-md-1">
                  <label class="font-weight-bold">Situação:</label>
                </div>
                <div class="col-md-3">
                  <label class="font-weight-bold">Ações:</label>
                </div>
              </div>
              <div class="bg-white border-bottom row py-4" *ngIf="!pessoasJuridicas?.length">
                <div class="col no-content" translate>GENERAL.NO_RECORDS_FOUND</div>
              </div>

              <div
                class="bg-white border-bottom row py-4"
                *ngFor="let pessoaJuridica of pessoasJuridicas; let i = index"
              >
                <div class="col-md-1 col-sm-3 align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">ID</label>
                  <p class="mb-3 mb-lg-0">{{ pessoaJuridica.idPessoaJuridica }}</p>
                </div>
                <div class="col-md-2 col-sm-3 align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">CNPJ:</label>
                  <p class="mb-3 mb-lg-0">{{ pessoaJuridica.cnpj }}</p>
                </div>
                <div class="col-md-3 col-sm-3 align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">Razão Social:</label>
                  <p class="mb-3 mb-lg-0">{{ pessoaJuridica.razaoSocial }}</p>
                </div>
                <div class="col-md-2 col-sm-2 align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">Nome Fantasia:</label>
                  <p class="mb-3 mb-lg-0">{{ pessoaJuridica.nomeFantasia | noContent }}</p>
                </div>
                <div class="col-md-1 col-sm-3 align-self-center">
                  <label for="" class="font-weight-bold d-block d-md-none">Situação:</label>
                  <p class="mb-3 mb-lg-0">{{ Situacao[pessoaJuridica.situacao] }}</p>
                </div>
                <div
                  class="col-md-3 d-flex justify-content-around justify-content-md-between align-self-center"
                >
                  <button
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Auditoria"
                    (click)="auditar(pessoaJuridica.idPessoaJuridica)"
                  >
                    <i class="fas fa-history"></i>
                  </button>
                  <button
                    *ngIf="
                      pessoaJuridica.situacao == Situacao.Ativa &&
                        perfilUsuario == enumPerfilUsuario.Administrador;
                      else botaoAtivar
                    "
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Desativar"
                    (click)="inativar(pessoaJuridica)"
                  >
                    <i class="fas fa-toggle-on text-success"></i>
                  </button>
                  <ng-template #botaoAtivar>
                    <button
                      *ngIf="perfilUsuario == enumPerfilUsuario.Administrador"
                      class="btn btn-icon"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Ativar"
                      (click)="ativar(pessoaJuridica)"
                    >
                      <i class="fas fa-toggle-off"></i>
                    </button>
                  </ng-template>
                  <button
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Editar"
                    (click)='navigateToDadosGerais(pessoaJuridica.idPessoaJuridica)'
                  >
                    <i class="far fa-edit"></i>
                  </button>
                  <button
                    class="btn btn-icon"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Excluir"
                    (click)="solicitarExclusao(pessoaJuridica.idPessoaJuridica)"
                  >
                    <i class="far fa-trash-alt text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
