<div class="row bg-lighter border-bottom py-4 py-md-1">
  <div class="col-6 col-lg-1">
    <label for="" class="font-weight-bold d-block d-lg-none">Requisição</label>
    <p class="mb-lg-0" title="{{ item.requisicaoItem.idRequisicaoItem }}">
      {{ item.requisicaoItem.idRequisicaoItem }}
    </p>
  </div>
  <div class="col-6 col-lg-2">
    <label for="" class="font-weight-bold d-block d-lg-none">Código do Produto</label>
    <p class="mb-lg-0" title="{{ item.produto?.codigo }}">
      {{ item.produto?.codigo }}
    </p>
  </div>
  <div class="col-lg-3">
    <label for="" class="font-weight-bold d-block d-lg-none">Descrição do Produto</label>
    <p class="mb-lg-0" title="{{ item.produto?.descricao }}">
      {{ item.produto?.descricao }}
    </p>
  </div>
  <div class="col-6 col-lg-2">
    <label for="" class="font-weight-bold d-block d-lg-none">Categoria</label>
    <p class="mb-lg-0" title="{{ item.produto?.categoria.nome }}">
      {{ item.produto?.categoria.nome }}
    </p>
  </div>
  <div class="col-6 col-lg-2">
    <label for="" class="font-weight-bold d-block d-lg-none">Marca</label>
    <p class="mb-lg-0" title="{{ item.idMarca ? item.marca?.nome : 'Sem Preferência' }}">
      {{ item.idMarca ? item.marca?.nome : 'Sem Preferência' }}
    </p>
  </div>
  <div class="col-lg-2">
    <label for="" class="font-weight-bold d-block d-lg-none">Quantidade</label>
    <p class="mb-lg-0">
      {{
        item.produto?.unidadeMedida?.permiteQuantidadeFracionada
          ? (item.quantidade | number: '1.0-10':'pt-BR')
          : item.quantidade
      }}
      {{ item.produto?.unidadeMedida?.sigla }}
    </p>
  </div>
</div>
