<div class="header">
  <div class="header-search row">
    <div class="col-12 align-self-center">
      <h3 class="mb-0 text-uppercase text-primary font-weight-bold">{{ planoAcao?.nome }}</h3>
    </div>
  </div>
</div>
<div class="custom-nav-tabs">
  <ul class="nav nav-tabs row bounds" id="planoAcaoTab" role="tablist">
    <li class="nav-item col-md-6 col-lg-3">
      <a
        class="nav-link nav-link-block active"
        id="plano-acao-tab"
        data-toggle="tab"
        href="#plano-acao"
        role="tab"
        aria-controls="visita-tecnica"
        aria-selected="false"
      >
        Ações
      </a>
    </li>
  </ul>
  <div class="tab-content bounds" id="planoAcaoTabContent">
    <div
      class="tab-pane fade active show"
      id="plano-acao"
      role="tabpanel"
      aria-labelledby="visita-tecnica-tab"
    >
      <div class="card card-tab-content tab-content">
        <div class="card-header"></div>
        <div class="card-body">
          <div *ngFor="let acao of planoAcao?.acoes; let indexAcao = index">
            <form>
              <div class="container-fluid">
                <div class="row bg-white border-bottom">
                  <div class="col-12">
                    <div class="form-row">
                      <div class="form-group col-12 d-flex mb-0 mt-2 justify-content-between">
                        <h5 class="mb-0 text-primary font-weight-bold">{{ acao.descricao }}</h5>
                        <h5 class="mb-0 font-weight-bold">
                          {{ acao.prazo | date: 'dd/MM/yyyy' }}
                        </h5>
                      </div>
                      <div class="form-group col-12">
                        <small class="font-weight-bold">
                          {{ acao.observacoes }}
                        </small>
                      </div>
                    </div>
                    <app-listar-comentario-plano-acao
                      [acao]="acao"
                      [indexAcao]="indexAcao"
                      [usuarioLogado]="usuarioLogado"
                    ></app-listar-comentario-plano-acao>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer bg-white">
            <button type="button" (click)="voltar()" class="btn btn-outline-primary">
              <i class="fas fa-ban"></i> Voltar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
