<div
  class="item-empresa"
  [ngClass]="{
    holding: pessoaJuridica.holding,
    convencional: !pessoaJuridica.holding && !pessoaJuridica.filial,
    filial: !pessoaJuridica.holding && pessoaJuridica.filial
  }"
  title="Editar"
  (click)="editar($event, pessoaJuridica.idPessoaJuridica)"
>
  <div class="icon">
    <div *ngIf="pessoaJuridica.filial"></div>
    <i
      [ngClass]="{
        'fa-crown': pessoaJuridica.holding || (!pessoaJuridica.holding && !pessoaJuridica.filial),
        'fa-circle': pessoaJuridica.filial
      }"
      class="fa"
    ></i>
  </div>
  <div class="row d-flex justify-content-around content">
    <div class="d-flex col-md-2">
      <span
        >{{ pessoaJuridica.idPessoaJuridica }} &nbsp;
        <strong
          *ngIf="pessoaJuridica.situacao === 1"
          [ngClass]="{
            'text-success': !pessoaJuridica.holding
          }"
          >&#183;&nbsp;ATIVA
        </strong>
        <strong
          *ngIf="pessoaJuridica.situacao === 2"
          [ngClass]="{
            'text-muted': !pessoaJuridica.holding
          }"
          >&#183;&nbsp;INATIVA
        </strong>
        <strong
          *ngIf="pessoaJuridica.situacao === 3"
          [ngClass]="{
            'text-warning': !pessoaJuridica.holding
          }"
          >&#183;&nbsp;PENDENTE
        </strong>
      </span>
    </div>
    <strong class="col-md-2">{{ pessoaJuridica.cnpj }}</strong>
    <strong class="col-md-3">{{ pessoaJuridica.razaoSocial }}</strong>
    <strong class="col-md-2">{{ pessoaJuridica.nomeFantasia }}</strong>

    <div class="d-flex justify-content-end col-md-1">
      <button
        class="btn btn-sm btn-icon text-dark"
        title="Auditoria"
        (click)="auditar($event, pessoaJuridica.idPessoaJuridica)"
      >
        <i class="fa fa-history"></i>
      </button>
      <!--<button class="btn btn-sm btn-icon text-dark">
        <i class="fa fa-clone"></i>
      </button>-->
      <sdk-suspense-menu-button [icon]="'fa fa-clone'" title="Exportar">
        <ng-template sdkSuspenseMenu>
          <strong class="text-small label-menu-suspenso">EXPORTAR:</strong>
          <button
            class="btn btn-sm btn-icon"
            (click)="exportUsers(pessoaJuridica.idPessoaJuridica)"
          >
            <i class="fa fa-users"></i>
          </button>
        </ng-template>
      </sdk-suspense-menu-button>
      <sdk-suspense-menu-button [icon]="'fa fa-ellipsis-h'" title="...">
        <ng-template sdkSuspenseMenu>
          <button
            *ngIf="pessoaJuridica.situacao === 1"
            title="Desativar"
            class="btn btn-sm btn-icon"
            (click)="inativar(pessoaJuridica.idPessoaJuridica)"
          >
            <i class="fas fa-toggle-on text-success"></i>
          </button>
          <button
            *ngIf="pessoaJuridica.situacao === 2 || pessoaJuridica.situacao === 3"
            title="Ativar"
            class="btn btn-sm btn-icon"
            (click)="ativar(pessoaJuridica.idPessoaJuridica)"
          >
            <i class="fas fa-toggle-off"></i>
          </button>
          <button
            title="Excluir"
            class="btn btn-sm btn-icon"
            (click)="solicitarExclusao(pessoaJuridica.idPessoaJuridica)"
            *ngIf="pessoaJuridica.pessoasJuridicasFilho.length === 0"
          >
            <i class="far fa-trash-alt text-danger"></i>
          </button>
        </ng-template>
      </sdk-suspense-menu-button>
    </div>
  </div>
</div>
<ng-template
  [ngIf]="pessoaJuridica.pessoasJuridicasFilho"
  *ngFor="let filho of pessoaJuridica.pessoasJuridicasFilho"
>
  <item-pessoa-juridica
    [pessoaJuridica]="filho"
    (itemChange)="itemChange.emit()"
  ></item-pessoa-juridica>
</ng-template>
