:host {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: flex-start;
  border-radius: 8px 0px 0px 8px;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
}

.item-empresa {
  display: flex;
  align-self: stretch;
  width: 100%;
  min-height: 65px;
  margin-bottom: 1em;
  border-radius: 8px;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 8px #00000029;
  }
}

.item {
  cursor: pointer;
}

.icon {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
  border-radius: 8px 0 0 8px;
}

.holding {
  background: #0298cf;
  color: white;

  .icon {
    background: #0298cf;
    width: 63px;
  }

  div > button > i,
  &::ng-deep sdk-suspense-menu-button > button > i {
    color: white;
  }
}

.convencional {
  background: #ffffff;

  .icon {
    background: #00bbf3;
    color: white;
    width: 63px;
  }
}

.filial {
  background: #ffffff;
  .icon {
    background: white;
    color: #00bbf3;
    width: 63px;
    position: relative;

    div {
      height: 100%;
      width: 50%;
      position: absolute;
      background: #f0f0f0;
      top: 0;
      left: 0;
      border-radius: 8px 0 0 8px;
    }

    i {
      z-index: 1;
    }
  }
}

.content {
  padding: 10px 5px;
  width: 100%;
}

.content span,
.content strong {
  display: flex;
  align-items: center;
}

.label-menu-suspenso {
  color: #00bbf3;
  margin-right: 10px;
}
