<div class="row mb-3" *ngIf="!disabled">
  <div class="col-md-4 col-lg-2">
    <button role=button class="btn btn-block btn-primary" (click)="incluir()">
      <i class="fas fa-plus"></i> Incluir
    </button>
  </div>
  <div class="col-md-4 col-lg-2">
    <button role=button class="btn btn-block btn-secondary" (click)="alterar()"
      [class.disabled]="selecionadas?.length != 1">
      <i class="fas fa-pencil-alt"></i> Editar
    </button>
  </div>
  <div class="col-md-4 col-lg-2">
    <button role=button class="btn btn-block btn-danger" [class.disabled]="!selecionadas?.length"
      (click)="solicitarExclusao()">
      <i class="fas fa-trash-alt"></i> Remover
    </button>
  </div>
</div>
<custom-table classes="table-striped table-sm" [settings]="settings" [source]="permissoes" (select)="selecao($event)">
</custom-table>
<pager [page]="pagina" [total-pages]="totalPaginas" [records-per-page]="itensPorPagina"
  (pagination)="paginacao($event)"></pager>