<div class="listar-requisicoes">
  <smk-listar-funcionalidade
    titulo="Requisições"
    tooltipExportar="Exportar um período de 30 dias"
    [configuracaoFiltrosUsuario]="configuracaoFiltrosUsuario"
    [filtroInformado]="filtroInformado"
    [configuracaoDaTable]="configuracaoDaTable"
    [itensDaTable]="paginacaoPesquisaConfigurada?.itens"
    [colunasDisponiveis]="colunasDisponiveis"
    [configuracaoColunasUsuario]="paginacaoPesquisaConfigurada?.configuracaoColunasUsuario"
    (filtrosChange)="filtre()"
    (filtrosClear)="limpeFiltro()"
    (export)="exporte()"
    (colunasChange)="filtreRequisicoes(true)"
    (colunasReset)="filtreRequisicoes(true)"
    (selectedChange)="selecione($event)"
    (pageChange)="pagine($event)">
    <ng-container filtros>
      <form class="filtros" [formGroup]="formFiltro">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="idRequisicao">ID Requisição</label>
              <input
                id="idRequisicao"
                class="form-control"
                type="text"
                formControlName="idRequisicao"
                [textMask]="mascaraSomenteNumeros"
                (keyup.enter)="filtre()">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="situacao">Situação</label>
              <ng-select
                labelForId="situacao"
                bindValue="index"
                bindLabel="name"
                appendTo="body"
                formControlName="situacao"
                [clearAllText]="textoLimpar"
                [items]="opcoesSituacaoRequisicaoItem"
                [searchFn]="situacoesSearchFn"
                (keyup.enter)="filtre()">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="dataCriacaoInicio">Data Início Criação</label>
              <input
                id="dataCriacaoInicio"
                class="campo-data form-control"
                type="date"
                formControlName="dataCriacaoInicio"
                (keyup.enter)="filtre()">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="dataCriacaoFim">Data Fim Criação</label>
              <input
                id="dataCriacaoFim"
                class="campo-data form-control"
                type="date"
                formControlName="dataCriacaoFim"
                (keyup.enter)="filtre()">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="usuarioSolicitante">Usuário Solicitante</label>
              <ng-select
                labelForId="usuarioSolicitante"
                bindValue="idUsuario"
                bindLabel="pessoaFisica.nome"
                appendTo="body"
                formControlName="idUsuarioSolicitante"
                [clearAllText]="textoLimpar"
                [loading]="usuariosLoading"
                [loadingText]="textoLoading"
                [items]="usuarios"
                [searchFn]="usuariosSearchFn"
                (keyup.enter)="filtre()">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="usuarioResponsavel">Usuário Responsável</label>
              <ng-select
                labelForId="usuarioResponsavel"
                bindValue="idUsuario"
                bindLabel="pessoaFisica.nome"
                appendTo="body"
                formControlName="idUsuarioResponsavel"
                [clearAllText]="textoLimpar"
                [loading]="usuariosLoading"
                [loadingText]="textoLoading"
                [items]="usuarios"
                [searchFn]="usuariosSearchFn"
                (keyup.enter)="filtre()">
              </ng-select>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="dataCriacaoFim">Centro</label>
              <input
                id="centro"
                class="form-control"
                type="text"
                formControlName="centro"
                (keyup.enter)="filtre()">
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="descricaoItem">Descrição</label>
              <input
                id="descricaoItem"
                class="form-control"
                type="text"
                formControlName="descricaoItem"
                (keyup.enter)="filtre()">
            </div>
          </div>
          <div
            *ngIf="empresaLogada.integracaoSapHabilitada && empresaLogada.utilizaSolicitacaoCompra"
            class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="centro">Centro</label>
              <input
                id="centro"
                class="form-control"
                type="text"
                formControlName="centro"
                (keyup.enter)="filtre()">
            </div>
          </div>
          <div
            *ngIf="empresaLogada.integracaoSapHabilitada || empresaLogada.habilitarIntegracaoERP"
            class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="codigoRc">Código RC</label>
              <input
                id="codigoRc"
                class="form-control"
                type="text"
                formControlName="codigoRc"
                (keyup.enter)="filtre()">
            </div>
          </div>
          <div
            *ngIf="empresaLogada.habilitarIntegracaoERP && empresaLogada.habilitarIntegracaoSistemaChamado"
            class="col-md-6 col-lg-4 col-xl-3 col-xxxl-2">
            <div class="form-group">
              <label for="idChamado">ID Chamado</label>
              <input
                id="idChamado"
                class="form-control"
                type="text"
                formControlName="idChamado"
                (keyup.enter)="filtre()">
            </div>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-container acoes-table>
      <button
        *ngIf="permiteAlterarResponsavel"
        class="btn btn-outline-primary"
        ngbTooltip="Alterar responsável"
        (click)="soliciteAlterarResponsavel()">
        <i class="fas fa-user-edit"></i>
      </button>
      <button
        *ngIf="permiteCancelar"
        class="btn btn-outline-primary"
        ngbTooltip="Cancelar"
        (click)="soliciteCancelar()">
        <i class="fas fa-ban"></i>
      </button>
      <button
        *ngIf="permiteAvaliar"
        class="btn btn-primary"
        ngbTooltip="Aprovar"
        (click)="soliciteAprovar()">
        <i class="fas fa-check-circle"></i>
      </button>
      <button
        *ngIf="permiteAvaliar"
        class="btn btn-primary"
        ngbTooltip="Reprovar"
        (click)="soliciteReprovar()">
        <i class="fas fa-times-circle"></i>
      </button>
      <button
        *ngIf="exibeComentario"
        class="btn btn-outline-primary"
        ngbTooltip="Comentários"
        (click)="soliciteComentarios(modalComentariosTmp)">
        <i class="fas fa-comment-dots"></i>
      </button>
      <button
        *ngIf="permiteAuditoria"
        class="btn btn-outline-primary"
        ngbTooltip="Auditoria"
        (click)="soliciteAuditoria()">
        <i class="fas fa-history"></i>
      </button>
      <button
        *ngIf="permiteFluxoDeIntegracaoErp"
        class="btn btn-outline-primary"
        ngbTooltip="Fluxo de Integração ERP"
        (click)="soliciteFluxoDeIntegracaoErp()">
        <i class="fas fa-cogs"></i>
      </button>
    </ng-container>

    <ng-container column-templates>
      <ng-template customColumn="produto" let-item="item">
        <div class="coluna produto text-truncate" [title]="item.produto">{{ item.produto }}</div>
      </ng-template>
      <ng-template customColumn="situacao" let-item="item">
        <span
          class="coluna situacao-requisicao-item"
          smkSituacaoRequisicaoItem
          [situacaoRequisicaoItem]="item.situacao">
          {{ item.situacao | situacaoRequisicaoItem }}
        </span>
      </ng-template>
      <ng-template customColumn="sla" let-item="item">
        <cronometro
          *ngIf="[SituacaoRequisicaoItem.Aprovado, SituacaoRequisicaoItem['Em Cotação']].includes(item.situacao) && item.dataInicioContagem && item.dataFinalSla"
          [inline-mode]="true"
          [start-time]="item.dataInicioContagem"
          [event-time]="item.dataFinalSla"
          [paused]="item.slaPausa"
          [allow-actions]="[PerfilUsuario.Comprador, PerfilUsuario.Gestor, PerfilUsuario.Administrador].includes(this.usuarioLogado.permissaoAtual.perfil)"
          (start)="inicieSla(item.idRequisicaoItem)"
          (pause)="pauseSla(item.idRequisicaoItem)">
        </cronometro>
      </ng-template>
    </ng-container>
  </smk-listar-funcionalidade>
</div>

<ng-template #modalComentariosTmp let-modal>
  <div class="modal-comentarios">
    <div class="modal-header">
      <div class="modal-title">Comentários</div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body overflow-y-scroll">
      <comentarios
        [comentarios]="comentarios"
        (enviar)="envieComentario($event)"
        [readOnly]="permiteComentario == false || requisicaoSelecionada.situacao == SituacaoRequisicaoItem['Integração Requisição Cancelada']">
      </comentarios>
    </div>
    <div class="modal-footer pt-3">
      <button
        type="button"
        class="fechar btn btn-outline-primary w-30"
        (click)="modal.dismiss()">
        Fechar
      </button>
    </div>
  </div>
</ng-template>