<div class="modal-header">
  <div class="modal-title" id="modal-basic-title">
    {{ readonly ? 'Visualizar dados do ' : 'Gerar novo' }} Disparo:
  </div>
  <button type="button" class="close" aria-label="Close" (click)="voltar()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="modal-body">
  <div class="card">
    <a
      class="card-header collapsed"
      data-toggle="collapse"
      href="#collapseFornecedor"
      aria-expanded="true"
    >
      Fornecedores participantes
    </a>
    <div class="card-body">
      <div class="collapse show" id="collapseFornecedor">
        <div class="row">
          <div class="col-12 col-md-6 font-weight-bold" *ngIf="!readonly">
            FORNECEDORES NÃO PARTICIPANTES
          </div>
          <div class="col-12 col-md-6 font-weight-bold" [class.mx-3]="readonly">
            FORNECEDORES PARTICIPANTES
          </div>
        </div>
        <div class="card-body bg-white">
          <div class="row">
            <div class="col-12 col-md-6" *ngIf="!readonly">
              <div class="row">
                <div class="col">
                  <input-busca
                    placeholder="Buscar por fornecedores..."
                    (buscar)="buscarFornecedoresDisponiveis($event)"
                  >
                  </input-busca>
                </div>
              </div>

              <div class="row px-3 mt-3 mb-1">
                <div class="col">
                  <div class="row">
                    <div class="col-1">
                      <div
                        class="custom-control custom-checkbox"
                        (click)="selecionarTodosDisponiveis()"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="selectAllDisponiveis"
                          [checked]="todosFornecedoresDisponiveisSelecionados"
                        />
                        <label
                          class="custom-control-label"
                          style="position: absolute; pointer-events: none;"
                          for="selectAllDisponiveis"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 align-self-center">
                      <p class="mb-0">Selecionar todos</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row px-3 mb-3">
                <div class="col border rounded" style="height: 250px; overflow-y: auto;">
                  <div class="row py-1 bg-lighter-dark">
                    <div class="col-1"></div>
                    <div class="col-6">
                      <p class="font-weight-bold mb-0">Fornecedor</p>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      (!fornecedoresDisponiveis?.length && !fornecedores?.length) ||
                      (fornecedoresDisponiveisBusca && !fornecedoresDisponiveisBusca.length)
                    "
                  >
                    <p class="col no-content text-align-center" translate>
                      GENERAL.NO_RECORDS_FOUND
                    </p>
                  </div>

                  <ng-container
                    *ngFor="let fornecedor of fornecedoresDisponiveis; let indexDisponiveis = index"
                  >
                    <div
                      class="row pt-1 border-bottom"
                      [class.bg-lighter]="indexDisponiveis % 2 != 0"
                      *ngIf="exibirFornecedorDisponivel(fornecedor)"
                    >
                      <div class="col-1">
                        <div
                          class="custom-control custom-checkbox"
                          (click)="selecionarFornecedorDisponivel(fornecedor)"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="select{{ indexDisponiveis }}"
                            [checked]="fornecedorDisponivelSelecionado(fornecedor)"
                          />
                          <label
                            class="custom-control-label"
                            style="position: absolute; pointer-events: none;"
                            for="select{{ indexDisponiveis }}"
                          ></label>
                        </div>
                      </div>
                      <div class="col-10 align-self-center">
                        <p class="mb-0">{{ fornecedor.razaoSocial }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- mover selecao -->
              <div class="row" *ngIf="!readonly">
                <div class="col">
                  <button class="btn btn-light float-right" (click)="adicionar()">
                    <i class="fas fa-arrow-right text-primary"></i>
                  </button>
                </div>
              </div>
            </div>

            <div
              class="col-12 col-md-6"
              [class.border-right]="!readonly"
              [class.col-md-12]="readonly"
            >
              <div class="row">
                <div class="col">
                  <input-busca
                    placeholder="Buscar por fornecedores..."
                    (buscar)="buscarFornecedoresIncluidos($event)"
                  >
                  </input-busca>
                </div>
              </div>

              <div class="row px-3 mt-3 mb-1">
                <div class="col">
                  <div class="row" *ngIf="!readonly">
                    <div class="col-1">
                      <div
                        class="custom-control custom-checkbox"
                        (click)="selecionarTodosIncluidos()"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="selectAllIncluidos"
                          [checked]="todosFornecedoresIncluidosSelecionados"
                        />
                        <label
                          class="custom-control-label"
                          style="position: absolute; pointer-events: none;"
                          for="selectAllIncluidos"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 align-self-center">
                      <p class="mb-0">Selecionar todos</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row px-3 mb-3">
                <div class="col border rounded" style="height: 250px; overflow-y: auto;">
                  <div class="row py-1 bg-lighter-dark">
                    <div class="col-1" *ngIf="!readonly"></div>
                    <div class="col-6">
                      <p class="font-weight-bold mb-0">Fornecedor</p>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      (!fornecedores?.length && !fornecedoresDisponiveis?.length) ||
                      (fornecedoresIncluidosBusca && !fornecedoresIncluidosBusca.length)
                    "
                  >
                    <p class="col no-content text-align-center" translate>
                      GENERAL.NO_RECORDS_FOUND
                    </p>
                  </div>
                  <ng-container *ngFor="let fornecedor of fornecedores; let indexIncluidos = index">
                    <div
                      class="row pt-1 border-bottom"
                      [class.bg-lighter]="indexIncluidos % 2 != 0"
                      *ngIf="exibirFornecedorIncluido(fornecedor)"
                    >
                      <div class="col-1" *ngIf="!readonly">
                        <div
                          class="custom-control custom-checkbox"
                          (click)="selecionarFornecedorIncluido(fornecedor)"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="select{{ indexIncluidos }}"
                            [checked]="fornecedorIncluidoSelecionado(fornecedor)"
                          />
                          <label
                            class="custom-control-label"
                            style="position: absolute; pointer-events: none;"
                            for="select{{ indexIncluidos }}"
                          ></label>
                        </div>
                      </div>
                      <div class="col-10 align-self-center" [class.col-md-12]="readonly">
                        <p class="mb-0">{{ fornecedor.razaoSocial }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="row" *ngIf="!readonly">
                <div class="col">
                  <button class="btn btn-light float-left" (click)="remover()">
                    <i class="fas fa-arrow-left text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <a class="card-header collapsed" data-toggle="collapse" href="#collapseUsuario">
      Usuários participantes
    </a>
    <div class="card-body">
      <div class="collapse" id="collapseUsuario">
        <div class="row">
          <div class="col-12 col-md-6 font-weight-bold" *ngIf="!readonly">
            USUÁRIOS NÃO PARTICIPANTES
          </div>
          <div class="col-12 col-md-6 font-weight-bold" [class.mx-3]="readonly">
            USUÁRIOS PARTICIPANTES
          </div>
        </div>
        <div class="card-body bg-white">
          <div class="row">
            <div class="col-12 col-md-6" *ngIf="!readonly">
              <div class="row">
                <div class="col">
                  <input-busca
                    placeholder="Buscar por usuarios..."
                    (buscar)="buscarUsuariosDisponiveis($event)"
                  >
                  </input-busca>
                </div>
              </div>

              <div class="row px-3 mt-3 mb-1">
                <div class="col">
                  <div class="row">
                    <div class="col-1">
                      <div
                        class="custom-control custom-checkbox"
                        (click)="selecionarTodosUsuariosDisponiveis()"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="selectAllDisponiveis"
                          [checked]="todosUsuariosDisponiveisSelecionados"
                        />
                        <label
                          class="custom-control-label"
                          style="position: absolute; pointer-events: none;"
                          for="selectAllDisponiveis"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 align-self-center">
                      <p class="mb-0">Selecionar todos</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row px-3 mb-3">
                <div class="col border rounded" style="height: 250px; overflow-y: auto;">
                  <div class="row py-1 bg-lighter-dark">
                    <div class="col-1"></div>
                    <div class="col-6">
                      <p class="font-weight-bold mb-0">Usuário</p>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      (!usuariosDisponiveis?.length && !usuarios?.length) ||
                      (usuariosDisponiveisBusca && !usuariosDisponiveisBusca.length)
                    "
                  >
                    <p class="col no-content text-align-center" translate>
                      GENERAL.NO_RECORDS_FOUND
                    </p>
                  </div>

                  <ng-container
                    *ngFor="let usuario of usuariosDisponiveis; let indexDisponiveis = index"
                  >
                    <div
                      class="row pt-1 border-bottom"
                      [class.bg-lighter]="indexDisponiveis % 2 != 0"
                      *ngIf="exibirUsuarioDisponivel(usuario)"
                    >
                      <div class="col-1">
                        <div
                          class="custom-control custom-checkbox"
                          (click)="selecionarUsuarioDisponivel(usuario)"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="select{{ indexDisponiveis }}"
                            [checked]="usuarioDisponivelSelecionado(usuario)"
                          />
                          <label
                            class="custom-control-label"
                            style="position: absolute; pointer-events: none;"
                            for="select{{ indexDisponiveis }}"
                          ></label>
                        </div>
                      </div>
                      <div class="col-10 align-self-center">
                        <p class="mb-0">{{ usuario.pessoaFisica.nome }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- mover selecao -->
              <div class="row" *ngIf="!readonly">
                <div class="col">
                  <button class="btn btn-light float-right" (click)="adicionarUsuario()">
                    <i class="fas fa-arrow-right text-primary"></i>
                  </button>
                </div>
              </div>
            </div>

            <div
              class="col-12 col-md-6"
              [class.border-right]="!readonly"
              [class.col-md-12]="readonly"
            >
              <div class="row">
                <div class="col">
                  <input-busca
                    placeholder="Buscar por usuarios..."
                    (buscar)="buscarUsuariosIncluidos($event)"
                  >
                  </input-busca>
                </div>
              </div>

              <div class="row px-3 mt-3 mb-1">
                <div class="col">
                  <div class="row" *ngIf="!readonly">
                    <div class="col-1">
                      <div
                        class="custom-control custom-checkbox"
                        (click)="selecionarTodosUsuariosIncluidos()"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="selectAllIncluidos"
                          [checked]="todosUsuariosIncluidosSelecionados"
                        />
                        <label
                          class="custom-control-label"
                          style="position: absolute; pointer-events: none;"
                          for="selectAllIncluidos"
                        ></label>
                      </div>
                    </div>
                    <div class="col-10 align-self-center">
                      <p class="mb-0">Selecionar todos</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row px-3 mb-3">
                <div class="col border rounded" style="height: 250px; overflow-y: auto;">
                  <div class="row py-1 bg-lighter-dark">
                    <div class="col-1" *ngIf="!readonly"></div>
                    <div class="col-6">
                      <p class="font-weight-bold mb-0">Usuário</p>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="
                      (!usuarios?.length && !usuariosDisponiveis?.length) ||
                      (usuariosIncluidosBusca && !usuariosIncluidosBusca.length)
                    "
                  >
                    <p class="col no-content text-align-center" translate>
                      GENERAL.NO_RECORDS_FOUND
                    </p>
                  </div>
                  <ng-container *ngFor="let usuario of usuarios; let indexIncluidos = index">
                    <div
                      class="row pt-1 border-bottom"
                      [class.bg-lighter]="indexIncluidos % 2 != 0"
                      *ngIf="exibirUsuarioIncluido(usuario)"
                    >
                      <div class="col-1" *ngIf="!readonly">
                        <div
                          class="custom-control custom-checkbox"
                          (click)="selecionarUsuarioIncluido(usuario)"
                        >
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="select{{ indexIncluidos }}"
                            [checked]="usuarioIncluidoSelecionado(usuario)"
                          />
                          <label
                            class="custom-control-label"
                            style="position: absolute; pointer-events: none;"
                            for="select{{ indexIncluidos }}"
                          ></label>
                        </div>
                      </div>
                      <div class="col-10 align-self-center" [class.col-12]="readonly">
                        <p class="mb-0">{{ usuario.pessoaFisica.nome }}</p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="row" *ngIf="!readonly">
                <div class="col">
                  <button class="btn btn-light float-left" (click)="removerUsuario()">
                    <i class="fas fa-arrow-left text-danger"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <div class="row d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="voltar()"
      [class.mx-2]="readonly"
    >
      <i class="fas fa-ban"></i> Voltar
    </button>
    <button type="button" class="btn btn-primary mx-2" (click)="disparar()" *ngIf="!readonly">
      <i class="fas fa-check"></i> Disparar
    </button>
  </div>
</div>
